<div class="modal-header">
  <h4 style="display: inline">
    {{action}} Concept
  </h4>
  <span style="float: right">
    <i class="glyphicon glyphicon-remove" ng-click="cancel()"> </i>
  </span>
</div>

<div class="modal-body">
  <!-- Translation info -->
  <div translation-info translation="translation" form="short"
    metadata="metadata"></div>

  <table class="table">
    <tr>
      <td class="col-md-4 col-xs-4">
        <b>Concept Id</b>
      </td>
      <td class="col-md-8 col-xs-8">{{concept.terminologyId}}</td>

    </tr>
    <tr>
      <td>
        <b>Name</b>
      </td>
      <td>{{concept.name}}</td>
    </tr>
    <tr>
      <td>
        <b>Select user</b>
      </td>
      <td>
        <select ng-model="user" ng-options="item.name for item in assignedUsers"></select>
      </td>
    </tr>
    <!-- Show notes if we know the concept id -->
    <tr ng-show="concept.id">
      <td colspan="2">
        <b>Note</b>
      </td>
    </tr>
    <tr ng-show="concept.id">
      <td colspan="2">
        <textarea rows="4" cols="40" ng-model="note" ui-tinymce="tinymceOptions"></textarea>
      </td>
    </tr>

    <!--  Errors -->
    <tr ng-show="errors.length > 0">
      <td colspan="2">
        <div class="alert alert-danger alert-error">
          {{errors[0]}}
          <div style="display: inline; float: right;">
            <i ng-show="errors[1]"
              title="{{error.expand ? 'Show' : 'Hide'}} long error"
              class="noul material-icons md-18"
              ng-click="error.expand = !error.expand;">attach_file</i>
          </div>
          <p ng-show="errors[1] && error.expand">
            <br />{{errors[1]}}
          </p>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button ng-show="action == 'ASSIGN'" class="btn btn-primary"
    ng-click="assignConcept();">Assign</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>