<div class="modal-header">
  <h4 style="display: inline">ASSIGN Concepts</h4>
  <span style="float: right">
    <i class="glyphicon glyphicon-remove" ng-click="cancel()"> </i>
  </span>
</div>

<div class="modal-body">

  <!-- Translation info -->
  <div translation-info translation="translation" form="short"
    metadata="metadata"></div>

  <table class="table">
    <tr>
      <td class="col-md-4 col-xs-4">
        <b>Batch size</b>
      </td>
      <td class="col-md-8 col-xs-8">
        <select ng-model="batchSize" ng-options="size for size in batchSizes">
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <b>Select user</b>
      </td>
      <td>
        <select ng-model="user" ng-options="item.name for item in assignedUsers"></select>
      </td>
    </tr>
    <!-- No notes because we dont know concept id yet
    <tr>
      <td>
        <b>Note</b>
      </td>
      <td>
        <textarea rows="4" cols="40" ng-model="note" ui-tinymce="tinymceOptions"></textarea>
      </td>
    </tr>
 -->
    <tr ng-show="errors.length > 0">
      <td colspan="2">
        <div class="alert alert-danger alert-error">
          {{errors[0]}}
          <div style="display: inline; float: right;">
            <i ng-show="errors[1]"
              title="{{error.expand ? 'Show' : 'Hide'}} long eror"
              class="noul material-icons md-18"
              ng-click="error.expand = !error.expand;">attach_file</i>
          </div>
          <p ng-show="errors[1] && error.expand">
            <br />{{errors[1]}}
          </p>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="assignBatch(); 
    ">Assign</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>