<div class="modal-header">
  <h4 style="display: inline">Copy {{type}}</h4>
  <span style="float: right">
    <i class="glyphicon glyphicon-remove" ng-click="cancel()"> </i>
  </span>
</div>

<div class="modal-body">
  <div>
    <table class="table">

      <tr>
        <td>
          <b>From Translation</b>
        </td>
        <td>
          <select ng-model="translation"
            ng-options="item.name.concat(' (',item.id,')') for item in translations"></select>
          <span ng-show="translation">
            <br /> {{translation.moduleId}}
            <span flag-icon obj="translation"></span>
            {{translation.organization}}
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <b>To Translation</b>
        </td>
        <td>{{toTranslation.terminologyId}}</td>
      </tr>
      <tr>
        <td>
          <b>Description</b>
        </td>
        <td>{{translation.description}}</td>
      </tr>
      <tr>
        <td>
          <b>Module Id</b>
        </td>
        <td>
          {{translation.moduleId}}
          <span flag-icon obj="translation"></span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Language</b>
        </td>
        <td>{{translation.language}}</td>
      </tr>

      <tr ng-show="errors.length > 0">
        <td colspan="2">
          <div class="alert alert-danger alert-error">
            {{errors[0]}}
            <div style="display: inline; float: right;">
              <i ng-show="errors[1]"
                title="{{error.expand ? 'Show' : 'Hide'}} long eror"
                class="noul material-icons md-18"
                ng-click="error.expand = !error.expand;">attach_file</i>
            </div>
            <p ng-show="errors[1] && error.expand">
              <br />{{errors[1]}}
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button ng-disabled="!translation" class="btn btn-primary" ng-click="copy();">Copy</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>