<div class="modal-header">
  <h4>Copy {{type}}</h4>
</div>

<div class="modal-body">
  <div>
    <table class="table">

      <tr>
        <td>
          <b>From Translation</b>
        </td>
        <td>
          <select ng-model="translation" 
            ng-options="item.name.concat(' (',item.id,')') for item in translations"></select>
          <span ng-show="translation">
            <br /> {{translation.moduleId}}
            <span flag-icon obj="translation"></span>
            {{translation.organization}}
          </span>
        </td>
      </tr>
      </td>
      </tr>
      <tr>
        <td>
          <b>To Translation</b>
        </td>
        <td>{{toTranslation.terminologyId}}</td>
      </tr>
      <tr>
        <td>
          <b>Name</b>
        </td>
        <td>{{toTranslation.name}}</td>
      </tr>
      <tr>
        <td>
          <b>Description</b>
        </td>
        <td>{{toTranslation.description}}</td>
      </tr>
      <tr>
        <td>Module Id</td>
        <td>
          {{toTranslation.moduleId}}
          <!-- Mobile friendly line-break -->
          <br class="visible-xs-inline" />
          <span flag-icon obj="toTranslation"></span>
        </td>
      </tr>
      <tr ng-show="errors.length > 0">
        <td>&nbsp;</td>
        <td>
          <div class="alert alert-danger alert-error"
            ng-repeat="error in errors">
            {{error}}
            <!-- DO NOT SUPPORT clearing error <div
              style="cursor: pointer; display: inline; float: right; width: 3%;">
              <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
            </div> -->
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button ng-disabled="!translation" class="btn btn-primary" ng-click="copy();">Copy</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>