<div class="modal-header">
  <h4 style="display: inline">{{operation}} {{type}}</h4>
  <span style="float: right">
    <i class="noul glyphicon glyphicon-remove" ng-click="close()"> </i>
  </span>
</div>

<div class="modal-body">
  <div>
    <!-- Translation info -->
    <div translation-info translation="translation" form="long"
      metadata="metadata"></div>

    <table class="table">
      <tr ng-show="type == 'Translation'">
        <td class="col-md-4 col-xs-4">
          <b>I/O Handler</b>
        </td>
        <td class="col-md-8 col-xs-8">
          <span ng-show="ioHandlers.length>1">
            <select ng-model="selectedIoHandler"
              ng-options="item.name for item in ioHandlers"></select>
          </span>
          <span ng-show="ioHandlers.length == 1">{{ioHandlers[0].name}}</span>
        </td>
      </tr>
      <tr ng-show="operation == 'Import' && selectedIoHandler.ioType == 'FILE'">
        <td class="col-md-4 col-xs-4">
          <b>Choose File</b>
        </td>
        <td class="col-md-8 col-xs-8">
          <div>
            <button style="margin-left: 15px" type="file" ngf-select
              ng-model="file" name="file"
              ngf-pattern="'{{selectedIoHandler.fileTypeFilter}}'"
              accept="{{selectedIoHandler.fileTypeFilter}}"
              ngf-max-size="200MB">Browse for File</button>
            <br />
            <div ngf-drop ng-model="file" class="drop-box"
              ngf-drag-over-class="'dragover'" 
              ngf-max-size="200MB"
              ngf-pattern="'{{selectedIoHandler.fileTypeFilter}}'"
              accept="{{selectedIoHandler.fileTypeFilter}}"
              ngf-model-invalid="invalidFiles" 
              ngf-change="validateFile($invalidFiles)"
              >Drop
              file here</div>
              <div class="alert alert-danger alert-error" 
                ng-show="(fileImportErrorMessage)">
                {{fileImportErrorMessage}}
              </div>
          </div>
        </td>
      </tr>
      <tr ng-show="!file && type != 'Translation'">
        <td>&nbsp;</td>
        <td ng-show="type == 'Spelling Dictionary'">Format is a file with
          one single correctly spelled word per line.</td>
        <td ng-show="type == 'Phrase Memory'">Format is a vertical bar
          (e.g. |) delimited file with one "phrase|translated phrase" per line.
          Multiple entries for the same phrase are allowed.</td>
      </tr>
      <tr ng-show="file">
        <td>Selected File</td>
        <td>{{file.name}}</td>
      </tr>
      <tr ng-show="comments.length > 0">
        <td colspan="2">
          <div class="alert alert-success" ng-repeat="comment in comments">
            {{comment}}</div>
        </td>
      </tr>
      <tr ng-show="warnings.length > 0">
        <td colspan="2">
          <div class="alert alert-warning" ng-repeat="warning in warnings">
            {{warning}}</div>
        </td>
      </tr>
      <tr ng-show="errors.length > 0">
        <td colspan="2">
          <div class="alert alert-danger alert-error">
            {{errors[0]}}
            <div style="display: inline; float: right;">
              <i ng-show="errors[1]"
                title="{{error.expand ? 'Show' : 'Hide'}} long error"
                class="noul material-icons md-18"
                ng-click="error.expand = !error.expand;">attach_file</i>
            </div>
            <p ng-show="errors[1] && error.expand">
              <br />{{errors[1]}}
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-xs btn-primary" ng-show="operation == 'Export'"
    ng-click="export();">Export</button>
  <!-- spelling/memory import button -->
  <button class="btn btn-xs btn-primary" ng-disabled="!file"
    ng-show="operation == 'Import' && type != 'Translation'"
    ng-click="import(file, selectedAction);">Import</button>

  <!--  translation import button -->
  <button class="btn btn-xs btn-primary" ng-disabled="!file"
    ng-show="operation == 'Import' && selectedIoHandler.ioType == 'FILE' && errors.length == 0 && comments.length == 0 && type == 'Translation'"
    ng-click="import(file, selectedAction);">Import</button>
  <button class="btn btn-xs btn-primary"
    ng-show="operation == 'Import' && selectedIoHandler.ioType == 'API' && errors.length == 0 && comments.length == 0 && type == 'Translation'"
    ng-click="import(null, selectedAction);">Import</button>
    
  <button class="btn btn-xs btn-primary" ng-disabled="!file && selectedIoHandler.ioType == 'FILE'"
    ng-show="operation == 'Import' && errors.length > 0 && type == 'Translation'"
    ng-click="continueImport(file, selectedAction);">Continue With Import</button>
  <button class="btn btn-xs btn-warning" ng-show="comments.length == 0"
    ng-click="cancel()">Cancel</button>
  <button class="btn btn-xs btn-warning" ng-click="close()">Close</button>

</div>