<div class="modal-header">
  <h4>Release Translation</h4>
</div>

<div class="modal-body">
  <span
    ng-show="translation.inPublicationProcess && !validationResult && translation.stagingType != 'BETA'"
    class="alert alert-warning">Release of {{releaseInfo.name}} has been
    started.</span>

  <span
    ng-show="validationResult && translation.stagingType != 'BETA' &&
    validationResult.warnings.length == 0 &&
    validationResult.errors.length == 0"
    class="alert alert-warning">Validation passed with no errors or
    warnings.</span>

  <span
    ng-show="translation.stagingType == 'BETA' || stagedTranslation.workflowStatus == 'BETA'"
    class="alert alert-warning">The BETA release can be viewed in the
    "Releases" section.</span>
  <br>
  <span
    ng-show="translation.stagingType == 'BETA' || stagedTranslation.workflowStatus == 'BETA'"
    class="alert alert-warning">Click 'Finish' to complete the release.</span>

  <div ng-show="validationResult && translation.stagingType != 'BETA'">
    <h4 ng-show="validationResult.comments.length > 0">Comments</h4>
    <table class="table">
      <tr ng-repeat="comment in validationResult.comments">
        <td>{{comment}}</td>
      </tr>
    </table>
    <h4 ng-show="validationResult.warnings.length > 0">Warnings</h4>
    <table class="table">
      <tr ng-repeat="warning in validationResult.warnings">
        <td>{{warning}}</td>
      </tr>
    </table>
    <h4 ng-show="validationResult.errors.length > 0">Errors</h4>
    <table class="table">
      <tr ng-repeat="error in validationResult.errors">
        <td>{{error}}</td>
      </tr>
    </table>
  </div>
  <div ng-show="!translation.inPublicationProcess">
    <table class="table">
      <tr>
        <td>
          <b>Id</b>
        </td>
        <td>{{translation.terminologyId}}</td>
      </tr>
      <tr>
        <td>
          <b>Name</b>
        </td>
        <td>{{translation.name}}</td>
      </tr>
      <tr>
        <td>
          <b>Description</b>
        </td>
        <td>{{translation.description}}</td>
      </tr>
      <tr>
        <td>
          <b>Definition</b>
        </td>
        <td>{{translation.definition}}</td>
      </tr>
      <tr>
        <td>
          <b>Type</b>
        </td>
        <td>
          <span translation-type-icon translation="translation"></span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Workflow Status</b>
        </td>
        <td>{{translation.workflowStatus}}</td>
      </tr>
      <tr>
        <td>
          <b>Release Date</b>
        </td>
        <td>
          <p class="input-group">
            <span class="input-group-btn">
              <input style="width: 150px" type="text" class="form-control"
                uib-datepicker-popup="yyyyMMdd"
                ng-model="translation.effectiveTime" is-open="status.opened"
                datepicker-options="dateOptions"
                date-disabled="disabled(date, mode)" ng-required="true"
                close-text="Close" placeholder="YYYYMMDD" />
              <button type="button" class="btn btn-default"
                ng-click="open($event)">
                <i title="Calendar" class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <b>I/O Handler</b>
        </td>
        <td>
          <span ng-show="ioHandlers.length>
              1">
            <select ng-model="selectedIoHandler"
              ng-options="item.name for item in ioHandlers"></select>
          </span>
          <span ng-show="ioHandlers.length == 1">{{ioHandlers[0].name}}</span>
        </td>
      </tr>
      <!-- Errors -->
      <tr ng-show="errors.length > 0">
        <td>&nbsp;</td>
        <td>
          <div class="alert alert-danger alert-error"
            ng-repeat="error in errors">
            {{error}}
            <!-- DO NOT SUPPORT clearing error <div
              style="cursor: pointer; display: inline; float: right; width: 3%;">
              <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
            </div> -->
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">

  <button class="btn btn-primary" ng-show="!translation.inPublicationProcess"
    ng-click="beginTranslationRelease(translation)">Release</button>
  <button class="btn btn-primary"
    ng-show="translation.inPublicationProcess && !validationResult && translation.stagingType != 'BETA' && stagedTranslation.workflowStatus != 'BETA'"
    ng-click="validateTranslationRelease(translation)">Validate</button>
  <button class="btn btn-primary"
    ng-show="validationResult && translation.stagingType != 'BETA'"
    ng-click="betaTranslationRelease(translation)">Beta</button>
  <button class="btn btn-primary"
    ng-show="translation.stagingType == 'BETA' || stagedTranslation.workflowStatus == 'BETA'"
    ng-click="finishTranslationRelease(translation)">Finish</button>
  <button class="btn btn-error" ng-show="translation.inPublicationProcess"
    confirm="Are you sure you want to cancel the translation release?"
    ng-click="cancel(translation)">Cancel</button>
  <button class="btn btn-warning" ng-click="close()">Close</button>
</div>