<!-- R1 -->
<div class="row">

  <!-- R1C1 -->
  <div class="col-md-6 col-xs-12">

    <div>
      <span class="info-text" ng-show="translations.totalCount > 10"
        style="float: right; margin-top: 4px">
        Page size: <select ng-model="paging['translation'].page"
          title="Page Size" ng-change="getTranslations()"
          ng-options="item.value as item.name for item in pageSizes">
        </select>
      </span>

      <uib-pagination items-per-page="paging['translation'].pageSize"
        max-size="5" boundary-links="true" class="pagination-sm"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
        last-text="&raquo;"
        ng-show="translations.totalCount > paging['translation'].pageSize"
        total-items="translations.totalCount"
        ng-model="paging['translation'].page" ng-change="getTranslations()"></uib-pagination>

      <!-- Mobile friendly line-break -->
      <span class="visible-xs">
        <br class="visible-xs-inline" />
      </span>

      <input class="input-filter" placeholder="Search"
        ng-show="translations.totalCount > 0 || paging['translation'].filter"
        type="text" ng-model="paging['translation'].filter"
        ng-model-options="{ debounce: 300 }" ng-change="getTranslations()"
        title="{{paging['translation'].filter}}" list="filter{{value}}">
      <datalist id="filter{{value}}">
        <option ng-repeat="filter in filters | orderBy:'key'"
          value="{{filter.key}}:{{filter.value}}">{{filter.value}}</option>
      </datalist>

      <button class="btn btn-xs btn-warning"
        ng-show="paging['translation'].filter"
        ng-click="paging['translation'].filter = ''; clearUrlParams(); getTranslations()"
        title="Click to clear filter text">Clear</button>

      <!-- No need to show for BETA, there should be only one -->
      <button type="button" class="btn btn-xs btn-primary"
        ng-show="translations.totalCount > 0 && isDirectory()"
        ng-model="showLatest" ng-change="getTranslations()" uib-btn-checkbox
        btn-checkbox-true="true" btn-checkbox-false="false">
        <span ng-show="showLatest"
          title="Showing only most recent, click to toggle">Latest</span>
        <span ng-hide="showLatest"
          title="Showing only most recent, click to toggle">All</span>
      </button>

      <h4 ng-show="value=='EDITING' && translations.totalCount == 0">
        <span style="float: right;">
          <button ng-click="openAddTranslationModal(); $event.stopPropagation()"
            title="Add translation" class="btn btn-xs btn-primary">Add
            Translation</button>
        </span>
      </h4>

    </div>

    <span ng-show="translations.totalCount == 0" style="display: block;"
      class="alert alert-warning">No translations.</span>
    <table ng-show="translations.totalCount > 0" class="table">
      <thead>
        <tr>
          <th class="col-md-2 col-xs-2"><span
              ng-click="setSortField('translation','terminologyId')">
              Refset Id
              <span ng-bind="getSortIndicator('translation','terminologyId')"></span>
            </span></th>

          <!-- PUBLISHED/BETA -->
          <th ng-show="isDirectory()" class="col-md-5 col-xs-5"><span
              ng-click="setSortField('translation','name')">
              Name
              <span ng-bind="getSortIndicator('translation','name')"></span>
            </span> / <span ng-show="isDirectory() || value == 'RELEASE'">
              <span ng-click="setSortField('translation','effectiveTime')">
                Effective Time
                <span ng-bind="getSortIndicator('translation','effectiveTime')"></span>
              </span>
            </span></th>
          <th ng-show="isDirectory()" class="col-md-4 col-xs-4"><span
              ng-click="setSortField('translation','moduleId')">
              Module
              <span ng-bind="getSortIndicator('translation','moduleId')"></span>
            </span> / <span ng-click="setSortField('translation','terminology')">
              Terminology
              <span ng-bind="getSortIndicator('translation','terminology')"></span>
            </span></th>

          <!-- NOT PUBLISHED/BETA -->
          <th ng-show="!isDirectory()" class="col-md-4 col-xs-4"><span
              ng-click="setSortField('translation','name')">
              Name
              <span ng-bind="getSortIndicator('translation','name')"></span>
            </span> / <span ng-show="isDirectory() || value == 'RELEASE'">
              <span ng-click="setSortField('translation','effectiveTime')">
                Effective Time
                <span ng-bind="getSortIndicator('translation','effectiveTime')"></span>
              </span>
            </span> <span ng-show="!isDirectory() && value != 'RELEASE'">
              <span ng-click="setSortField('translation','lastModified')">
                Last Modified
                <span ng-bind="getSortIndicator('translation','lastModified')"></span>
              </span>
            </span></th>
          <th ng-show="!isDirectory()" class="col-md-3 col-xs-3"><span
              ng-click="setSortField('translation','moduleId')">
              Module
              <span ng-bind="getSortIndicator('translation','moduleId')"></span>
            </span> / <span ng-click="setSortField('translation','terminology')">
              Terminology
              <span ng-bind="getSortIndicator('translation','terminology')"></span>
            </span> <span ng-show="projects.role == 'ADMIN' || value == 'RELEASE'">
              /
              <span ng-click="setSortField('translation','workflowStatus')">
                Status</span>
              <span ng-bind="getSortIndicator('translation','workflowStatus')"></span>
            </span></th>

          <th class="col-md-1 col-xs-1"><span title="Language"
              ng-click="setSortField('translation','language')">
              Lang.
              <span ng-bind="getSortIndicator('translation','language')"></span>
            </span></th>

          <!-- PUBLISHED/BETA -->
          <!-- No actions column -->

          <!-- NOT PUBLISHED/BETA -->
          <th class="col-md-2 col-xs-2" ng-show="userProjectsInfo.anyRole">
            <span ng-show="value == 'EDITING'" style="float: right;">
              <button ng-click="openAddTranslationModal()"
                title="Add translation" class="btn btn-xs btn-primary">Add</button>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="translation in translations"
          ng-class="{selected: translation.id == selected.translation.id}"
          ng-click="selectTranslation(translation);" class="table-select-row">
          <td style="word-break: break-word;">{{translation.terminologyId}}</td>
          <td>
            {{translation.name}}
            <span ng-show="translation.effectiveTime">
              <br />{{toSimpleDate(translation.effectiveTime)}}
            </span>
            <span ng-show="!translation.effectiveTime">
              <br />{{toDate(translation.lastModified)}}
              <span ng-show="projects.role == 'ADMIN'">
                <br />{{translation.lastModifiedBy}}
              </span>
            </span>
          </td>
          <td>
            <span style="word-break: break-word;">
              {{translation.moduleId}}</span>
            <span flag-icon obj="translation"></span>

            <span>
              <!-- Mobile friendly line-break -->
              <br class="visible-xs-inline" />
              <span ng-show="isDirectory()">
                {{getTranslationOrganization(translation)}}</span>
            </span>
            <br />
            <span>{{getTerminologyName(translation.terminology)}}
              {{translation.version}} </span>

            <span ng-show="!isDirectory()">
              <span ng-show="projects.role == 'ADMIN' || value == 'RELEASE'">
                <br />{{translation.workflowStatus}}
              </span>
            </span>
          </td>
          <td>{{translation.language}}</td>

          <!-- EDITING actions -->
          <td class="nobreak"
            ng-show="value == 'EDITING' && projects.role != 'ADMIN'">
            <i
              ng-click="openEditTranslationModal(translation); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i
              confirm="Are you sure you want to remove the translation ({{translation.name}})?"
              ng-click="removeTranslation(translation);" title="Remove"
              class="noul material-icons md-18">delete</i>


            <!-- Start release -->
            <i
              ng-show="!translation.inPublicationProcess && translation.workflowStatus != 'PUBLISHED' && translation.workflowStatus!='BETA'"
              ng-click="openReleaseProcessModal(translation); $event.stopPropagation()"
              title="Start release process" class="noul material-icons md-18">open_in_new</i>

            <i
              ng-show="translation.inPublicationProcess  && translation.workflowStatus != 'PUBLISHED' && translation.workflowStatus!='BETA'"
              ng-click="openReleaseProcessModal(translation); $event.stopPropagation()"
              title="Continue release processing"
              class="noul material-icons md-18">open_in_new</i>

            <!-- Cancel staging operation -->
            <span ng-show="translation.stagingType == 'IMPORT'">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="cancelAction(translation)"
                title="Click to cancel failed import">Cancel Import</button>
            </span>
            <!-- Show cancel release on BETA if there is one, 
                 otherwise on READY_FOR_PUBLICATION refset itself -->
            <span
              ng-show="translation.workflowStatus == 'BETA' || translation.inPublicationProcess">
              <br />
              <button class="btn btn-xs btn-warning"
                confirm="Are you sure you want to cancel the release process?"
                ng-click="cancelAction(translation); $event.stopPropagation()"
                title="Click to cancel release process">Cancel Release</button>
            </span>


            <!-- Refresh/start buttons if lookup in progress -->
            <span
              ng-show="translation.lookupInProgress && translationLookupProgress[translation.id] == -1">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="startLookup(translation)"
                title="Click to restart lookup">Restart Lookup</button>
            </span>
            <span
              ng-show="translation.lookupInProgress && translationLookupProgress[translation.id] > -1 && translationLookupProgress[translation.id] < 100">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="refreshLookupProgress(translation)"
                title="Click to refresh lookup progress">
                Refresh
                <span ng-show="translationLookupProgress[translation.id]">
                  {{translationLookupProgress[translation.id]}}%</span>
              </button>
            </span>

          </td>

          <!-- EDITING ADMIN actions -->
          <td class="nobreak"
            ng-show="value == 'EDITING' && projects.role =='ADMIN'">
            <i
              ng-click="openEditTranslationModal(translation); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i
              confirm="Are you sure you want to remove the translation ({{translation.name}})?"
              ng-click="removeTranslation(translation);" title="Remove"
              class="noul material-icons md-18">delete</i>
          </td>

          <!-- RELEASE actions -->
          <td class="nobreak" ng-show="value == 'RELEASE'">
            <!-- cannot delete a BETA release, must cancel release -->
            <i
              ng-show="!translation.inPublicationProcess && translation.workflowStatus != 'BETA'"
              confirm="Are you sure you want to remove the translation ({{translation.name}})?"
              ng-click="removeTranslation(translation);" title="Remove"
              class="noul material-icons md-18">delete</i>

            <i
              ng-show="translation.inPublicationProcess  && translation.workflowStatus != 'PUBLISHED'"
              ng-click="openReleaseProcessModalForStaged(translation); $event.stopPropagation()"
              title="Continue release processing"
              class="noul material-icons md-18">open_in_new</i>
            <span ng-show="translation.workflowStatus == 'BETA'">
              <br />
              <button class="btn btn-xs btn-warning"
                confirm="Are you sure you want to cancel the release?"
                ng-click="cancelActionForStaged(translation);$event.stopPropagation()"
                title="Click to cancel release process">Cancel Release</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- End R1C1 -->
  </div>

  <!-- R1C2 -->
  <div class="col-md-6 col-xs-12">

    <!-- Translations list, Details panel -->
    <span ng-show="!selected.translation && translations.length > 0"
      class="alert alert-warning">Select a translation to see details</span>

    <div class="col-md-12 col-xs-12" ng-show="selected.translation">

      <!-- Translation Details -->
      <h4>{{selected.translation.name}}</h4>
      <table class="table">
        <thead class="table-select-row">
          <tr>
            <th class="col-md-4 col-xs-4"></th>
            <th class="col-md-8 col-xs-8"></th>
          </tr>
        </thead>
        <tbody>

          <!-- Actions only for PUBLISHED/BETA, otherwise they are inline in the table -->
          <tr ng-show="isDirectory()">
            <td>
              <b>Actions</b>
            </td>
            <td>
              <i ng-show="selected.translation.feedbackEmail"
                ng-click="openFeedbackModal(selected.translation); $event.stopPropagation()"
                title="Submit feedback" class="noul material-icons md-18">speaker_notes</i>
              <i ng-show="!selected.translation.feedbackEmail"
                title="Feedback email not configured"
                class="md-grey material-icons md-18">speaker_notes</i>
            </td>
          </tr>

          <tr>
            <td>
              <b>Description</b>
            </td>
            <td>{{selected.translation.description}}</td>
          </tr>
          <tr ng-show="!isDirectory()">
            <td>
              <b>Notes</b>
            </td>
            <td>
              <div ng-show="selected.translation.notes.length > 0"
                class="truncate">
                <span ng-bind-html="getLatestNote(selected.translation)"></span>
                <span ng-show="selected.translation.notes.length > 1">
                  <br />{{selected.translation.notes.length-1}} more...
                </span>
              </div>
              <div>
                <i ng-show="selected.translation.notes.length > 0"
                  ng-click="openNotesModal(selected.translation, 'Translation'); $event.stopPropagation()"
                  title="Edit translation notes"
                  class="noul material-icons md-18">assignment</i>
                <i ng-show="selected.translation.notes == 0"
                  title="Add translation notes (no notes yet)"
                  ng-click="openNotesModal(selected.translation, 'Translation'); $event.stopPropagation()"
                  class="md-grey material-icons md-18">assignment</i>
                <i ng-click="openLogModal()" title="Retrieve log"
                  class="noul material-icons md-18">event_note</i>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <b>Refset</b>
            </td>
            <td>{{selected.translation.refsetName}}
              ({{selected.translation.terminologyId}})</td>
          </tr>
          <tr>
            <td>
              <b>Module Id</b>
            </td>
            <td>
              {{selected.translation.moduleId}}
              <span flag-icon obj="selected.translation"></span>
            </td>
          </tr>
          <tr ng-show="selected.translation.effectiveTime">
            <td>
              <b>Effective Time</b>
            </td>
            <td>{{toSimpleDate(selected.translation.effectiveTime)}}</td>
          </tr>
          <tr>
            <td>
              <b>Language</b>
            </td>
            <td>{{selected.translation.language}}</td>
          </tr>
          <tr>
            <td>
              <b>Terminology</b>
            </td>
            <td>{{getTerminologyName(selected.translation.terminology)}}
              {{selected.translation.version}}</td>
          </tr>
          <tr ng-show="value == 'PUBLISHED'">
            <td>Url</td>
            <td>
              <a href="{{link}}" target="_blank">{{link}}</a>
            </td>
          </tr>
          <tr
            ng-show="selected.translation.workflowStatus != 'BETA' && selected.translation.workflowStatus != 'PUBLISHED'">
            <td>
              <b>Spelling Dictionary</b>
            </td>
            <td>
              <input type="checkbox" ng-change="saveUserPreferences()"
                ng-disabled="user.applicationRole == 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-model="user.userPreferences.spellingEnabled">
              <span ng-show="user.userPreferences.spellingEnabled">ENABLED</span>
              <span ng-show="!user.userPreferences.spellingEnabled">DISABLED</span>
              <i
                ng-show="!selected.translation.spellingDictionaryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openImportExportModal(selected.translation,'Export','Spelling Dictionary'); $event.stopPropagation()"
                title="Export spelling dictionary"
                class="noul material-icons md-18">file_download</i>
              <i
                ng-show="selected.translation.spellingDictionaryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openImportExportModal(selected.translation,'Import','Spelling Dictionary'); $event.stopPropagation()"
                title="Import spelling dictionary"
                class="noul material-icons md-18">file_upload</i>
              <i
                ng-show="selected.translation.spellingDictionaryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openCopyModal(selected.translation,'Spelling Dictionary'); $event.stopPropagation()"
                title="Copy spelling dictionary from another translation"
                class="noul material-icons md-18">content_copy</i>
              <i
                ng-show="!selected.translation.spellingDictionaryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="clearSpellingDictionary(selected.translation)"
                title="Clear spelling dictionary entries"
                class="noul material-icons md-18">delete</i>
            </td>
          </tr>
          <tr
            ng-show="selected.translation.workflowStatus != 'BETA' && selected.translation.workflowStatus != 'PUBLISHED'">
            <td>
              <b>Phrase Memory</b>
            </td>
            <td>
              <input type="checkbox" ng-change="saveUserPreferences()"
                ng-disabled="user.applicationRole == 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-model="user.userPreferences.memoryEnabled">
              <span ng-show="user.userPreferences.memoryEnabled">ENABLED</span>
              <span ng-show="!user.userPreferences.memoryEnabled">DISABLED</span>
              <i
                ng-show="!selected.translation.phraseMemoryEmpty  && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openImportExportModal(selected.translation,'Export', 'Phrase Memory'); $event.stopPropagation()"
                title="Export phrase memory" class="noul material-icons md-18">file_download</i>
              <i
                ng-show="selected.translation.phraseMemoryEmpty  && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openImportExportModal(selected.translation,'Import', 'Phrase Memory'); $event.stopPropagation()"
                title="Import phrase memory" class="noul material-icons md-18">file_upload</i>
              <i
                ng-show="selected.translation.phraseMemoryEmpty  && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openCopyModal(selected.translation,'Phrase Memory'); $event.stopPropagation()"
                title="Copy phrase memory from another translation"
                class="noul material-icons md-18">content_copy</i>
              <i
                ng-show="!selected.translation.phraseMemoryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="clearPhraseMemory(selected.translation)"
                title="Clear phrase memory entries"
                class="noul material-icons md-18">delete</i>
            </td>
          </tr>
          <tr
            ng-show="translationReleaseInfo && !translationReleaseInfo.planned">
            <td ng-show="translationReleaseInfo.published">
              <b>RELEASED</b>
            </td>
            <td
              ng-show="translationReleaseInfo && !translationReleaseInfo.published && !translationReleaseInfo.planned">
              <b>BETA</b>
            </td>
            <td>{{translationReleaseInfo.name}}
          </tr>
          <tr ng-show="!translationReleaseInfo">
            <td>Not yet released</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- release info -->
    <div class="col-md-12 col-xs-12">
      <span
        ng-show="selected.translation && translationReleaseInfo && !translationReleaseInfo.artifacts"
        class="alert alert-warning">Release has no associated artifacts</span>
      <div class="col-md-12 col-xs-12">
        <table
          ng-show="selected.translation && translationReleaseInfo && translationReleaseInfo.artifacts && translationReleaseInfo.artifacts.length>0"
          class="table">
          <thead>
            <tr>
              <th class="col-md-6 col-xs-6">Release File</th>
              <th class="col-md-6 col-xs-6">Timestamp</th>
              <th style="width: 1%; word-wrap: nowrap"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="artifact in translationReleaseInfo.artifacts | orderBy:'artifact.name'">
              <td style="word-break: break-word;">{{artifact.name}}</td>
              <td>{{toShortDate(artifact.timestamp)}}</td>
              <td>
                <i ng-click="exportReleaseArtifact(artifact)"
                  title="Export {{artifact.name}}"
                  class="noul material-icons md-18">file_download</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- End R1C2 -->
  </div>


  <!-- R1-->
</div>

<hr ng-show="selected.translation && value == 'EDITING'"
  style="width: 100%; color: lightgrey; height: 1px; background-color: lightgrey;" />

<!-- R2 (for "beta/published") -->
<div ng-show="value == 'EDITING'" class="row">
  <!-- R2C1 -->
  <div class="col-md-6 col-xs-12">
    <!-- Available Concepts -->
    <div class="col-md-12 col-xs-12"></div>
    <h4 ng-show="selected.translation">
      Available Concepts
      <span ng-show="selected.translation.available.totalCount>0">
        ({{selected.translation.available.totalCount}})</span>
    </h4>
    <span style="display: block;">
      <span class="info-text"
        ng-show="selected.translation.available.totalCount > 10"
        style="float: right; margin-top: 4px">
        Page size: <select ng-model="paging['available'].pageSize"
          title="Page Size"
          ng-change="getAvailableConcepts(selected.translation)"
          ng-options="item.value as item.name for item in pageSizes">

        </select>
      </span>
      <uib-pagination items-per-page="paging['available'].pageSize" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="selected.translation.available.totalCount > paging['available'].pageSize"
        total-items="selected.translation.available.totalCount"
        ng-model="paging['available'].page"
        ng-change="getAvailableConcepts(selected.translation)"></uib-pagination>

      <input class="input-filter" placeholder="Search" type="text"
        ng-show="selected.translation.available.totalCount > 1 || paging['available'].filter"
        ng-model="paging['available'].filter"
        ng-model-options="{ debounce: 300 }"
        ng-change="getAvailableConcepts(selected.translation)">

      <button class="btn btn-xs btn-warning"
        ng-show="paging['available'].filter"
        ng-click="paging['available'].filter = ''; getAvailableConcepts(selected.translation)"
        title="Click to clear filter text">Clear</button>
    </span>


    <table ng-show="selected.translation" class="table">
      <thead>
        <tr>
          <th class="col-md-3 col-xs-3"
            ng-click="setSortField('available','terminologyId', selected.translation)">Concept
            Id<span ng-bind="getSortIndicator('available','terminologyId')"></span>
          </th>
          <th ng-click="setSortField('available','name', selected.translation)">Name<span
              ng-bind="getSortIndicator('available','name')"></span></th>
          <th class="col-md-4 col-xs-4" ng-show="projects.role != 'AUTHOR'">
            <span
              ng-click="setSortField('available','lastModified', selected.translation)">
              Last Modified
              <span ng-bind="getSortIndicator('available','lastModified')"></span>
            </span> <span ng-show="projects.role == 'ADMIN'">
              /
              <span
                ng-click="setSortField('available','workflowStatus', selected.translation)">
                Status</span>
              <span ng-bind="getSortIndicator('available','workflowStatus')"></span>
            </span>
          </th>
          <th class="col-md-2 col-xs-2"><span class="nobreak">
              Actions
              <!-- Assign -->
              <i
                ng-show="selected.translation.available.totalCount > 0 && projects.role != 'ADMIN'"
                ng-click="openBatchAssignConceptModal('Available'); $event.stopPropagation()"
                title="Assign batch" class="noul material-icons md-18">assignment_ind</i>

              <i
                ng-show="selected.translation.available.totalCount > 0 && projects.role == 'ADMIN'"
                title="Assign batch - not allowed as ADMIN"
                class="md-grey material-icons md-18">assignment_ind</i>
            </span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="concept in selected.translation.available">
          <td style="word-break: break-word;">{{concept.terminologyId}}</td>
          <td>
            {{concept.name}}
            <span name-info name="concept.name"> </span>
          </td>
          <td ng-show="projects.role != 'AUTHOR'">
            {{toDate(concept.lastModified)}}
            <span ng-show="projects.role == 'ADMIN'">
              <br /> {{concept.workflowStatus}}
            </span>
          </td>
          <!-- Actions -->
          <td class="nobreak">

            <!-- Assign -->
            <i ng-show="isAllowed('ASSIGN', concept)"
              ng-click="openAssignConceptModal(concept, 'ASSIGN'); $event.stopPropagation()"
              title="Assign" class="noul material-icons md-18">assignment_ind</i>

            <!-- Unassign - n/a - these are available concepts -->

            <!-- Notes -->
            <i ng-show="projects.role != 'ADMIN' && concept.notes.length > 0"
              ng-click="openNotesModal(concept, 'Concept'); $event.stopPropagation()"
              title="Edit concept notes" class="noul material-icons md-18">assignment</i>
            <i ng-show="projects.role != 'ADMIN' && concept.notes.length == 0"
              ng-click="openNotesModal(concept, 'Concept'); $event.stopPropagation()"
              title="Add concept notes" class="md-grey material-icons md-18">assignment</i>

            <!--  Log -->
            <i ng-show="concept.workflowStatus != 'NEW'" ng-click="openLogModal(concept)" title="Retrieve log"
              class="noul material-icons md-18">event_note</i>
          </td>
        </tr>
      </tbody>
    </table>
    <span ng-show="selected.translation.available.totalCount == 0"
      style="display: block;" class="alert alert-warning">No available
      concepts for {{projects.role}}.</span>

    <!-- End R2C1 -->
  </div>

  <!-- R2C2 -->
  <div class="col-md-6 col-xs-12">
    <!-- assigned Concepts-->
    <div class="col-md-12 col-xs-12"></div>

    <h4 ng-show="selected.translation">
      {{projectsRole}} Assigned Concepts
      <span ng-show="selected.translation.assigned.totalCount>0">
        ({{selected.translation.assigned.totalCount}})</span>
    </h4>
    <span style="display: block;">
      <span class="info-text"
        ng-show="selected.translation.assigned.totalCount > 10"
        style="float: right; margin-top: 4px">
        Page size: <select ng-model="paging['assigned'].pageSize"
          title="Page Size"
          ng-change="getAssignedConcepts(selected.translation)"
          ng-options="item.value as item.name for item in pageSizes">
        </select>
      </span>

      <uib-pagination items-per-page="paging['assigned'].pageSize" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="selected.translation.assigned.totalCount > paging['assigned'].pageSize"
        total-items="selected.translation.assigned.totalCount"
        ng-model="paging['assigned'].page"
        ng-change="getAssignedConcepts(selected.translation)"></uib-pagination>

      <input class="input-filter" placeholder="Search" type="text"
        ng-show="selected.translation.assigned.totalCount > 1 || paging['assigned'].filter"
        ng-model="paging['assigned'].filter"
        ng-model-options="{ debounce: 300 }"
        ng-change="getAssignedConcepts(selected.translation)">

      <button class="btn btn-xs btn-warning" ng-show="paging['assigned'].filter"
        ng-click="paging['assigned'].filter = ''; getAssignedConcepts(selected.translation)"
        title="Click to clear filter text">Clear</button>
    </span>

    <table ng-show="selected.translation" class="table">
      <thead>
        <tr>
          <th class="col-md-3 col-xs-3"
            ng-click="setSortField('assigned','conceptTerminologyId', selected.translation)">Concept
            Id<span
              ng-bind="getSortIndicator('assigned','conceptTerminologyId')"></span>
          </th>
          <th class="col-md-4 col-xs-4"
            ng-click="setSortField('assigned','conceptName', selected.translation)">Name<span
              ng-bind="getSortIndicator('assigned','conceptName')"></span></th>
          <th class="col-md-3 col-xs-3"><span
              ng-click="setSortField('assigned','lastModified', selected.translation)">
              Last Modified
              <span ng-bind="getSortIndicator('assigned','lastModified')"></span>
            </span> <span ng-show="projects.role == 'ADMIN'">
              <br />/
              <span
                ng-click="setSortField('assigned','workflowStatus', selected.translation)">
                Status</span>
              <span ng-bind="getSortIndicator('assigned','workflowStatus')"></span>
            </span></th>
          <th class="col-md-2 col-xs-2">Actions<br /> <span
              class="nobreak">
              <!--  Unassign all -->
              <i ng-show="selected.translation.assigned.totalCount > 0"
                confirm="Are you sure you want to unassign all concepts?"
                ng-click="unassignAll(user.userName)" title="Unassign all"
                class="noul material-icons md-18">assignment_return</i>
              <i
                ng-show="selected.translation.assigned.totalCount > 0 && projects.role != 'ADMIN'"
                ng-click="finishAll(user.userName)" title="Finish all"
                class="noul material-icons md-18">done</i>
              <i
                ng-show="selected.translation.assigned.totalCount > 0 && projects.role != 'ADMIN' && projects.role != 'AUTHOR'"
                ng-click="publishAll(user.userName)" title="Publish all"
                class="noul material-icons md-18">open_in_new</i>
            </span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in selected.translation.assigned">

          <td style="word-break: break-word;">{{record.concept.terminologyId}}</td>
          <td>
            {{record.concept.name}}
            <span name-info name="record.concept.name"> </span>
          </td>
          <td>
            {{toDate(record.lastModified)}}
            <span ng-show="projects.role == 'ADMIN'">
              <!-- Need to show how to effectively display this info, user can look at the log to see the info -->
              <!--               <br />
              <span ng-show="record.authors.length > 0">
                author<span ng-show="record.authors.length>1">s</span>:
                <span ng-repeat="author in record.authors track by $index">{{author}}</span>
              </span>
              <span ng-show="record.reviewers.length > 0">
                reviewers:
                <span ng-repeat="reviewer in record.reviewers track by $index">{{reviewer}}
                </span>
              </span>
 -->
              <br /> {{record.concept.workflowStatus}}
            </span>


          </td>
          <!-- Actions -->
          <td class="nobreak">
            <!-- Edit -->
            <i ng-show="projects.role != 'ADMIN'"
              confirm="Save/Next on the edit concept modal may not work as expected when table is sorted on 'Last Modified' -- consider sorting on a different field."
              confirm-if="paging['assigned'].sortField == 'lastModified'"
              ng-click="openEditConceptModal(record.concept, $index); $event.stopPropagation()"
              title="Edit concept" class="noul material-icons md-18">edit</i>

            <!-- UnAssign (instead of delete) -->
            <i ng-show="isAllowed('UNASSIGN', record.concept)"
              ng-click="unassign(record.concept, user.userName)"
              title="Unassign" class="noul material-icons md-18">assignment_return</i>

		    <!-- Feedback -->
			<i ng-show="isAllowed('FEEDBACK', record.concept)"
              ng-click="openAssignConceptModal(record.concept,'FEEDBACK', record); $event.stopPropagation()"
              title="Feedback" class="noul material-icons md-18">assignment_returned</i>

            <!-- Finish -->
            <i ng-show="isAllowed('FINISH', record.concept)"
              ng-click="performWorkflowAction(record.concept, 'FINISH');"
              title="Finish" class="noul material-icons md-18">done</i>

            <!-- Mark ready for publication -->
            <i ng-show="isAllowed('PREPARE_FOR_PUBLICATION', record.concept)"
              ng-click="performWorkflowAction(record.concept, 'PREPARE_FOR_PUBLICATION')"
              title="Mark ready for publication"
              class="noul material-icons md-18">open_in_new</i>

            <!-- Notes -->
            <i ng-show="record.concept.notes.length > 0"
              ng-click="openNotesModal(record.concept, 'Concept');"
              title="Edit concept notes" class="noul material-icons md-18">assignment</i>
            <i ng-show="record.concept.notes.length == 0"
              ng-click="openNotesModal(record.concept, 'Concept');"
              title="Add concept notes (no notes yet)"
              class="md-grey material-icons md-18">assignment</i>
            <i ng-click="openLogModal(record.concept)" title="Retrieve log"
              class="noul material-icons md-18">event_note</i>

            <br>
          </td>
        </tr>
      </tbody>
    </table>
    <span ng-show="selected.translation.assigned.totalCount == 0"
      style="display: block;" class="alert alert-warning">No assigned
      concepts for {{projects.role}}.</span>

    <!-- End R2C2 -->
  </div>

  <!-- End R2 -->
</div>

<hr ng-show="selected.translation"
  style="width: 100%; color: lightgrey; height: 1px; background-color: lightgrey;" />

<!-- R3 - concept list and details panel -->
<div class="row">

  <!-- R3C1 -->
  <div class="col-md-6 col-xs-12">

    <!-- Translation Concepts -->
    <div class="col-md-12 col-xs-12">

      <h4 ng-show="selected.translation">
        <span ng-show="value != 'EDITING'">Translation Concepts</span>
        <span ng-show="value == 'EDITING'">Finished Concepts</span>
        <span ng-show="selected.translation.concepts.totalCount>0">
          ({{selected.translation.concepts.totalCount}})</span>

        <span style="float: right;">

          <i
            ng-click="openImportExportModal(selected.translation, 'Export', 'Translation'); "
            title="Export translation concepts"
            class="noul material-icons md-18">file_download</i>
          <i ng-show="value == 'EDITING'"
            ng-click="openImportExportModal(selected.translation, 'Import', 'Translation');"
            title="Import translation concepts"
            class="noul material-icons md-18">file_upload</i>
          <i
            confirm="Are you sure you want to remove all the concepts of the translation ({{selected.translation.name}})?"
            ng-show="value == 'EDITING' && selected.translation.concepts.length > 0"
            ng-click="removeAllTranslationConcepts(selected.translation); "
            title="Remove all concepts" class="noul material-icons md-18">delete</i>
        </span>
      </h4>

      <div>
        <span style="display: block;"
          ng-show="selected.translation.concepts.totalCount > paging['concept'].pageSize || paging['concept'].filter || withNotesOnly">
          <span class="info-text"
            ng-show="selected.translation.concepts.totalCount  > 10"
            style="float: right; margin-top: 4px">
            Page size: <select ng-model="paging['concept'].pageSize"
              title="Page Size" ng-change="getConcepts(selected.translation)"
              ng-options="item.value as item.name for item in pageSizes">
            </select>
          </span>
          <uib-pagination items-per-page="paging['concept'].pageSize"
            max-size="5"
            ng-show="selected.translation.concepts.totalCount > paging['concept'].pageSize"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            total-items="selected.translation.concepts.totalCount"
            ng-model="paging['concept'].page"
            ng-change="getConcepts(selected.translation)"></uib-pagination>

          <input placeholder="Search" type="text"
            ng-show="selected.translation.concepts.totalCount > 1 || paging['concept'].filter"
            ng-model="paging['concept'].filter"
            ng-model-options="{ debounce: 300 }"
            ng-change="getConcepts(selected.translation)">

          <span class="nobreak">
            <span uib-tooltip="Concepts with notes">Notes:</span>
            <input type="checkbox" ng-model="withNotesOnly"
              ng-change="getConcepts(selected.translation)">
          </span>

          <button class="btn btn-xs btn-warning"
            ng-show="paging['concept'].filter || withNotesOnly"
            ng-click="paging['concept'].filter = ''; withNotesOnly = false; getConcepts(selected.translation)"
            title="Click to clear filter text">Clear</button>

        </span>
        <table ng-show="selected.translation" class="table">
          <thead>
            <tr>
              <th class="col-md-3 col-xs-3"
                ng-click="setSortField('concept','terminologyId', selected.translation)">Concept
                Id<span ng-bind="getSortIndicator('concept','terminologyId')"></span>
              </th>
              <th class="col-md-4 col-xs-4"
                ng-click="setSortField('concept','name', selected.translation)">Name<span
                  ng-bind="getSortIndicator('concept','name')"></span>
              </th>
              <th ng-show="!isDirectory() && value != 'RELEASE'"
                class="col-md-3 col-xs-3"
                ng-click="setSortField('concept','lastModified', selected.translation)">Last
                Modified<span
                  ng-bind="getSortIndicator('concept','lastModified')"></span>
              </th>
              <th ng-show="isDirectory() || value == 'RELEASE'"
                class="col-md-3 col-xs-3"
                ng-click="setSortField('concept','effectiveTime', selected.translation)">Effective
                Time<span ng-bind="getSortIndicator('concept','effectiveTime')"></span>
              </th>
              <th ng-show="value == 'EDITING'">Actions <i
                  ng-show="selected.translation.concepts.totalCount > 0 && projects.role != 'ADMIN'"
                  ng-click="openBatchAssignConceptModal('Finished'); $event.stopPropagation()"
                  title="Assign batch" class="noul material-icons md-18">assignment_ind</i></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="concept in selected.translation.concepts"
              ng-class="{selected: concept.id == selected.concept.id}"
              ng-click="selectConcept(concept);">
              <td>{{concept.terminologyId}}</td>
              <td>
                {{concept.name}}
                <span name-info name="concept.name"> </span>

                <span
                  ng-repeat="desc in concept.descriptions | orderBy:'desc.term'">
                  <br /> &bull;&nbsp;{{desc.term}}
                </span>
              </td>
              <td ng-show="!isDirectory() && value !='RELEASE'">
                {{toDate(concept.lastModified)}}
                <span ng-show="projects.role == 'ADMIN'">
                  <br />{{concept.lastModifiedBy}} <br />{{concept.workflowStatus}}
                </span>
              </td>
              <td ng-show="isDirectory() || value == 'RELEASE'">{{toSimpleDate(concept.effectiveTime)}}</td>
              <td class="nobreak" ng-show="value == 'EDITING'">
                <!-- Assign (for error fixing) -->
                <i ng-show="projects.role != 'ADMIN'"
                  ng-click="openAssignConceptModal(concept, 'ASSIGN'); $event.stopPropagation()"
                  title="Assign" class="noul material-icons md-18">assignment_ind</i>
                <!-- Unassign (for ADMIN fixing) -->
                <i ng-show="isAllowed('UNASSIGN', concept)"
                  title="Unassign concept"
                  ng-click="unassign(concept, user.userName)"
                  class="noul material-icons md-18">assignment_return</i>
				
                <!-- Remove -->
                <i
                  ng-show="concept.workflowStatus == 'READY_FOR_PUBLICATION' || concept.workflowStatus == 'NEW'"
                  confirm="Are you sure you want to remove the concept ({{concept.terminologyId}}, {{concept.name}})?"
                  ng-click="removeConcept(selected.translation,concept); $event.stopPropagation()"
                  title="Remove concept" class="noul material-icons md-18">delete</i>
                <!-- Notes -->
                <i
                  ng-show="projects.role != 'ADMIN' && concept.notes.length > 0"
                  ng-click="openNotesModal(concept, 'Concept'); $event.stopPropagation()"
                  title="Edit concept notes" class="noul material-icons md-18">assignment</i>
                <i
                  ng-show="projects.role != 'ADMIN' && concept.notes.length == 0"
                  ng-click="openNotesModal(concept, 'Concept'); $event.stopPropagation()"
                  title="Add concept notes" class="md-grey material-icons md-18">assignment</i>

                <!-- Lookup names -->
                <i
                  ng-click="startLookup(selected.translation); $event.stopPropagation()"
                  ng-show="concept.name == 'name lookup in progress' && !selected.translation.lookupInProgress"
                  title="Restart name lookup" class="noul material-icons md-18">play_arrow</i>
                <!-- log -->
                <i ng-click="openLogModal(concept)" title="Retrieve log"
                  class="noul material-icons md-18">event_note</i>
              </td>
            </tr>
          </tbody>
        </table>
        <span
          ng-show="selected.translation && selected.translation.concepts.totalCount == 0">
          <br />
          <span class="alert alert-warning">
            No
            <span ng-show="value == 'EDITING'">publication ready</span>
            translation concepts found.
          </span>
        </span>
        <span
          ng-show="(paging['concept'].filter || withNotesOnly) && selected.translation.concepts.totalCount == 0"
          class="alert alert-warning">
          <br />No translation concepts matching filter
        </span>

      </div>

      <!-- End R3C1 -->
    </div>
  </div>
  <!-- R3C2 -->
  <div class="col-md-6 col-xs-12">

    <div class="col-md-12 col-xs-12" ng-show="selected.concept">
      <!-- Selected Concept Detail -->
      <span
        ng-show="!selected.concept && selected.translation.concepts.length > 0"
        class="alert alert-warning">Select a concept to see details</span>
      <div concept-info data="selected"></div>
    </div>

    <!-- EndR3C2 -->
  </div>

  <!-- End R3 -->
</div>