<!-- R1 -->
<div class="row">

  <!-- R1C1 -->
  <div class="col-md-6 col-xs-12">

    <div>
      <uib-pagination items-per-page="pageSize" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="translations.totalCount > pageSize || paging['translation'].filter"
        total-items="translations.totalCount"
        ng-model="paging['translation'].page" ng-change="getTranslations()"></uib-pagination>

      <input class="input-filter" placeholder="Enter filter text"
        ng-show="translations.totalCount > pageSize || paging['translation'].filter"
        type="text" ng-model="paging['translation'].filter"
        ng-model-options="{ debounce: 300 }" ng-change="getTranslations()">

      <button class="btn btn-xs btn-warning"
        ng-show="paging['translation'].filter"
        ng-click="paging['translation'].filter = ''; getTranslations()"
        title="Click to clear filter text">Clear</button>
      <h4 ng-show="value=='EDITING' && translations.totalCount == 0">
        <span style="float: right;">
          <button ng-click="openAddTranslationModal(); $event.stopPropagation()"
            title="Add translation" class="btn btn-xs btn-primary">Add
            Translation</button>
        </span>
      </h4>

      <button type="button" class="btn btn-xs btn-primary"
        ng-show="translations.totalCount > 0 &&
        (value == 'RELEASE' || value == 'BETA' || value == 'PUBLISHED')"
        ng-model="showLatest" ng-change="getTranslations()" uib-btn-checkbox
        btn-checkbox-true="true" btn-checkbox-false="false">
        <span ng-show="showLatest" title="Click to show all">Latest</span>
        <span ng-hide="showLatest" title="Click to show only most recent">All</span>
      </button>
    </div>

    <span ng-show="translations.totalCount == 0" style="display: block;"
      class="alert alert-warning">No translations.</span>
    <table ng-show="translations.totalCount > 0" class="table">
      <thead>
        <tr>
          <th class="col-md-2 col-xs-2"
            ng-click="setSortField('translation','terminologyId', null)">Refset
            Id<span ng-bind="getSortIndicator('translation','terminologyId')"></span>
          </th>
          <th class="col-md-4 col-xs-4"
            ng-click="setSortField('translation','name', null)">Name<span
              ng-bind="getSortIndicator('translation','name',null)"></span> / <span
              ng-show="value == 'PUBLISHED' || value == 'BETA' || value == 'RELEASE'">
              <span ng-click="setSortField('translation','effectiveTime', null)">
                Effective Time
                <span
                  ng-bind="getSortIndicator('translation','effectiveTime',null)"></span>
              </span>
            </span> <span
              ng-show="value != 'PUBLISHED' && value != 'BETA' && value != 'RELEASE'">
              <span ng-click="setSortField('translation','lastModified', null)">
                Last Modified
                <span
                  ng-bind="getSortIndicator('translation','lastModified',null)"></span>
              </span>
            </span></th>
          <th class="col-md-3 col-xs-3"
            ng-click="setSortField('translation','module', null)">Module<span
              ng-bind="getSortIndicator('translation','module',null)"></span></th>
          <th class="col-md-1 col-xs-1"
            ng-click="setSortField('translation','language', null)">Lang<span
              ng-bind="getSortIndicator('translation','language',null)"></span></th>
          <th class="col-md-2 col-xs-2" ng-show="userProjectsInfo.anyRole">
            <span ng-show="value == 'EDITING'" style="float: right;">
              <button ng-click="openAddTranslationModal()"
                title="Add translation" class="btn btn-xs btn-primary">Add</button>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="translation in translations"
          ng-class="{selected: translation.id == selected.translation.id}"
          ng-click="selectTranslation(translation);" class="table-select-row">
          <td style="word-break: break-word;">{{translation.terminologyId}}</td>
          <td>
            {{translation.name}}
            <span ng-show="translation.effectiveTime">
              <br />{{toShortDate(translation.effectiveTime)}}
            </span>
            <span ng-show="!translation.effectiveTime">
              <br />{{toDate(translation.lastModified)}} <br />{{translation.lastModifiedBy}}
            </span>
          </td>
          <td>
            {{translation.moduleId}}
            <!-- Mobile friendly line-break -->
            <br class="visible-xs-inline" />
            <span flag-icon obj="translation"></span>
            <span>
              <!-- Mobile friendly line-break -->
              <br class="visible-xs-inline" />
              {{getTranslationOrganization(translation)}}
            </span>
            <span ng-show="value != 'PUBLISHED' && value != 'BETA'">
              <br />{{translation.workflowStatus}}
            </span>

          </td>
          <td>{{translation.language}}</td>

          <!-- PUBLISHED/BETA actions -->
          <td class="nobreak"
            ng-show="userProjectsInfo.anyRole && (value == 'PUBLISHED' || value == 'BETA')">
            <i
              ng-click="openFeedbackModal(translation); $event.stopPropagation()"
              title="Submit feedback" class="noul material-icons md-18">speaker_notes</i>
          </td>

          <!-- EDITING actions -->
          <td class="nobreak" ng-show="value == 'EDITING'">
            <i
              ng-click="openEditTranslationModal(translation); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i
              confirm="Are you sure you want to remove the translation ({{translation.name}})?"
              ng-click="removeTranslation(translation);" title="Remove"
              class="noul material-icons md-18">delete</i>


            <!-- Start release -->
            <i
              ng-show="!translation.inPublicationProcess && translation.workflowStatus != 'PUBLISHED' && translation.workflowStatus!='BETA'"
              ng-click="openReleaseProcessModal(translation); $event.stopPropagation()"
              title="Start release process" class="noul material-icons md-18">open_in_new</i>

            <i
              ng-show="translation.inPublicationProcess  && translation.workflowStatus != 'PUBLISHED' && translation.workflowStatus!='BETA'"
              ng-click="openReleaseProcessModal(translation); $event.stopPropagation()"
              title="Continue release processing"
              class="noul material-icons md-18">open_in_new</i>

            <!-- Cancel staging operation -->
            <span ng-show="translation.stagingType == 'IMPORT'">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="cancelAction(translation)"
                uib-tooltip="Click to cancel failed import">Cancel
                Import</button>
            </span>
            <span ng-show="translation.stagingType == 'BETA'">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="cancelAction(translation)"
                uib-tooltip="Click to cancel release process">Cancel
                Release</button>
            </span>


            <!-- Refresh/start buttons if lookup in progress -->
            <span
              ng-show="translation.lookupInProgress && translationLookupProgress[translation.id] == -1">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="startLookup(translation)"
                uib-tooltip="Click to restart lookup">Restart Lookup</button>
            </span>
            <span
              ng-show="translation.lookupInProgress && translationLookupProgress[translation.id] > -1 && translationLookupProgress[translation.id] < 100">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="refreshLookupProgress(translation)"
                uib-tooltip="Click to refresh lookup progress">
                Refresh
                <span ng-show="translationLookupProgress[translation.id]">
                  {{translationLookupProgress[translation.id]}}%</span>
              </button>
            </span>

          </td>

          <!-- EDITING_ALL actions -->
          <td class="nobreak" ng-show="value == 'EDITING_ALL'">
            <i
              ng-click="openEditTranslationModal(translation); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i
              confirm="Are you sure you want to remove the translation ({{translation.name}})?"
              ng-click="removeTranslation(translation);" title="Remove"
              class="noul material-icons md-18">delete</i>
          </td>

          <!-- RELEASE actions -->
          <td class="nobreak" ng-show="value == 'RELEASE'">
            <i
              confirm="Are you sure you want to remove the translation ({{translation.name}})?"
              ng-click="removeTranslation(translation);" title="Remove"
              class="noul material-icons md-18">delete</i>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- End R1C1 -->
  </div>

  <!-- R1C2 -->
  <div class="col-md-6 col-xs-12">

    <!-- Translations list, Details panel -->
    <span ng-show="!selected.translation && translations.length > 0"
      class="alert alert-warning">Select a translation to see details</span>

    <div class="col-md-12 col-xs-12" ng-show="selected.translation">

      <!-- Translation Details -->
      <h4>{{selected.translation.name}}</h4>
      <table class="table">
        <thead class="table-select-row">
          <tr>
            <th class="col-md-4 col-xs-4"></th>
            <th class="col-md-8 col-xs-8"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <b>Description</b>
            </td>
            <td>{{selected.translation.description}}</td>
          </tr>
          <tr ng-show="value != 'PUBLISHED' && value != 'BETA'">
            <td>
              <b>Notes</b>
            </td>
            <td>
              <div ng-show="selected.translation.notes.length > 0"
                class="truncate">
                <span ng-bind-html="getLatestNote(selected.translation)"></span>
                <span ng-show="selected.translation.notes.length > 1">
                  <br />{{selected.translation.notes.length-1}} more...
                </span>
              </div>
              <div>
                <i ng-show="selected.translation.notes.length > 0"
                  ng-click="openNotesModal(selected.translation, 'Translation'); $event.stopPropagation()"
                  title="Edit translation notes"
                  class="noul material-icons md-18">assignment</i>
                <i ng-show="selected.translation.notes == 0"
                  title="Add translation notes"
                  ng-click="openNotesModal(selected.translation, 'Translation'); $event.stopPropagation()"
                  class="md-grey material-icons md-18">assignment</i>
                <i ng-click="openLogModal()" title="Retrieve log"
                  class="noul material-icons md-18">event_note</i>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <b>Refset Id</b>
            </td>
            <td>{{selected.translation.terminologyId}}</td>
          </tr>
          <tr>
            <td>
              <b>Module Id</b>
            </td>
            <td>
              {{selected.translation.moduleId}}
              <span flag-icon obj="selected.translation"></span>
            </td>
          </tr>
          <tr ng-show="selected.translation.effectiveTime">
            <td>
              <b>Effective Time</b>
            </td>
            <td>{{toShortDate(selected.translation.effectiveTime)}}</td>
          </tr>
          <tr>
            <td>
              <b>Language</b>
            </td>
            <td>{{selected.translation.language}}</td>
          </tr>
          <tr>
            <td>
              <b>Terminology</b>
            </td>
            <td>{{selected.translation.terminology}}</td>
          </tr>
          <tr>
            <td>
              <b>Version</b>
            </td>
            <td>{{selected.translation.version}}</td>
          </tr>
          <tr
            ng-show="selected.translation.workflowStatus != 'BETA' && selected.translation.workflowStatus != 'PUBLISHED'">
            <td>
              <b>Spelling Dictionary</b>
            </td>
            <td>
              <input type="checkbox" ng-change="saveUserPreferences()"
                ng-disabled="user.applicationRole == 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-model="user.userPreferences.spellingEnabled">
              <span ng-show="user.userPreferences.spellingEnabled">ENABLED</span>
              <span ng-show="!user.userPreferences.spellingEnabled">DISABLED</span>
              <i
                ng-show="!selected.translation.spellingDictionaryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openImportExportModal(selected.translation,'Export','Spelling Dictionary'); $event.stopPropagation()"
                title="Export spelling dictionary"
                class="noul material-icons md-18">file_download</i>
              <i
                ng-show="selected.translation.spellingDictionaryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openImportExportModal(selected.translation,'Import','Spelling Dictionary'); $event.stopPropagation()"
                title="Import spelling dictionary"
                class="noul material-icons md-18">file_upload</i>
              <i
                ng-show="selected.translation.spellingDictionaryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openCopyModal(selected.translation,'Spelling Dictionary'); $event.stopPropagation()"
                title="Copy spelling dictionary from another translation"
                class="noul material-icons md-18">content_copy</i>
              <i
                ng-show="!selected.translation.spellingDictionaryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="clearSpellingDictionary(selected.translation)"
                title="Clear spelling dictionary entries"
                class="noul material-icons md-18">delete</i>
            </td>
          </tr>
          <tr
            ng-show="selected.translation.workflowStatus != 'BETA' && selected.translation.workflowStatus != 'PUBLISHED'">
            <td>
              <b>Phrase Memory</b>
            </td>
            <td>
              <input type="checkbox" ng-change="saveUserPreferences()"
                ng-disabled="user.applicationRole == 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-model="user.userPreferences.memoryEnabled">
              <span ng-show="user.userPreferences.memoryEnabled">ENABLED</span>
              <span ng-show="!user.userPreferences.memoryEnabled">DISABLED</span>
              <i
                ng-show="!selected.translation.phraseMemoryEmpty  && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openImportExportModal(selected.translation,'Export', 'Phrase Memory'); $event.stopPropagation()"
                title="Export phrase memory" class="noul material-icons md-18">file_download</i>
              <i
                ng-show="selected.translation.phraseMemoryEmpty  && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openImportExportModal(selected.translation,'Import', 'Phrase Memory'); $event.stopPropagation()"
                title="Import phrase memory" class="noul material-icons md-18">file_upload</i>
              <i
                ng-show="selected.translation.phraseMemoryEmpty  && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="openCopyModal(selected.translation,'Phrase Memory'); $event.stopPropagation()"
                title="Copy phrase memory from another translation"
                class="noul material-icons md-18">content_copy</i>
              <i
                ng-show="!selected.translation.phraseMemoryEmpty && user.applicationRole != 'ADMIN' && user.applicationRole != 'VIEWER'"
                ng-click="clearPhraseMemory(selected.translation)"
                title="Clear phrase memory entries"
                class="noul material-icons md-18">delete</i>
            </td>
          </tr>
          <tr
            ng-show="translationReleaseInfo && !translationReleaseInfo.planned">
            <td ng-show="translationReleaseInfo.published">
              <b>RELEASED</b>
            </td>
            <td
              ng-show="translationReleaseInfo && !translationReleaseInfo.published && !translationReleaseInfo.planned">
              <b>BETA</b>
            </td>
            <td>{{translationReleaseInfo.name}}
          </tr>
          <tr ng-show="!translationReleaseInfo">
            <td>Not yet released</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- release info -->
    <div class="col-md-12 col-xs-12">
      <span
        ng-show="selected.translation && translationReleaseInfo && !translationReleaseInfo.artifacts"
        class="alert alert-warning">Release has no associated artifacts</span>
      <div class="col-md-12 col-xs-12">
        <table
          ng-show="selected.translation && translationReleaseInfo && translationReleaseInfo.artifacts"
          class="table">
          <thead>
            <tr>
              <th class="col-md-6 col-xs-6">Release File</th>
              <th class="col-md-6 col-xs-6">Timestamp</th>
              <th style="width: 1%; word-wrap: nowrap"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="artifact in translationReleaseInfo.artifacts | orderBy:'artifact.name'">
              <td>{{artifact.name}}</td>
              <td>{{toShortDate(artifact.timestamp)}}</td>
              <td>
                <i ng-click="exportReleaseArtifact(artifact)"
                  title="Export {{artifact.name}}"
                  class="noul material-icons md-18">file_download</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- End R1C2 -->
  </div>


  <!-- R1-->
</div>

<hr ng-show="selected.translation && value == 'EDITING'"
  style="width: 100%; color: lightgrey; height: 1px; background-color: lightgrey;" />

<!-- R2 (for "beta/published") -->
<div ng-show="value == 'EDITING'" class="row">
  <!-- R2C1 -->
  <div class="col-md-6 col-xs-12">
    <!-- Available Concepts -->
    <div class="col-md-12 col-xs-12"></div>
    <h4 ng-show="selected.translation">
      Available Concepts
      <span ng-show="selected.translation.available.totalCount>0">
        ({{selected.translation.available.totalCount}})</span>
    </h4>
    <span style="display: block;">
      <uib-pagination items-per-page="pageSize" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="selected.translation.available.totalCount > pageSize || paging['available'].filter"
        total-items="selected.translation.available.totalCount"
        ng-model="paging['available'].page"
        ng-change="getAvailableConcepts(selected.translation)"></uib-pagination>

      <input class="input-filter" placeholder="Enter filter text"
        ng-show="selected.translation.available.totalCount > pageSize || paging['available'].filter"
        type="text" ng-model="paging['available'].filter"
        ng-model-options="{ debounce: 300 }"
        ng-change="getAvailableConcepts(selected.translation)">

      <button class="btn btn-xs btn-warning"
        ng-show="paging['available'].filter"
        ng-click="paging['available'].filter = ''; getAvailableConcepts(selected.translation)"
        title="Click to clear filter text">Clear</button>
    </span>

    <span ng-show="selected.translation.available.totalCount == 0"
      style="display: block;" class="alert alert-warning">No available
      concepts.</span>
    <table ng-show="selected.translation.available.totalCount > 0" class="table">
      <thead>
        <tr>
          <th class="col-md-3 col-xs-3"
            ng-click="setSortField('available','terminologyId', null)">Concept
            Id<span ng-bind="getSortIndicator('available','terminologyId')"></span>
          </th>
          <th class="col-md-5 col-xs-5"
            ng-click="setSortField('available','name', null)">Name<span
              ng-bind="getSortIndicator('available','name',null)"></span></th>
          <th class="col-md-2 col-xs-2"
            ng-click="setSortField('available','lastModified', selected.translation)">Last
            Modified<span ng-bind="getSortIndicator('available','lastModified')"></span>
          </th>
          <th class="col-md-2 col-xs-2">Actions <!-- Assign --> <i
              ng-show="projects.role != 'ADMIN' && selected.translation.available.totalCount > 0"
              ng-click="openBatchAssignConceptModal(); $event.stopPropagation()"
              title="Assign batch" class="noul material-icons md-18">assignment_ind</i></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="concept in selected.translation.available">
          <td style="word-break: break-word;">{{concept.terminologyId}}</td>
          <td>{{concept.name}}</td>
          <td>
            {{toDate(concept.lastModified)}}
            <span ng-show="concept.workflowStatus">
              <br />{{concept.workflowStatus}}
            </span>
          </td>
          <!-- Actions -->
          <td class="nobreak">
            <!-- Assign -->
            <i ng-show="projects.role != 'ADMIN'"
              ng-click="openAssignConceptModal(concept, 'ASSIGN'); $event.stopPropagation()"
              title="Assign" class="noul material-icons md-18">assignment_ind</i>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- End R2C1 -->
  </div>

  <!-- R2C2 -->
  <div class="col-md-6 col-xs-12">
    <!-- assigned Concepts-->
    <div class="col-md-12 col-xs-12"></div>

    <h4 ng-show="selected.translation">
      Assigned Concepts
      <span ng-show="selected.translation.assigned.totalCount>0">
        ({{selected.translation.assigned.totalCount}})</span>
    </h4>
    <span style="display: block;">
      <uib-pagination items-per-page="pageSize" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="selected.translation.assigned.totalCount > pageSize || paging['assigned'].filter"
        total-items="selected.translation.assigned.totalCount"
        ng-model="paging['assigned'].page"
        ng-change="getAssignedConcepts(selected.translation)"></uib-pagination>

      <input class="input-filter" placeholder="Enter filter text"
        ng-show="selected.translation.assigned.totalCount > pageSize || paging['assigned'].filter"
        type="text" ng-model="paging['assigned'].filter"
        ng-model-options="{ debounce: 300 }"
        ng-change="getAssignedConcepts(selected.translation)">

      <button class="btn btn-xs btn-warning" ng-show="paging['assigned'].filter"
        ng-click="paging['assigned'].filter = ''; getAssignedConcepts(selected.translation)"
        title="Click to clear filter text">Clear</button>
    </span>

    <span ng-show="selected.translation.assigned.totalCount == 0"
      style="display: block;" class="alert alert-warning">No assigned
      concepts.</span>
    <table ng-show="selected.translation.assigned.totalCount > 0" class="table">
      <thead>
        <tr>
          <th class="col-md-3 col-xs-3"
            ng-click="setSortField('assigned','conceptTerminologyId', null)">Concept
            Id<span
              ng-bind="getSortIndicator('assigned','conceptTerminologyId')"></span>
          </th>
          <th class="col-md-5 col-xs-5"
            ng-click="setSortField('assigned','conceptName', null)">Name<span
              ng-bind="getSortIndicator('assigned','conceptName',null)"></span></th>
          <th class="col-md-2 col-xs-2"
            ng-click="setSortField('assigned','lastModified', selected.translation)">Last
            Modified<span ng-bind="getSortIndicator('assigned','lastModified')"></span>
          </th>
          <th class="col-md-2 col-xs-2">Actions <i
              ng-show="selected.translation.assigned.totalCount > 0"
              confirm="Are you sure you want to unassign all concepts?"
              ng-click="unassignAll();" title="Unassign all"
              class="noul material-icons md-18">assignment_return</i></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in selected.translation.assigned">
          <td style="word-break: break-word;">{{record.concept.terminologyId}}</td>
          <td>{{record.concept.name}}</td>
          <td>
            {{toDate(record.lastModified)}}<br />{{record.concept.lastModifiedBy}}
            <br />{{record.concept.workflowStatus}}
          </td>
          <!-- Actions -->
          <td class="nobreak">
            <!-- Edit -->
            <i
              ng-click="openEditConceptModal(record.concept); $event.stopPropagation()"
              title="Edit concept" class="noul material-icons md-18">edit</i>

            <!-- UnAssign (instead of delete) -->
            <i ng-show="projects.role != 'ADMIN'"
              confirm="Are you sure you want to unassign this concept ({{record.concept.terminologyId}}, {{record.concept.name}})"
              ng-click="unassign(record.concept)" title="Unassign"
              class="noul material-icons md-18">assignment_return</i>

            <span ng-show="projects.role == 'ADMIN'">
              <span ng-repeat="author in record.authors">
                <!-- Only unassign if there are no reviewers -->
                <i ng-show="!record.reviewers || record.reviewers.length == 0"
                  uib-tooltip="Unassign author: {{author.userName}}"
                  confirm="Are you sure you want to unassign this concept ({{record.concept.terminologyId}})"
                  ng-click="unassign(record.concept)"
                  class="noul material-icons md-18">assignment_return</i>
                <i ng-show="record.reviewers.length > 0"
                  uib-tooltip="Author: {{author.userName}}, unassign reviewer first"
                  class="md-grey material-icons md-18">assignment_ind</i>
              </span>
              <span ng-repeat="reviewer in record.reviewers">
                <i uib-tooltip="Unassign reviewer: {{reviewer.userName}}"
                  confirm="Are you sure you want to unassign this concept ({{record.concept.terminologyId}})"
                  ng-click="unassign(record.concept)"
                  class="noul material-icons md-18">assignment_return</i>
              </span>
            </span>

            <!-- Reassign -->
            <i ng-show="projects.role == 'REVIEWER'"
              ng-click="openAssignConceptModal(record.concept, 'REASSIGN'); $event.stopPropagation()"
              title="Reassign" class="noul material-icons md-18">assignment_ind</i>

            <!-- Finish -->
            <i confirm="Are you sure you want to finalize editing/review?"
              ng-show="record.concept.workflowStatus.indexOf('IN_PROGRESS') != -1 || record.concept.workflowStatus=='REVIEW_NEW'"
              ng-click="performWorkflowAction(record.concept, 'FINISH');"
              title="Finish" class="noul material-icons md-18">done</i>

            <!-- Mark ready for publication -->
            <i ng-show="record.concept.workflowStatus == 'REVIEW_DONE'"
              ng-click="performWorkflowAction(record.concept, 'FINISH')"
              title="Mark ready for publication"
              class="noul material-icons md-18">open_in_new</i>

            <!-- Notes -->
            <i ng-show="record.concept.notes.length > 0"
              ng-click="openNotesModal(record.concept, 'Concept');"
              title="Edit concept Notes" class="noul material-icons md-18">assignment</i>
            <i ng-show="record.concept.notes.length == 0"
              ng-click="openNotesModal(record.concept, 'Concept');"
              title="Add Concept Notes" class="md-grey material-icons md-18">assignment</i>

            <br>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- End R2C2 -->
  </div>

  <!-- End R2 -->
</div>

<hr ng-show="selected.translation"
  style="width: 100%; color: lightgrey; height: 1px; background-color: lightgrey;" />

<!-- R3 - concept list and details panel -->
<div class="row">

  <!-- R3C1 -->
  <div class="col-md-6 col-xs-12">

    <div class="col-md-12 col-xs-12" ng-show="selected.concept">
      <!-- Selected Concept Detail -->
      <span
        ng-show="!selected.concept && selected.translation.concepts.length > 0"
        class="alert alert-warning">Select a concept to see details</span>
      <div concept-info data="selected"></div>
    </div>
    <!-- End R3C1 -->
  </div>

  <!-- R3C2 -->
  <div class="col-md-6 col-xs-12">

    <!-- Translation Concepts -->
    <div class="col-md-12 col-xs-12">

      <h4 ng-show="selected.translation">
        Translation Concepts
        <span ng-show="selected.translation.concepts.totalCount>0">
          ({{selected.translation.concepts.totalCount}})</span>

        <span style="float: right;">

          <i
            ng-click="openImportExportModal(selected.translation, 'Export', 'Translation'); "
            title="Export translation concepts"
            class="noul material-icons md-18">file_download</i>
          <i ng-show="value == 'EDITING'"
            ng-click="openImportExportModal(selected.translation, 'Import', 'Translation');"
            title="Import translation concepts"
            class="noul material-icons md-18">file_upload</i>
          <i
            confirm="Are you sure you want to remove all the concepts of the translation ({{selected.translation.name}})?"
            ng-show="value == 'EDITING' && selected.translation.concepts.length > 0"
            ng-click="removeAllTranslationConcepts(selected.translation); "
            title="Remove all concepts" class="noul material-icons md-18">delete</i>
        </span>
      </h4>
      <span
        ng-show="selected.translation && !paging['concept'].filter && selected.translation.concepts.totalCount == 0">
        <br />
        <span class="alert alert-warning">Translation has no concepts</span>
      </span>

      <div
        ng-show="selected.translation.concepts.totalCount > 0 || paging['concept'].filter">

        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="selected.translation.concepts.totalCount > pageSize || paging['concept'].filter"
            total-items="selected.translation.concepts.totalCount"
            ng-model="paging['concept'].page"
            ng-change="getConcepts(selected.translation)"></uib-pagination>

          <input class="input-filter" placeholder="Enter filter text"
            ng-show="selected.translation.concepts.totalCount > pageSize || paging['concept'].filter"
            type="text" ng-model="paging['concept'].filter"
            ng-model-options="{ debounce: 300 }"
            ng-change="getConcepts(selected.translation)">

          <button class="btn btn-xs btn-warning"
            ng-show="paging['concept'].filter"
            ng-click="paging['concept'].filter = ''; getConcepts(selected.translation)"
            title="Click to clear filter text">Clear</button>
        </span>

        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3 col-xs-3"
                ng-click="setSortField('concept','terminologyId', selected.translation)">Concept
                Id<span ng-bind="getSortIndicator('concept','terminologyId')"></span>
              </th>
              <th class="col-md-5 col-xs-5"
                ng-click="setSortField('concept','name', selected.translation)">Name<span
                  ng-bind="getSortIndicator('concept','name')"></span>
              </th>
              <th ng-show="value != 'PUBLISHED' && value != 'BETA'"
                class="col-md-2 col-xs-2"
                ng-click="setSortField('concept','lastModified', selected.translation)">Last
                Modified<span
                  ng-bind="getSortIndicator('concept','lastModified')"></span>
              </th>
              <th ng-show="value == 'PUBLISHED' || value == 'BETA'"
                class="col-md-2 col-xs-2"
                ng-click="setSortField('concept','effectiveTime', selected.translation)">Effective
                Time<span ng-bind="getSortIndicator('concept','effectiveTime')"></span>
              </th>
              <th ng-show="value == 'EDITING'">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="concept in selected.translation.concepts"
              ng-class="{selected: concept.id == selected.concept.id}"
              ng-click="selectConcept(concept);">
              <td>{{concept.terminologyId}}</td>
              <td>
                {{concept.name}}
                <span
                  ng-repeat="desc in concept.descriptions | orderBy:'desc.term'">
                  <br /> &bull;&nbsp;{{desc.term}}
                </span>
              </td>
              <td
                ng-show="value != 'PUBLISHED' && value != 'BETA' && value !='RELEASE'">
                {{toDate(concept.lastModified)}}<br />{{concept.lastModifiedBy}}
              </td>
              <td
                ng-show="value == 'PUBLISHED' || value == 'BETA' || value == 'RELEASE'">{{toShortDate(concept.effectiveTime)}}</td>
              <td ng-show="value == 'EDITING'">
                <!-- Assign (for error fixing) -->
                <i ng-show="projects.role != 'ADMIN'"
                  ng-click="openAssignConceptModal(concept, 'ASSIGN', 'AUTHOR'); $event.stopPropagation()"
                  title="Assign" class="noul material-icons md-18">assignment_ind</i>
                <!-- Remove -->
                <i
                  confirm="Are you sure you want to remove the concept ({{concept.name}})?"
                  ng-click="removeConcept(selected.translation,concept); $event.stopPropagation()"
                  title="Remove concept" class="noul material-icons md-18">delete</i>
                <!-- Notes -->
                <i ng-show="concept.notes.length > 0"
                  ng-click="openNotesModal(concept, 'Concept'); $event.stopPropagation()"
                  title="Edit concept Notes" class="noul material-icons md-18">assignment</i>
                <i ng-show="concept.notes.length == 0"
                  ng-click="openNotesModal(concept, 'Concept'); $event.stopPropagation()"
                  title="Add Concept Notes" class="md-grey material-icons md-18">assignment</i>
              </td>
            </tr>
          </tbody>
        </table>
        <span
          ng-show="paging['concept'].filter && selected.translation.concepts.totalCount == 0"
          class="alert alert-warning">
          <br />No translation concepts matching filter
        </span>

      </div>
    </div>

    <!-- EndR3C2 -->
  </div>

  <!-- End R3 -->
</div>

