
<a ng-show="refset.type == 'EXTERNAL'" ng-click="" style="text-decoration: none">
  <i tooltip="Reference to an external refset stored elsewhere."
    class="material-icons md-18">forward</i>
</a>
<a ng-show="refset.type == 'EXTENSIONAL'" ng-click=""
  style="text-decoration: none">
  <i ng-show="refset.type == 'EXTENSIONAL'"
    tooltip="Extensional refset, defined as an explicit list of members."
    class="material-icons md-18">list</i>
</a>
<a ng-show="refset.type == 'INTENSIONAL'" ng-click=""
  style="text-decoration: none">
  <i ng-show="refset.type == 'INTENSIONAL'"
    tooltip="Intensional refset, defined as a definition with includes/excludes."
    class="material-icons md-18">settings-square</i>
</a>