
<i ng-show="refset.type == 'INTENSIONAL'"
  uib-tooltip="Intensional refset, definition with includes/excludes."
  class="noul material-icons md-18">settings</i>
<i ng-show="refset.type == 'EXTERNAL'"
  uib-tooltip="External refset stored elsewhere."
  class="noul material-icons md-18">forward</i>
<i ng-show="refset.type == 'EXTENSIONAL'"
  uib-tooltip="Extensional refset, explicit list of members."
  class="noul material-icons md-18">list</i>
<button style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
  class="btn btn-xs btn-primary" ng-show="refset.localSet"
  uib-tooltip="Local Set">L</button>

