<div class="modal-header">
  <h4 ng-show="refset.type == 'INTENSIONAL'">Add/Include Member(s)</h4>
  <h4 ng-show="refset.type == 'EXTENSIONAL'">Add Member(s)</h4>
</div>

<div class="modal-body">
  <p ng-show="refset.type == 'INTENSIONAL'">Add clause to the definition:</p>
  <p ng-show="refset.type == 'EXTENSIONAL'">Add all members for clause:</p>
  <div class="row">
    <span class="col-md-1 col-xs-1">
      <input type="radio" ng-model="includeClause" name="selfAndDescendants"
        value="{{selfAndDescendants}}{{member.terminologyId}} | {{member.name}} |"
        required />
    </span>
    <span uib-tooltip="Descendants and self" class="col-md-1 col-xs-1">{{selfAndDescendants}}</span>
    <span class="col-md-10 col-xs-10">{{member.terminologyId}} |
      {{member.name}} |</span>
  </div>
  <div class="row">
    <span class="col-md-1 col-xs-1">
      <input type="radio" ng-model="includeClause" name="descendants"
        value="{{descendants}}{{member.terminologyId}} | {{member.name}} |"
        required />
    </span>
    <span uib-tooltip="Descendants only" class="col-md-1 col-xs-1">{{descendants}}</span>
    <span class="col-md-10 col-xs-10">{{member.terminologyId}} |
      {{member.name}} |</span>
  </div>

  <p ng-show="refset.type == 'INTENSIONAL'" style="margin-top: 10px">Add
    individual inclusion member:</p>
  <p ng-show="refset.type == 'EXTENSIONAL'" style="margin-top: 10px">Add
    individual member:</p>
  <div class="row">
    <span class="col-md-1 col-xs-1">
      <input type="radio" ng-model="includeClause" name="inclusion"
        value="{{member.terminologyId}} | {{member.name}} |" required />
    </span>
    <span uib-tooltip="Self only" class="col-md-1 col-xs-1">=</span>
    <span class="col-md-10 col-xs-10">{{member.terminologyId}} |
      {{member.name}} |</span>
  </div>


  <!-- Errors -->
  <table>
    <!-- Errors and warnings-->
    <tr
      ng-show="errors.length == 1 || (errors.length == 2 && errors[1].length>100)">
      <td colspan="2">
        <div class="alert alert-danger alert-error">
          {{errors[0]}}
          <div style="display: inline; float: right;">
            <i ng-show="errors[1]" title="{{error.expand ? 'Show' : 'Hide'}} long eror"
              class="noul material-icons md-18" ng-click="error.expand = !error.expand;">attach_file</i>
          </div>
          <p ng-show="errors[1] && error.expand">
            <br />{{errors[1]}}
          </p>
        </div>
      </td>
    </tr>
    <tr
      ng-show="errors.length>2 || (errors.length == 2 && errors[1].length<101)">
      <td colspan="2">
        <div class="alert alert-danger alert-error" ng-repeat="error in errors">{{error}}</div>
      </td>
    </tr>
    <tr ng-repeat="warning in warnings">
      <td colspan="2">
        <div class="alert alert-warning" ng-repeat="warning in warnings">{{warning}}</div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-show="warnings.length == 0"
    ng-click="submitAdd(refset, member, includeClause)">Submit</button>
  <button class="btn btn-primary" ng-show="warnings.length != 0 && refset.type == 'INTENSIONAL'"
    ng-click="continueAdd(refset, member, includeClause)">Continue</button>
  <button class="btn btn-primary" ng-show="warnings.length != 0 && refset.type == 'EXTENSIONAL'"
    ng-click="continueAddRefsetMembers(refset, member, includeClause)">Continue</button>    
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>