
<div class="row">


  <div class="col-md-12 col-xs-12" ng-show="error">
    <p class="alert alert-danger alert-error">{{error}}
    <div style="cursor: pointer; display: inline; float: right; width: 3%;">
      <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
    </div>
    </p>
  </div>

  <div class="col-md-12 col-xs-12">
    <h4 ng-show="concept">
      <b>Concept</b> {{concept.terminologyId}}
    </h4>

    <p ng-show="parents.length > 0">
      <b>Parents</b>
    </p>
    <div ui-tree ng-show="parents.length > 0"
      style="max-height: 300px; overflow-y: scroll;">
      <ol ui-tree-nodes="" ng-model="parents" data-nodrop-enabled="true">
        <li ng-repeat="tree in parents" ui-tree-node data-nodrag
          ng-include="'app/component/tree/parentTree.html'"></li>
      </ol>
    </div>
    <p ng-show="concept" style="margin-top: 5px;">
      <b>Descriptions</b>
    </p>
    <div ng-show="concept.descriptions.length > 0"
      ng-repeat="description in concept.descriptions" style="font-size: 12px"
      class="row">
      <span class="col-md-8 col-xs-8">{{description.term}}</span>
      <span class="col-md-1 col-xs-1">{{description.languageCode}}</span>
      <span class="col-md-3 col-xs-3">{{getDescriptionType(description)}}</span>
    </div>

    <span ng-show="concept.descriptions.length==0" class="alert alert-warning">No
      active descriptions</span>


    <p ng-show="concept.relationships.length > 0">
      <b>Attributes</b>
    </p>
    <table ng-show="concept.relationships.length > 0" class="table">
      <tbody>
        <!-- terminology server doesn't return inactive descriptions -->
        <tr ng-repeat="rel in getOrderedRelationships(concept)">
          <td>
            <span ng-show="rel.relationshipGroup > 0">
              <span class="label label-success"
                uib-tooltip="Relationship group {{rel.relationshipGroup}}">{{rel.relationshipGroup}}</span>
              &nbsp;
            </span>
            {{rel.typeId}}
          </td>
          <td>
            <a ng-click="getConceptById(rel.destinationId)">
              {{rel.destinationId}}</a>
          </td>
          <td>{{rel.destinationPreferredName}}</td>
        </tr>
      </tbody>
    </table>

    <p ng-show="children.length > 0">
      <b>Children<span ng-show="pagedChildren.length > 0">
          ({{pagedChildren.totalCount}})</span></b>
    </p>
    <div ui-tree ng-show="children.length > 0"
      style="max-height: 300px; overflow-y: scroll;">
      <ol ui-tree-nodes="" ng-model="children" data-nodrop-enabled="true">
        <li ng-repeat="tree in children" ui-tree-node data-nodrag
          ng-include="'app/component/tree/childTree.html'"></li>
      </ol>
    </div>
  </div>
</div>