
<div ng-show="error">
  <h4 class="alert alert-danger alert-error">
    {{error}}
    <div style="cursor: pointer; display: inline; float: right; width: 3%;">
      <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
    </div>
  </h4>
</div>

<h5>
  <b>Parents</b>
</h5>
<div ui-tree ng-show="parents.length > 0">
  <ol ui-tree-nodes="" ng-model="parents" id="tree-root"
    data-nodrop-enabled="true">
    <li ng-repeat="tree in parents" ui-tree-node data-nodrag
      ng-include="'app/component/tree/parentTree.html'"></li>
  </ol>
</div>
<!--  <table ng-show="parents.length > 0" class="table">
  <tr ng-repeat="concept in parents | orderBy:'concept.name'">
    <td>
      <a ng-click="getConceptById(concept.terminologyId)">{{concept.terminologyId}}</a>
    </td>
    <td>{{concept.name}}</td>
  </tr>
</table>
-->
<span ng-show="parents.length == 0" class="alert alert-warning">No parent
  concepts</span>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <h5 ng-show="concept">
      <b>Concept</b> {{concept.terminologyId}}
    </h5>
    <table ng-show="concept.descriptions.length > 0" class="table">
      <tbody>
        <!-- terminology server doesn't return inactive descriptions -->
        <tr ng-repeat="description in getOrderedDescriptions(concept)">
          <td>{{description.term}}</td>
          <td>{{description.languageCode}}</td>
          <td>{{getDescriptionType(description)}}</td>
        </tr>
      </tbody>
    </table>
    <span ng-show="concept.descriptions.length==0" class="alert alert-warning">No
      active descriptions</span>


    <h5 ng-show="concept.relationships.length > 0">
      <b>Attributes</b>
    </h5>
    <table ng-show="concept.relationships.length > 0" class="table">
      <tbody>
        <!-- terminology server doesn't return inactive descriptions -->
        <tr ng-repeat="rel in getOrderedRelationships(concept)">
          <td>
            <span ng-show="rel.relationshipGroup > 0">
              <span class="label label-success"
                tooltip="Relationship group {{rel.relationshipGroup}}">{{rel.relationshipGroup}}</span>
              &nbsp;
            </span>
            {{rel.typeId}}
          </td>
          <td>
            <a ng-click="getConceptById(rel.destinationId)">
              {{rel.destinationId}}</a>
          </td>
          <td>{{rel.destinationPreferredName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h5 ng-show="children.length > 0">
  <b>Children<span ng-show="pagedChildren.length > 0">
      ({{pagedChildren.totalCount}})</span></b>
</h5>
<div ui-tree ng-show="children.length > 0">
  <ol ui-tree-nodes="" ng-model="children" id="tree-root"
    data-nodrop-enabled="true">
    <li ng-repeat="tree in children" ui-tree-node data-nodrag
      ng-include="'app/component/tree/childTree.html'"></li>
  </ol>
</div>
