
<!-- NOTE: these hardcoded values are problematic, but difficult to factor out -->
<i ng-show="name == 'unable to determine name'"
  uib-tooltip="The concept id cannot be resolved by the terminology server."
  class="noul material-icons md-18">info</i>
<i ng-show="name == 'name lookup in progress'"
  uib-tooltip="A concept name lookup process is currently running in the background."
  class="noul material-icons md-18">info</i>
<i ng-show="name == 'requires name lookup'"
  uib-tooltip="This concept requires a lookup process to determine name and synonyms."
  class="noul material-icons md-18">info</i>

