<div class="modal-header">
  <h4 style="display: inline" ng-show="refset.type == 'INTENSIONAL'">Exclude Member(s)</h4>
  <h4 style="display: inline" ng-show="refset.type == 'EXTENSIONAL'">Remove Member(s)</h4>
  <span style="float: right">
    <i class="noul glyphicon glyphicon-remove" ng-click="cancel()"></i>
  </span>
</div>

<div class="modal-body">
  <p ng-show="refset.type == 'INTENSIONAL'">Add exclusion clause to the
    definition:</p>
  <p ng-show="refset.type == 'EXTENSIONAL'">Remove all members for clause:</p>

  <div class="row">
    <span class="col-md-1 col-xs-1">
      <input type="radio" ng-model="removeClause"
        value="{{selfAndDescendants}}{{member.conceptId}} | {{member.conceptName}} |"
        required />
    </span>
    <span uib-tooltip="Descendants and self" class="col-md-1 col-xs-1">{{selfAndDescendants}}</span>
    <span class="col-md-10 col-xs-10">{{member.conceptId}} |
      {{member.conceptName}} |</span>
  </div>

  <div class="row">
    <span class="col-md-1 col-xs-1">
      <input type="radio" ng-model="removeClause"
        value="{{descendants}}{{member.conceptId}} | {{member.conceptName}} |"
        required />
    </span>
    <span uib-tooltip="Descendants only" class="col-md-1 col-xs-1">{{descendants}}</span>
    <span class="col-md-10 col-xs-10">{{member.conceptId}} |
      {{member.conceptName}} |</span>
  </div>

  <p ng-show="refset.type == 'INTENSIONAL'" style="margin-top: 10px">OR,
    exclude individual member:</p>
  <p ng-show="refset.type == 'EXTENSIONAL'" style="margin-top: 10px">OR,
    remove individual member:</p>
  <div class="row">
    <span class="col-md-1 col-xs-1">
      <input type="radio" ng-model="removeClause"
        value="{{member.conceptId}} | {{member.conceptName}} |" required />
    </span>
    <span class="col-md-1 col-xs-1" uib-tooltip="Self only">=</span>
    <span class="col-md-10 col-xs-10">{{member.conceptId}} |
      {{member.conceptName}} |</span>
  </div>

  <!-- Errors and warnings-->
  <table>
    <tr
      ng-show="errors.length == 1 || (errors.length == 2 && errors[1].length>100)">
      <td colspan="2">
        <div class="alert alert-danger alert-error">
          {{errors[0]}}
          <div style="display: inline; float: right;">
            <i ng-show="errors[1]" title="{{error.expand ? 'Show' : 'Hide'}} long error"
              class="noul material-icons md-18" ng-click="error.expand = !error.expand;">attach_file</i>
          </div>
          <p ng-show="errors[1] && error.expand">
            <br />{{errors[1]}}
          </p>
        </div>
      </td>
    </tr>
    <tr
      ng-show="errors.length>2 || (errors.length == 2 && errors[1].length<101)">
      <td colspan="2">
        <div class="alert alert-danger alert-error" ng-repeat="error in errors">{{error}}</div>
      </td>
    </tr>
    <tr class="alert alert-warning" ng-repeat="warning in warnings">
      <td colspan="2">
        <div class="alert alert-warning" ng-repeat="warning in warnings">{{warning}}</div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-xs btn-primary"
    ng-click="remove(refset, member, removeClause)">Remove</button>
  <button class="btn btn-xs btn-warning" ng-click="cancel()">Cancel</button>
</div>