
<div ui-tree-handle>
  <!-- recursive display of next level of tree -->
  <ol ui-tree-nodes="" ng-model="tree.inner" ng-class="{hidden: collapsed}">
    <!--  render the parents -->
    <li ng-repeat="tree in tree.inner" ui-tree-node
      ng-include="'app/component/tree/parentTree.html'"></li>
  </ol>

  <i ng-click="getParentTrees(tree, this)" class="noul glyphicon"
    ng-class="getTreeNodeIcon(tree, collapsed)"></i>

  <i ng-show="tree.leaf" class="glyphicon glyphicon-leaf"></i>

  <!-- Action for a non-member -->
  <button
    style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
    ng-click="openAddModal(data.refset, tree, project); $event.stopPropagation()"
    ng-show="data.refset.type == 'INTENSIONAL' && !disableMemberTypes && !data.memberTypes[tree.terminologyId].memberType"
    title="Add inclusion" class="btn btn-xs btn-primary">Add</button>
  <button
    style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
    ng-click="openAddModal(data.refset, tree, project); $event.stopPropagation()"
    ng-show="data.refset.type == 'EXTENSIONAL' && !disableMemberTypes && !data.memberTypes[tree.terminologyId].memberType"
    title="Add members" class="btn btn-xs btn-primary">Add</button>

  <!-- Icons and actions for a regular member -->
  <button class="btn btn-xs btn-primary"
    style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
    ng-show="data.memberTypes[tree.terminologyId].memberType == 'MEMBER'"
    uib-tooltip="Member">M</button>
  <i
    ng-show="data.refset.type == 'INTENSIONAL' && data.memberTypes[tree.terminologyId].memberType == 'MEMBER'"
    ng-click="openRemoveModal(data.refset, data.memberTypes[tree.terminologyId]); "
    title="Add exclusion" class="noul material-icons md-18">remove_circle_outline</i>
  <i
    ng-show="data.refset.type == 'EXTENSIONAL' && data.memberTypes[tree.terminologyId].memberType == 'MEMBER'"
    ng-click="openRemoveModal(data.refset, data.memberTypes[tree.terminologyId]); "
    title="Remove members" class="noul material-icons md-18">delete</i>

  <!-- Icons and actions for an explicit exclusion -->
  <button class="btn btn-xs btn-danger"
    style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
    ng-show="data.memberTypes[tree.terminologyId].memberType == 'EXCLUSION'"
    uib-tooltip="Exclusion">X</button>
  <i ng-show="data.memberTypes[tree.terminologyId].memberType == 'EXCLUSION'"
    ng-click="removeRefsetExclusion(data.refset, data.memberTypes[tree.terminologyId]);"
    title="Remove exclusion" class="noul material-icons md-18">delete</i>

  <!-- Icons and actions for an explicit inclusion -->
  <button class="btn btn-xs btn-success"
    style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
    ng-show="data.memberTypes[tree.terminologyId].memberType == 'INCLUSION'"
    uib-tooltip="Inclusion">I</button>
  <i ng-show="data.memberTypes[tree.terminologyId].memberType == 'INCLUSION'"
    ng-click="removeRefsetInclusion(data.refset,data.memberTypes[tree.terminologyId]);"
    title="Remove inclusion" class="noul material-icons md-18">delete</i>

  <!-- if not the component viewed, render with hyperlink -->
  <span ng-show="tree.terminologyId != concept.terminologyId">
    <a ng-click="getConceptById(tree.terminologyId)"> {{tree.terminologyId}}</a>
    :
    <span ng-show="data.memberTypes[tree.terminologyId].memberType == 'MEMBER'"
      class="middle-blue">{{tree.name}}</span>
    <span
      ng-show="data.memberTypes[tree.terminologyId].memberType == 'EXCLUSION'"
      style="color: red">{{tree.name}}</span>
    <span
      ng-show="data.memberTypes[tree.terminologyId].memberType == 'INCLUSION'"
      style="color: green">{{tree.name}}</span>
    <span
      ng-show="!disableMemberTypes && !data.memberTypes[tree.terminologyId].memberType"
      style="color: black">{{tree.name}}</span>
    <span ng-show="disableMemberTypes " style="color: black">{{tree.name}}</span>
  </span>

</div>