
<div ui-tree-handle>
  <!-- recursive display of next level of tree -->
  <ol ui-tree-nodes="" ng-model="tree.inner" ng-class="{hidden: collapsed}">
    <!--  render the parents -->
    <li ng-repeat="tree in tree.inner" ui-tree-node
      ng-include="'app/component/tree/parentTree.html'"></li>
  </ol>
  <i ng-click="openAddModal(refset, tree, project); $event.stopPropagation()"
    ng-show="refset.type == 'INTENSIONAL' && 
      memberTypes[tree.terminologyId].memberType != 'EXCLUSION' &&
      memberTypes[tree.terminologyId].memberType != 'INCLUSION' &&
      memberTypes[tree.terminologyId].memberType != 'MEMBER'"
    title="Add inclusion" class="noul material-icons md-12">add</i>
  <i ng-click="openAddModal(refset, tree, project); $event.stopPropagation()"
    ng-show="refset.type == 'EXTENSIONAL' && 
      memberTypes[tree.terminologyId].memberType != 'EXCLUSION' &&
      memberTypes[tree.terminologyId].memberType != 'INCLUSION' &&
      memberTypes[tree.terminologyId].memberType != 'MEMBER'"
    title="Add members" class="noul material-icons md-12">add</i>
  
  <button class="btn btn-xs btn-primary"
    ng-show="memberTypes[tree.terminologyId].memberType == 'MEMBER'"
    uib-tooltip="Member">M</button>    
  <i ng-show="refset.type == 'INTENSIONAL' && 
    memberTypes[tree.terminologyId].memberType == 'MEMBER'"
    ng-click="openRemoveModal(refset, memberTypes[tree.terminologyId]); "
    title="Add exclusion" class="noul material-icons md-12">remove_circle_outline</i>
  <i ng-show="refset.type == 'EXTENSIONAL' && 
    memberTypes[tree.terminologyId].memberType == 'MEMBER'"
    ng-click="openRemoveModal(refset, memberTypes[tree.terminologyId]); "
    title="Remove members" class="noul material-icons md-12">delete</i>
  
  <button class="btn btn-xs btn-danger"
    ng-show="memberTypes[tree.terminologyId].memberType == 'EXCLUSION'"
    uib-tooltip="Exclusion">X</button>    
  <i ng-show="memberTypes[tree.terminologyId].memberType == 'EXCLUSION'"
    ng-click="removeRefsetExclusion(refset, memberTypes[tree.terminologyId]);"
    title="Remove exclusion" class="noul material-icons md-12">delete</i>
  
  <button class="btn btn-xs btn-success"
    ng-show="memberTypes[tree.terminologyId].memberType == 'INCLUSION'"
    uib-tooltip="Inclusion">I</button>    
  <i ng-show="memberTypes[tree.terminologyId].memberType == 'INCLUSION'"
    ng-click="removeRefsetInclusion(refset,memberTypes[tree.terminologyId]);"
    title="Remove inclusion" class="noul material-icons md-12">delete</i>
  
  <a ng-click="getParentTrees(tree, this)">
    <span class="glyphicon" ng-class="getTreeNodeIcon(tree, collapsed)"></span>
  </a>

  <i ng-show="tree.leaf" class="glyphicon glyphicon-leaf"></i>

  <!-- if not the component viewed, render with hyperlink -->
  <span ng-show="tree.terminologyId != concept.terminologyId"
    style="font-size: 12px">
    <a ng-click="getConceptById(tree.terminologyId)" > {{tree.terminologyId}}</a>
    : <span ng-show="memberTypes[tree.terminologyId].memberType == 'MEMBER'" 
      class="middle-blue">{{tree.name}}</span>
      <span ng-show="memberTypes[tree.terminologyId].memberType == 'EXCLUSION'" 
      style="color: red">{{tree.name}}</span>
      <span ng-show="memberTypes[tree.terminologyId].memberType == 'INCLUSION'" 
      style="color: green">{{tree.name}}</span>
      <span ng-show="memberTypes[tree.terminologyId].memberType != 'EXCLUSION' &&
      memberTypes[tree.terminologyId].memberType != 'INCLUSION' &&
      memberTypes[tree.terminologyId].memberType != 'MEMBER'" 
      style="color: black">{{tree.name}}</span>
  </span>

</div>