<!-- Controlled by TranslationCtrl (in translationController.js)  -->

<div class="row">

  <div class="col-md-12 col-xs-12">
    <h4 class="col-md-12">Translations</h4>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="col-md-4 col-xs-8">
      <table class="table">
        <tbody>
          <tr>
            <td>Choose Project:</td>
            <td>
              <select ng-model="project" ng-show="projects.data.length > 1"
                ng-options="item.name for item in projects.data"
                ng-change="setProject(project);"></select>
              <span ng-show="projects.data.length == 1">{{project.name}}</span>
              &nbsp;
              <span>{{project.organization}}</span>
            </td>
          </tr>
          <tr>
            <td>Role:</td>
            <td>
              <select ng-model="projects.role" ng-show="roleOptions.length > 1"
                ng-options="item for item in roleOptions" ng-change="setRole();"></select>
              <span ng-show="roleOptions.length == 1">{{projects.role}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8 col-xs-4"></div>
  </div>
  <div class="col-md-12 col-xs-12">
    <uib-accordion> <uib-accordion-group
      is-open="accordionState['EDITING']"> <uib-accordion-heading>
    <h5 class="section-header" ng-click="setAccordion('EDITING');">
      Editing ({{editing.count}})
      <span ng-show="projects.role"> ({{projects.role}})</span>
    </h5>
    </uib-accordion-heading>
    <div translation-table value="EDITING" projects="projects"
      metadata="metadata" stats="editing"></div>
    </uib-accordion-group> <uib-accordion-group is-open="accordionState['RELEASE']">
    <uib-accordion-heading>
    <h5 class="section-header" ng-click="setAccordion('RELEASE');">Release
      ({{release.count}})</h5>
    </uib-accordion-heading>
    <div translation-table value="RELEASE" projects="projects"
      metadata="metadata" stats="release"></div>
    </uib-accordion-group> </uib-accordion>
  </div>
</div>


