<!--  header -->
<nav ng-controller="HeaderCtrl"
  class="navbar navbar-default navbar-fixed-top header-footer-bg">
  <div class="container-fluid">

    <table style="width: 100%">
      <tr>
        <td style="width: 55px"><a href="${deploy.link}">
            <img class="hidden-xs" src="images/logo-desktop.png"> <img
              class="visible-xs" src="images/logo-mobile.png">
          </a></td>
        <td style="width: 70%"><span class="hidden-xs header-footer-title"
            title="${project.version}">
            ${deploy.title} and
            <a class="header-footer-link" href="swagger.html"
              style="text-decoration: underline" target="_blank">API
              Documentation</a>
          </span> <span class="visible-xs header-footer-text"
            title="${project.version}">
            ${deploy.title}
            <!-- Mobile friendly line-break -->
            <br class="visible-xs-inline" /> and
            <a class="header-footer-link" href="swagger.html"
              style="text-decoration: underline" target="_blank">API
              Documentation</a>
          </span></td>
        <td style="text-align: right;">
          <div class="nobreak">
            <span class="hidden-xs header-footer-text" ng-show="isShowing()">
              {{user.name}}&nbsp;&nbsp;
              <a class="header-footer-link" ng-click="logout()">Logout</a>
              &nbsp;
            </span>
            <!-- Help icon -->
            <span class="header-footer-text header-footer-link"
              ng-click="goToHelp()">
              <i title="Help" class="noul material-icons md-18">help</i>
            </span>
          </div>
        </td>
      </tr>
    </table>


  </div>
</nav>