
<div ng-show="error">
  <h4 class="alert alert-danger alert-error">
    {{error}}
    <div style="cursor: pointer; display: inline; float: right; width: 3%;">
      <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
    </div>
  </h4>
</div>

<h5>MEMBER INFO {{data.member.id}} {{data.member.terminologyId}}
  {{data.member.conceptId}} {{data.member.conceptName}}</h5>

<p>This page will show the parents of the member with expandable levels</p>

<p>The member itself</p>

<p>And the children (paged with "get next 10...") with expandable levels</p>

<p>It will contain indicators of whether each member is in the refset, an
  explicit inclusion, or an explicit exclusion</p>

<p>Furthermore, it will contain actions to change the status of members to exclusions (with desc)
or to remove inclusions (with desc) or to add exclusions (with desc), etc).</p>