<div class="modal-header">
  <h4>Assign Refset to User</h4>
</div>

<div class="modal-body">
  <div>
    <div>
      Refset id: {{refset.terminologyId}} <br>
      Refset name:  {{refset.name}} <br> 
      Description: {{refset.description}} <br><br>
      
      Choose user:<select ng-model="selectedUserName" 
        ng-options="item for item in assignedUserNames"></select><br>
    </div>
    
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
    ng-click="submitChosenUser(selectedUserName); 
    ">Assign Refset</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>