<div class="modal-header">
  <h4>{{dir}} {{selectedContent}}</h4>
</div>

<div class="modal-body">
  <div>
    <div>
      Refset id: {{refset.terminologyId}} <br>
      Refset name:  {{refset.name}} <br> 
      Description: {{refset.description}} <br>
      <span ng-show="refset.type == 'INTENSIONAL'">Definition: {{refset.definition}} <br></span><br>
      
     Choose I/O handler:<select ng-model="selectedIOHandler" 
        ng-options="item.name for item in ioHandlers"></select><br>
        
     <span ng-show="dir == 'Import'"><input type="file" ng-file-select="onFileSelect($files)"></span>
     
    </div>
    
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-show="dir == 'Export'"
    ng-click="export(refset); 
    ">Export</button>
  <button class="btn btn-primary" ng-show="dir == 'Import'"
    ng-click="import(refset); 
    ">Import</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>