<!-- Controlled by RefsetCtrl (in refsetController.js)  -->

<div class="row">

  <div class="col-md-12 col-xs-12">
    <h4 class="col-md-12">Refsets</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-4 col-xs-8">
      <table class="table">
        <tbody>
          <tr>
            <td>Choose Project:</td>
            <td>
              <select ng-model="project" ng-show="projects.data.length > 1"
                ng-options="item.name for item in projects.data"
                ng-change="setProject(project);"></select>
              <span ng-show="projects.data.length == 1">{{project.name}}</span>
              &nbsp;<span>{{project.organization}}</span>
            </td>
          </tr>
          <tr>
            <td>Role:</td>
            <td>
              <select ng-model="projects.role" ng-show="roleOptions.length > 1"
                ng-options="item for item in roleOptions" ng-change="setRole();"></select>
              <span ng-show="roleOptions.length == 1">{{projects.role}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8 col-xs-4"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <uib-accordion> <uib-accordion-group
      is-open="accordionState['AVAILABLE']"> <uib-accordion-heading>
    <h5 class="section-header" ng-click="setAccordion('AVAILABLE');">
      Available
      <span ng-show="projects.role"> ({{available.count}},
        {{projects.role}})</span>
    </h5>
    </uib-accordion-heading>
    <div refset-table value="AVAILABLE" projects="projects" metadata="metadata"
      stats="available"></div>
    </uib-accordion-group> <!-- do not show for admins --> <uib-accordion-group
      is-open="accordionState['ASSIGNED']"> <uib-accordion-heading>
    <h5 class="section-header" ng-click="setAccordion('ASSIGNED');">
      Assigned
      <span ng-show="projects.role"> ({{assigned.count}},
        {{projects.role}})</span>
    </h5>
    </uib-accordion-heading> <!-- TODO project="{{project.id}}" -->
    <div refset-table value="ASSIGNED" projects="projects" metadata="metadata"
      stats="assigned"></div>
    </uib-accordion-group> <uib-accordion-group is-open="accordionState['RELEASE']">
    <uib-accordion-heading>
    <h5 class="section-header" ng-click="setAccordion('RELEASE');">Release
      ({{released.count}})</h5>
    </uib-accordion-heading>
    <div refset-table value="RELEASE" projects="projects" metadata="metadata"
      stats="released"></div>
    </uib-accordion-group> </uib-accordion>
  </div>
</div>


