<div class="modal-header">
  <h4 style="display: inline">Add Refset Member</h4>
  <span style="float: right">
    <i class="noul glyphicon glyphicon-remove" ng-click="cancel()"></i>
  </span>
</div>

<div class="modal-body">
  <div class="row">
    <!--  Left hand side -->
    <div class="col-md-5 col-xs-12">

      <!-- Search widget -->
      <div>
        <form ng-submit="getSearchResults(search, true);">
          <input autofocus ng-model="search" size="30">
          <button type="submit" class="submitbutton btn btn-sm btn-primary">Search</button>
        </form>
      </div>

      <!-- Search results -->

      <span ng-show="search && searchResults.length == 0"
        class="alert alert-warning">No results</span>

      <div ng-show="search && searchResults.length > 0">

        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="searchResults.totalCount > pageSize || paging['search'].filter"
            total-items="searchResults.totalCount"
            ng-model="paging['search'].page"
            ng-change="getSearchResults(search);"></uib-pagination>
          <span>
            <input type="checkbox" ng-model="activeOnly" title="Active Only"
              ng-click="getSearchResults(search, true)">Active Only
          </span>

        </span>

        <table ng-show="searchResults.length > 0" class="table">
          <thead class="table-select-row">
            <tr>
              <th class="col-md-3 col-xs-3">Concept Id</th>
              <th class="col-md-9 col-xs-9">Name</th>
              <th class="col-md-1 col-xs-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="concept in searchResults"
              ng-click="selectConcept(concept)"
              ng-class="{selected: concept.terminologyId === data.concept.terminologyId}">
              <td>{{concept.terminologyId}}</td>
              <td>
                {{concept.name}}
                <button class="btn btn-xs inactive"
                  style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
                  ng-show="!concept.active" uib-tooltip="Inactive">I</button>
                <span ng-show="concept.descriptions.length>0">
                  <span ng-repeat="desc in concept.descriptions"
                    style="margin-left: 10px">
                    <br>{{desc.term}} {{desc.terminologyId}}
                    <button class="btn btn-xs inactive"
                      style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
                      ng-show="!description.active" uib-tooltip="Inactive">I</button>
                  </span>
                </span>
              </td>
              <td>
                <button
                  style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
                  ng-click="addMember(concept); $event.stopPropagation();"
                  ng-show="data.memberTypes[concept.terminologyId].memberType != 'MEMBER' &&
                    data.memberTypes[concept.terminologyId].memberType != 'EXCLUSION' &&
                    data.memberTypes[concept.terminologyId].memberType != 'INCLUSION'"
                  title="Add member to refset" class="btn btn-xs btn-primary">Add</button>
                <button class="btn btn-xs btn-primary"
                  style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
                  ng-show="data.memberTypes[concept.terminologyId].memberType == 'MEMBER'"
                  uib-tooltip="Member">M</button>
                <button class="btn btn-xs btn-danger"
                  style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
                  ng-show="data.memberTypes[concept.terminologyId].memberType == 'EXCLUSION'"
                  uib-tooltip="Exclusion">X</button>
                <button class="btn btn-xs btn-success"
                  style="transform: scale(.8, .8); margin-bottom: 4px; padding-left: 4px;"
                  ng-show="data.memberTypes[concept.terminologyId].memberType == 'INCLUSION'"
                  uib-tooltip="Inclusion">I</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--  Right hand side -->
    <div class="col-md-7 col-xs-12">
      <span ng-show="searchResults.length > 0 && !data.concept"
        class="alert alert-warning">Select a concept to see details</span>

      <!-- Concept display -->
      <div ng-show="data.concept" concept-info data="data" value="value"
        handle-workflow="getMemberTypes()" reset-member-types="getMemberTypes()"></div>

    </div>

    <!-- Errors -->
    <div class="col-md-12 col-xs-12">
      <div
        ng-show="errors.length == 1 || (errors.length == 2 && errors[1].length>100)"
        class="alert alert-danger alert-error">
        {{errors[0]}}
        <div style="display: inline; float: right;">
          <i ng-show="errors[1]"
            title="{{error.expand ? 'Show' : 'Hide'}} long error"
            class="noul material-icons md-18"
            ng-click="error.expand = !error.expand;">attach_file</i>
        </div>
        <p ng-show="errors[1] && error.expand">
          <br />{{errors[1]}}
        </p>
      </div>
      <div
        ng-show="errors.length > 2 || (errors.length == 2 && errors[1].length<101)"
        class="alert alert-danger alert-error" ng-repeat="error in errors">
        {{error}}</div>
      <!-- Warnings -->
      <div class="alert alert-warning" ng-repeat="warning in warnings">
        {{warning}}
        <div style="cursor: pointer; display: inline; float: right; width: 3%;">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-xs btn-warning" ng-click="cancel()">Close</button>
</div>