<div class="modal-header">
  <h4>Add Refset Member List</h4>
</div>

<div class="modal-body">
  <div>
    <table class="table">
      <tr>
        <td>Enter list of member ids:</td>
      </tr>
      <tr>
        <td>
          <textarea rows="8" cols="40" ng-model="memberIdList"></textarea>

        </td>
      </tr>
      <tr ng-show="warnings.length > 0">
        <td>&nbsp;</td>
        <td>
          <div class="alert alert-warning" ng-repeat="warning in warnings">
            {{warning}}</div>
        </td>
      </tr>

      <!-- Errors and warnings-->
      <tr
        ng-show="errors.length == 1 || (errors.length == 2 && errors[1].length>100)">
        <td colspan="2">
          <div class="alert alert-danger alert-error">
            {{errors[0]}}
            <div style="display: inline; float: right;">
              <i ng-show="errors[1]"
                title="{{error.expand ? 'Show' : 'Hide'}} long eror"
                class="noul material-icons md-18"
                ng-click="error.expand = !error.expand;">attach_file</i>
            </div>
            <p ng-show="errors[1] && error.expand">
              <br />{{errors[1]}}
            </p>
          </div>
        </td>
      </tr>
      <tr
        ng-show="errors.length>2 || (errors.length == 2 && errors[1].length<101)">
        <td colspan="2">
          <div class="alert alert-danger alert-error"
            ng-repeat="error in errors">{{error}}</div>
        </td>
      </tr>
      <tr class="alert alert-warning" ng-repeat="warning in warnings">
        <td colspan="2">
          <div class="alert alert-warning" ng-repeat="warning in warnings">{{warning}}</div>
        </td>
      </tr>

    </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!memberIdList"
      ng-click="submitMemberIncludeList();">Include</button>
    <button class="btn btn-primary" ng-disabled="!memberIdList"
      ng-click="submitMemberExcludeList();">Exclude</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>