<div class="modal-header">
  <h4>
    {{action}} Refset
    <span ng-show="action == 'REASSIGN'"> to Author</span>
  </h4>
</div>

<div class="modal-body">
  <!-- Refset info -->
  <div refset-info refset="refset" form="short"></div>

  <table class="table">
    <tr ng-show="action == 'ASSIGN'">
      <td>
        <b>Select user</b>
      </td>
      <td>
        <select ng-model="userName"
          ng-options="item for item in assignedUserNames"></select>
      </td>
    </tr>
    <tr>
      <td>
        <b>Note</b>
      </td>
      <td>
        <textarea rows="4" cols="40" ng-model="note" ui-tinymce="tinymceOptions"></textarea>
      </td>
    </tr>
    <tr ng-show="errors.length > 0">
      <td>&nbsp;</td>
      <td>
        <div class="alert alert-danger alert-error" ng-repeat="error in errors">{{error}}</div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button ng-show="action == 'ASSIGN'" class="btn btn-primary"
    ng-click="assignRefset();">Assign</button>
  <button ng-show="action == 'REASSIGN'" class="btn btn-primary"
    ng-click="assignRefset();">Reassign</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>