<div class="modal-header">
  <h4>Assign Refset</h4>
</div>

<div class="modal-body">
  <table class="table">
    <tr>
      <td>
        <b>Id</b>
      </td>
      <td>{{refset.terminologyId}}</td>
    </tr>
    <tr>
      <td>
        <b>Name</b>
      </td>
      <td>{{refset.name}}</td>
    </tr>
    <tr>
      <td>
        <b>Description</b>
      </td>
      <td>{{refset.description}}</td>
    </tr>
    <tr>
      <td>
        <b>Select user</b>
      </td>
      <td>
        <select ng-model="selectedUserName"
          ng-options="item for item in assignedUserNames"></select>
      </td>
    </tr>
    <tr>
      <td>
        <b>Note</b>
      </td>
      <td>
        <textarea ui-tinymce ng-model="note"></textarea>
      </td>
    </tr>
    <tr ng-show="errors.length > 0">
      <td>&nbsp;</td>
      <td>
        <div class="alert alert-danger alert-error" ng-repeat="error in errors">{{error}}</div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
    ng-click="assignRefset(selectedUserName); 
    ">Assign</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>