<div class="modal-header">
  <h4>{{action}} Refset</h4>
</div>

<div class="modal-body">
  <div>
    <table class="table">
      <tr>
        <td>
          <b><span ng-show="action == 'Clone'">Clone to </span>Project:</b>
        </td>
        <td>
          <select ng-model="refset.project"
            ng-change="projectSelected(refset.project)"
            ng-options="item.name.concat(' (',item.id,')') for item in projects.data">
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <b>Local Set</b>
        </td>
        <td>
          <input type="checkbox" title="Local set" ng-model="refset.localSet">     
        </td>
      </tr>
      <tr>
        <td>
          <b>Refset Id</b>
        </td>
        <td>
          <input ng-model="refset.terminologyId" placeholder="Optional" />
          <button confirm="Are you sure you want to assign an id to the refset?"
            class="btn btn-xs btn-primary"
            ng-show="refset.namespace && refset.terminology && !refset.localSet"
            ng-click="assignRefsetTerminologyId(refset)">Assign</button>
        </td>
      </tr>
      <tr>
        <td>
          <b>Name</b>
        </td>
        <td>
          <input ng-model="refset.name" size="40"
            placeholder="e.g. General Practice / Family Practice reference set" />
        </td>
      </tr>
      <tr>
        <td>
          <b>Description</b>
        </td>
        <td>
          <textarea rows="4" cols="40" ng-model="refset.description"
            placeholder="Basic description of the refset"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <b>Terminology</b>
        </td>
        <td>
          <select ng-model="refset.terminology"
            ng-change="terminologySelected(refset.terminology)"
            ng-options="item.terminology as item.name for item in terminologies"></select>
        </td>
      </tr>
      <tr>
        <td>
          <b>Version</b>
        </td>
        <td>
          <select ng-model="refset.version"
            ng-change="versionSelected(refset.version)"
            ng-options="item for item in versions"></select>
        </td>
      </tr>
      <tr ng-show="!refset.localSet">
        <td>
          <b>Namespace</b>
        </td>
        <td>
          <input ng-model="refset.namespace" size="25"
            placeholder="e.g. 1000124" />
        </td>
      </tr>
      <tr ng-show="!refset.localSet">
        <td>
          <b>Module Id</b>
        </td>
        <td>
          <input style="width: 252px" ng-model="refset.moduleId"
            list="moduleList" placeholder="e.g. 900000000000207008" />
          <datalist id="moduleList">
            <option ng-repeat="module in modules | orderBy:'terminologyId'"
              value="{{module.terminologyId}}">{{module.name}}</option>
          </datalist>
          <button class="btn btn-xs btn-warning" ng-show="refset.moduleId"
            ng-click="refset.moduleId=''">Clear</button>
          &nbsp;&nbsp;
          <span flag-icon obj="refset"></span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Organization</b>
        </td>
        <td>{{project.organization}}</td>
      </tr>
      <tr>
        <td>
          <b>Feedback email</b>
        </td>
        <td>
          <input type="email" ng-model="refset.feedbackEmail" size="40" />
        </td>
      </tr>
      <tr>
        <td>
          <b>Domain</b>
        </td>
        <td>
          <input type="text" ng-model="refset.domain" size="40"
            list="filterList" />
          <datalist id="filterList">
            <option ng-if="filter.key=='domain'"
              ng-repeat="filter in filters | orderBy:'key'"
              value="{{filter.value}}">{{filter.value}}</option>
          </datalist>
        </td>
      </tr>
      <tr>
        <td>
          <b>Workflow path</b>
        </td>
        <td>
          <span ng-show="metadata.workflowPaths.length == 1">{{refset.workflowPath}}</span>
          <select ng-show="metadata.workflowPaths.length > 1"
            ng-model="refset.workflowPath"
            ng-options="item for item in metadata.workflowPaths"></select>
        </td>
      </tr>
      <tr>
        <td>
          <b>Type</b>
        </td>
        <td>
          <select ng-show="action == 'Add'" ng-model="refset.type"
            ng-options="item for item in metadata.refsetTypes"></select> &nbsp;
          <span ng-show="action != 'Add'" refset-type-icon refset="refset"></span>
          <span ng-show="action == 'Add'" style="margin-left: 35px;"
            refset-type-icon refset="refset"></span>
        </td>
      </tr>
      <tr ng-show="refset.type == 'EXTERNAL'">
        <td>
          <b>External Url</b>
        </td>
        <td>
          <input ng-model="refset.externalUrl">
        </td>
      </tr>

      <tr ng-show="refset.type == 'INTENSIONAL'">
        <td>
          <b>Definition</b>
        </td>
        <td>
          <!-- Editing field for ADD -->
          <div ng-show="action == 'Add'" definition-clause clause="clause"
            mode="edit" allowNegation="false"></div>

          <!--  Read-only field for ADD -->
          <div ng-show="action == 'Clone' || action == 'Edit'"
            style="max-height: 400px; overflow-y: scroll;">
            <table class="table">
              <tbody>
                <tr ng-repeat="clause in refset.definitionClauses">
                  <td>{{clause.value}}</td>
                  <td>
                    <button class="btn btn-xs btn-primary"
                      ng-show="!clause.negated" uib-tooltip="Union">+</button>
                    <button class="btn btn-xs btn-danger"
                      ng-show="clause.negated" uib-tooltip="Minus">-</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr ng-show="warnings.length > 0">
        <td>&nbsp;</td>
        <td>
          <div class="alert alert-warning" ng-repeat="warning in warnings">
            {{warning}}</div>
        </td>
      </tr>

      <!-- Errors and warnings-->
      <tr
        ng-show="errors.length == 1 || (errors.length == 2 && errors[1].length>100)">
        <td colspan="2">
          <div class="alert alert-danger alert-error">
            {{errors[0]}}
            <div style="display: inline; float: right;">
              <i ng-show="errors[1]"
                title="{{error.expand ? 'Show' : 'Hide'}} long eror"
                class="noul material-icons md-18"
                ng-click="error.expand = !error.expand;">attach_file</i>
            </div>
            <p ng-show="errors[1] && error.expand">
              <br />{{errors[1]}}
            </p>
          </div>
        </td>
      </tr>
      <tr
        ng-show="errors.length>2 || (errors.length == 2 && errors[1].length<101)">
        <td colspan="2">
          <div class="alert alert-danger alert-error"
            ng-repeat="error in errors">{{error}}</div>
        </td>
      </tr>
      <tr ng-repeat="warning in warnings">
        <td colspan="2">
          <div class="alert alert-warning">{{warning}}</div>
        </td>
      </tr>
      <tr ng-repeat="comment in comments">
        <td colspan="2">
          <div class="alert alert-success">{{comment}}</div>
        </td>
      </tr>

    </table>
  </div>
  <p ng-show="action == 'Add'" class="info-text">
    <br />NOTE: Import features only work with EXTENSIONAL refsets
  </p>

  <div class="modal-footer">
    <button ng-show="action == 'Add'" class="btn btn-primary"
      ng-click="submitRefset(refset); ">Add</button>
    <button ng-show="action == 'Edit'" class="btn btn-primary"
      ng-click="submitRefset(refset); ">Save</button>
    <button ng-show="action == 'Clone' && comments.length == 0"
      class="btn btn-primary" ng-click="submitRefset(refset); ">Clone</button>
    <button class="btn btn-warning"
      ng-click="cancel()">Cancel</button>
    <button ng-show="comments.length > 0" class="btn btn-warning"
      ng-click="close()">Close</button>
  </div>
</div>