<div class="modal-header">
  <h4>Edit Refset</h4>
</div>

<div class="modal-body">
  <div>
    <table class="table">
      <tr>
        <td>Project Id:</td>
        <td><input ng-model="project.id"></td>
      </tr>
      <tr>
        <td>Refset Id:</td>
        <td><input ng-model="refset.terminologyId"></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><input ng-model="refset.name"></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><input ng-model="refset.description"></td>
      </tr>
      <tr>
        <td>Module Id:</td>
        <td><input ng-model="refset.moduleId"></td>
      </tr>
      <tr>
        <td>Organization:</td>
        <td><input ng-model="refset.organization"></td>
      </tr>
      <tr>
        <td>Feedback email:</td>
        <td><input ng-model="refset.feedbackEmail"></td>
      </tr>
      <tr>
        <td>Terminology:</td>
        <td><select ng-model="refset.terminology"
          ng-change="terminologySelected(refset.terminology)"
          ng-options="item for item in terminologies"></select></td>
      </tr>
      <tr>
        <td>Version:</td>
        <td><select ng-model="refset.version"
          ng-options="item for item in versions"></select></td>
      </tr>
      <tr>
        <td>Workflow path:</td>
        <td><input ng-model="refset.workflowPath"></td>
      </tr>
      <tr>
        <td>Type:</td>
        <td><select ng-model="refset.type"
          ng-options="item for item in refsetTypes"></select></td>
      </tr>
      <tr ng-show="refset.type == 'EXTERNAL'">
        <td>External Url:</td>
        <td><input ng-model="refset.externalUrl"></td>
      </tr>
      <tr ng-show="refset.type == 'INTENSIONAL'">
        <td>Definition:</td>
        <td><textarea rows="4" cols="40" ng-model="refset.definition"></textarea></td>
      </tr>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="submitRefset(refset); 
    ">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>