<div class="modal-header">
  <h4>{{operation}} {{type}}</h4>
</div>

<div class="modal-body">
  <div>
    <!-- Refset info -->
    <div refset-info refset="refset" form="long"></div>

    <table class="table">
      <tr>
        <td class="col-md-4 col-xs-4">
          <b>I/O Handler</b>
        </td>
        <td class="col-md-8 col-xs-8">
          <span ng-show="ioHandlers.length> 1">
            <select ng-model="selectedIoHandler"
              ng-options="item.name for item in ioHandlers"></select>
          </span>
          <span ng-show="ioHandlers.length == 1">{{ioHandlers[0].name}}</span>
        </td>
      </tr>
      <tr ng-show="operation == 'Import'">
        <td>
          <b>Choose File</b>
        </td>
        <td>
          <center>
            <button type="file" ngf-select ng-model="file" name="file"
              ngf-pattern="selectedIoHandler.fileTypeFilter"
              ngf-max-size="200MB">Browse for File</button>
            <div ngf-drop ng-model="file" class="drop-box"
              ngf-drag-over-class="'dragover'" ngf-max-size="200MB"
              ngf-pattern="selectedIoHandler.fileTypeFilter">Drop file
              here</div>
            </div>
          </center>
        </td>
      </tr>
      <tr ng-show="file">
        <td>Selected File</td>
        <td>{{file.name}}</td>
      </tr>
      <tr ng-show="errors.length > 0">
        <td colspan="2">
          <div class="alert alert-danger alert-error">
            {{errors[0]}}
            <div style="display: inline; float: right;">
              <i ng-show="errors[1]" title="{{error.expand ? 'Show' : 'Hide'}} long eror"
                class="noul material-icons md-18" ng-click="error.expand = !error.expand;">attach_file</i>
            </div>
            <p ng-show="errors[1] && error.expand">
              <br />{{errors[1]}}
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-show="operation == 'Export'"
    ng-click="export();">Export</button>
  <button class="btn btn-primary" ng-disabled="!file"
    ng-show="operation == 'Import' && errors.length == 0"
    ng-click="import(file);">Import</button>
  <button class="btn btn-primary"
    ng-show="operation == 'Import' && errors.length > 0"
    ng-click="continueImport(file);">Continue With Import</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>