<div class="modal-header">
  <h4>{{operation}} {{type}}</h4>
</div>

<div class="modal-body">
  <div>
    <table class="table">
      <tr>
        <td>
          <b>Id</b>
        </td>
        <td>{{refset.terminologyId}}</td>
      </tr>
      <tr>
        <td>
          <b>Name</b>
        </td>
        <td>{{refset.name}}</td>
      </tr>
      <tr>
        <td>
          <b>Description</b>
        </td>
        <td>{{refset.description}}</td>
      </tr>
      <tr>
        <td>Module Id</td>
        <td>
          {{translation.moduleId}}
          <!-- Mobile friendly line-break -->
          <br class="visible-xs-inline" />
          <span flag-icon obj="refset"></span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Type</b>
        </td>
        <td>
          <span refset-type-icon refset="refset"></span>
        </td>
      </tr>
      <tr>
        <td>I/O Handler</td>
        <td>
          <span ng-show="ioHandlers.length>
              1">
            <select ng-model="selectedIoHandler"
              ng-options="item.name for item in ioHandlers"></select>
          </span>
          <span ng-show="ioHandlers.length == 1">{{ioHandlers[0].name}}</span>
        </td>
      </tr>
      <tr ng-show="operation == 'Import'">
        <td>Choose File</td>
        <td>
          <center>
            <button type="file" ngf-select ng-model="file" name="file"
              ngf-pattern="selectedIoHandler.fileTypeFilter" ngf-max-size="10MB">Browse
              for File</button>
            <div ngf-drop ng-model="file" class="drop-box"
              ngf-drag-over-class="'dragover'" ngf-max-size="10MB"
              ngf-pattern="selectedIoHandler.fileTypeFilter">Drop file
              here</div>
            </div>
          </center>
        </td>
      </tr>
      <tr ng-show="file">
        <td>Selected File</td>
        <td>{{file.name}}</td>
      </tr>
      <tr ng-show="errors.length > 0">
        <td>&nbsp;</td>
        <td>
          <div class="alert alert-danger alert-error"
            ng-repeat="error in errors">
            {{error}}
            <!-- DO NOT SUPPORT clearing error <div
              style="cursor: pointer; display: inline; float: right; width: 3%;">
              <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
            </div> -->
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-show="operation == 'Export'"
    ng-click="export();">Export</button>
  <button class="btn btn-primary"
    ng-disabled="!file"
    ng-show="operation == 'Import' && errors.length == 0"
    ng-click="import(file);">Import</button>
  <button class="btn btn-primary" ng-show="operation == 'Import' && errors.length > 0"
    ng-click="continueImport(file);">Continue With Import</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>