<div class="modal-header">
  <h4>Log Entries</h4>
</div>

<div class="modal-body">
  <div class="row">

    <div class="col-md-12 col-xs-12" ng-show="error">
      <p class="alert alert-danger alert-error">{{error}}
      <div style="cursor: pointer; display: inline; float: right; width: 3%;">
        <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
      </div>
      </p>
    </div>

    <div class="col-md-12 col-xs-12">

      <div ng-show="log.length > 0"
        style="max-height: 500px; overflow-y: scroll;">
        
        <pre>{{log}}</pre>
      </div>
    </div>
  </div>
</div>


<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>