<div class="modal-header">
  <h4>Migration</h4>

  <div class="row">
    <!-- Migration - choose terminology/version -->
    <table class="table">
      <tbody>
        <tr>
          <td>
            <b>Current Terminology:</b>
          </td>
          <td>{{getTerminologyName(refset.terminology)}}</td>
          <td>
            <b>New Terminology:</b>
          </td>
          <td>
            <select ng-model="newTerminology"
              ng-change="terminologySelected(refset.terminology)"
              ng-options="item.terminology as item.name for item in metadata.terminologies"></select>
          </td>
        </tr>
        <tr>
          <td>
            <b>Current Version:</b>
          </td>
          <td>{{refset.version}}</td>
          <td>
            <b>New Version:</b>
          </td>
          <td>
            <select ng-model="newVersion" ng-options="item for item in versions"></select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal-body">
  <div ng-show="stagedRefset.lookupInProgress || refset.lookupInProgress"
    class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
      Looking up concept names and active status = {{lookupProgress}}%
      <uib-progressbar animate="true" value="lookupProgress" max="100"
        value="{{lookupProgress}}" type="success"></uib-progressbar>
    </div>
    <div class="col-md-2">&nbsp;</div>
  </div>

  <div class="row">
    <!-- Errors table -->
    <div class="col-md-12 col-md-12" ng-show="errors.length > 0">
      <table>
        <tr ng-show="errors.length > 0">
          <td>
            <div class="alert alert-danger alert-error">
              {{errors[0]}}
              <div style="display: inline; float: right;">
                <i ng-show="errors[1]"
                  title="{{error.expand ? 'Show' : 'Hide'}} long error"
                  class="noul material-icons md-18"
                  ng-click="error.expand = !error.expand;">attach_file</i>
              </div>
              <p ng-show="errors[1] && error.expand">
                <br />{{errors[1]}}
              </p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-2 col-xs-2"></div>
    <div ng-show="refset.stagingType && refset.type=='EXTENSIONAL'"
      class="info-text col-md-8 col-xs-8">For EXTENSIONAL refsets, use the
      "Filter by status" control to check for inactive members. For each one,
      decide whether to keep or remove it and decide whether to map through
      historical relationships to find replacement concepts.</div>
    <div ng-show="refset.stagingType && refset.type=='INTENSIONAL'"
      class="info-text col-md-8 col-xs-8">For INTENSIONAL refsets, decide
      whether to keep any "Valid Inclusions" or "Valid Exclusions" and "Old
      Members". For inactive "Old Members" you can map through historical
      relationships to find replacement concepts.</div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

  <div class="row">
    <!-- R1C1 members in common-->
    <div class="col-md-7 col-xs-12">

      <div ng-show="refset.stagingType && !stagedRefset.lookupInProgress">
        <!-- Members in common always shows up -->
        <h5 uib-tooltip="Regular members in both origin and migration refsets">
          <b>Members In Common ({{membersInCommon.totalCount}})</b>
        </h5>
        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="membersInCommon.totalCount > pageSize || paging['membersInCommon'].filter"
            total-items="membersInCommon.totalCount"
            ng-model="paging['membersInCommon'].page"
            ng-change="findMembersInCommon()"></uib-pagination>

          <input class="input-filter" placeholder="Search"
            ng-show="membersInCommon.totalCount > pageSize || paging['membersInCommon'].filter"
            type="text" ng-model="paging['membersInCommon'].filter"
            ng-model-options="{ debounce: 300 }"
            ng-change="findMembersInCommon()">

          <button class="btn btn-xs btn-warning"
            ng-show="paging['membersInCommon'].filter"
            ng-click="paging['membersInCommon'].filter = ''; findMembersInCommon()"
            title="Click to clear filter text">Clear</button>
        </span>

        <table class="table">
          <thead>
            <tr>
              <th class="col-md-4 col-xs-4"><span
                  ng-click="setSortField('membersInCommon','conceptId', null)">
                  Id</span> <span
                  ng-bind="getSortIndicator('membersInCommon','conceptId',null)"></span></th>
              <th class="col-md-7 col-xs-7"><span
                  ng-click="setSortField('membersInCommon','conceptName', null)">
                  Name</span> <span
                  ng-bind="getSortIndicator('membersInCommon','conceptName',null)"></span></th>
              <th class="col-md-1 col-xs-1"
                ng-show="refset.type == 'EXTENSIONAL'"><select
                title="Filter by status" style="width: 20px;"
                ng-model="paging['membersInCommon'].typeFilter"
                ng-options="item for item in statusTypes"
                ng-change="findMembersInCommon()">
                  <option value="">All</option>
              </select></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="member in membersInCommon">
              <td style="word-break: break-word;">{{member.conceptId}}</td>
              <td>{{member.conceptName}}</td>
              <td>
                <span class="nobreak" ng-show="refset.type == 'EXTENSIONAL'">
                  <i title="Remove"
                    confirm="Are you sure you want to remove the inactive member?"
                    ng-show="!member.conceptActive && refset.type == 'EXTENSIONAL'"
                    ng-click="removeMember(member); $event.stopPropagation()"
                    class="noul material-icons md-18">delete</i>
                  <button class="btn btn-xs inactive"
                    ng-show="!member.conceptActive" uib-tooltip="Inactive">I</button>
                  <i ng-click="include(stagedRefset, member, false)"
                    ng-show="!member.conceptActive"
                    title="Add replacement concepts to refset"
                    class="noul material-icons md-12">add</i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          ng-show="membersInCommon.length == 0 && (paging['membersInCommon'].typeFilter || paging['membersInCommon'].filter)"
          class="alert alert-warning">No results</div>
        <div
          ng-show="membersInCommon.length == 0 && !paging['membersInCommon'].typeFilter && !paging['membersInCommon'].typeFilter"
          class="alert alert-warning">No members in common</div>

      </div>
    </div>

    <!-- R1C2 new not old-->
    <div ng-show="refset.type == 'INTENSIONAL'" class="col-md-5 col-xs-12">
      <div
        ng-show="newRegularMembers.length > 0 || membersInCommon.length > 0 || paging['newRegularMembers'].typeFilter || paging['newRegularMembers'].filter">
        <h5
          uib-tooltip="New concepts in migration refset, that were not members in the refset.">
          <b>New Members ({{newRegularMembers.totalCount}})</b>
        </h5>
        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="newRegularMembers.totalCount > pageSize || paging['newRegularMembers'].filter"
            total-items="newRegularMembers.totalCount"
            ng-model="paging['newRegularMembers'].page"
            ng-change="getNewRegularMembers()"></uib-pagination>

          <input class="input-filter" placeholder="Search"
            ng-show="newRegularMembers.totalCount > pageSize || paging['newRegularMembers'].filter"
            type="text" ng-model="paging['newRegularMembers'].filter"
            ng-model-options="{ debounce: 300 }"
            ng-change="getNewRegularMembers()">

          <button class="btn btn-xs btn-warning"
            ng-show="paging['newRegularMembers'].filter"
            ng-click="paging['newRegularMembers'].filter = ''; getNewRegularMembers()"
            title="Click to clear filter text">Clear</button>
        </span>

        <table class="table">
          <thead>
            <tr>
              <th class="col-md-4 col-xs-4"><span
                  ng-click="setSortField('newRegularMembers','conceptId', null)">
                  Id</span> <span
                  ng-bind="getSortIndicator('newRegularMembers','conceptId',null)"></span></th>
              <th class="col-md-7 col-xs-7"><span
                  ng-click="setSortField('newRegularMembers','conceptName', null)">
                  Name</span> <span
                  ng-bind="getSortIndicator('newRegularMembers','conceptName',null)"></span></th>
              <th class="col-md-1 col-xs-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="member in newRegularMembers"
              ng-class="getMemberStyle(member)">
              <td style="word-break: break-word;">{{member.conceptId}}</td>
              <td>{{member.conceptName}}</td>
              <td>
                <button class="btn btn-xs inactive"
                  ng-show="!member.conceptActive" uib-tooltip="Inactive">I</button>
                <i title="Exclude new member."
                  ng-click="exclude(refset, member, false)"
                  ng-show="refset.type == 'INTENSIONAL'"
                  class="noul material-icons md-18">remove_circle_outline</i>
                <i title="Remove new member." ng-click="removeMember(member)"
                  ng-show="refset.type == 'EXTENSIONAL'"
                  class="noul material-icons md-18">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          ng-show="newRegularMembers.length == 0 && (paging['newRegularMembers'].typeFilter || paging['newRegularMembers'].filter)"
          class="alert alert-warning">No results</div>
        <div
          ng-show="newRegularMembers.length == 0 && !paging['newRegularMembers'].typeFilter && !paging['newRegularMembers'].filter"
          class="alert alert-warning">No new members</div>
      </div>
    </div>

  </div>

  <hr style="width: 100%" />
  <div class="row">
    <!-- R2C1 inclusions and exclusions -->
    <div class="col-md-7 col-xs-12">

      <!-- Inclusions -->
      <div class="row">

        <!-- Show this whole section if there are any valid or staged inclusions -->
        <div
          ng-show="validInclusions.length > 0 || stagedInclusions.length > 0 || paging['validInclusions'].filter || paging['validInclusions'].typeFilter || paging['stagedInclusions'].filter || paging['stagedInclusions'].typeFilter">

          <div class="col-md-6 col-xs-6">

            <h5
              uib-tooltip="Concepts not in migrated refset.  User can choose to continue their explicit inclusion.">
              <b>Valid Inclusions<span
                  ng-show="pagedValidInclusions.length > 0">
                  ({{pagedValidInclusions.totalCount}})</span></b>
            </h5>

            <span style="display: block;">
              <uib-pagination items-per-page="pageSize" max-size="5"
                boundary-links="true" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"
                ng-show="pagedValidInclusions.totalCount > pageSize || paging['validInclusions'].filter"
                total-items="pagedValidInclusions.totalCount"
                ng-model="paging['validInclusions'].page"
                ng-change="getPagedValidInclusions()"></uib-pagination>

              <input class="input-filter" placeholder="Search"
                ng-show="pagedValidInclusions.totalCount > pageSize || paging['validInclusions'].filter"
                type="text" ng-model="paging['validInclusions'].filter"
                ng-model-options="{ debounce: 300 }"
                ng-change="getPagedValidInclusions()">

              <button class="btn btn-xs btn-warning"
                ng-show="paging['validInclusions'].filter"
                ng-click="paging['validInclusions'].filter = ''; getPagedValidInclusions()"
                title="Click to clear filter text">Clear</button>
            </span>

            <table
              ng-show="validInclusions.length > 0 || stagedInclusions.length > 0"
              class="table">
              <thead>
                <tr>
                  <th class="col-md-4 col-xs-4"><span
                      ng-click="setSortField('validInclusions','conceptId', null)">
                      Id</span> <span
                      ng-bind="getSortIndicator('validInclusions','conceptId',null)"></span></th>
                  <th class="col-md-7 col-xs-7"><span
                      ng-click="setSortField('validInclusions','conceptName', null)">
                      Name</span> <span
                      ng-bind="getSortIndicator('validInclusions','conceptName',null)"></span></th>
                  <th class="col-md-1 col-xs-1"><select
                    title="Filter by status" style="width: 20px;"
                    ng-model="paging['validInclusions'].typeFilter"
                    ng-options="item for item in statusTypes"
                    ng-change="getPagedValidInclusions()">
                      <option value="">All</option>
                  </select></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in pagedValidInclusions">
                  <td style="word-break: break-word;">{{member.conceptId}}</td>
                  <td>{{member.conceptName}}</td>
                  <td class="nobreak">
                    <i title="Add inclusion to migrated refset."
                      ng-click="include(stagedRefset, member, true)"
                      class="noul material-icons md-18">arrow_forward</i>
                    <button class="btn btn-xs inactive"
                      ng-show="!member.conceptActive" uib-tooltip="Inactive">I</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              ng-show="validInclusions.length == 0 && (paging['validInclusions'].typeFilter || paging['validInclusions'].filter)"
              class="alert alert-warning">No results</div>
            <div
              ng-show="validInclusions.length == 0 && !paging['validInclusions'].typeFilter && !paging['validInclusions'].filter"
              class="alert alert-warning">No valid inclusions</div>

          </div>

          <div class="col-md-6 col-xs-6">

            <h5
              uib-tooltip="Inclusions migrated from old members or prior valid inclusions.">
              <b>Migrated Inclusions<span
                  ng-show="pagedStagedInclusions.length > 0">
                  ({{pagedStagedInclusions.totalCount}})</span></b>
            </h5>

            <span style="display: block;">
              <uib-pagination items-per-page="pageSize" max-size="5"
                boundary-links="true" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"
                ng-show="pagedStagedInclusions.totalCount > pageSize || paging['stagedInclusions'].filter"
                total-items="pagedStagedInclusions.totalCount"
                ng-model="paging['stagedInclusions'].page"
                ng-change="getPagedStagedInclusions()"></uib-pagination>

              <input class="input-filter" placeholder="Search"
                ng-show="pagedStagedInclusions.totalCount > pageSize || paging['stagedInclusions'].filter"
                type="text" ng-model="paging['stagedInclusions'].filter"
                ng-model-options="{ debounce: 300 }"
                ng-change="getPagedStagedInclusions()">

              <button class="btn btn-xs btn-warning"
                ng-show="paging['stagedInclusions'].filter"
                ng-click="paging['stagedInclusions'].filter = ''; getPagedStagedInclusions()"
                title="Click to clear filter text">Clear</button>
            </span>

            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-4 col-xs-4"><span
                      ng-click="setSortField('stagedInclusions','conceptId', null)">
                      Id</span> <span
                      ng-bind="getSortIndicator('stagedInclusions','conceptId',null)"></span></th>
                  <th class="col-md-7 col-xs-7"><span
                      ng-click="setSortField('stagedInclusions','conceptName', null)">
                      Name</span> <span
                      ng-bind="getSortIndicator('stagedInclusions','conceptName',null)"></span></th>
                  <th class="col-md-1 col-xs-1"><select
                    title="Filter by status" style="width: 20px;"
                    ng-model="paging['stagedInclusions'].typeFilter"
                    ng-options="item for item in statusTypes"
                    ng-change="getPagedStagedInclusions()">
                      <option value="">All</option>
                  </select></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in pagedStagedInclusions">
                  <td style="word-break: break-word;">{{member.conceptId}}</td>
                  <td>{{member.conceptName}}</td>
                  <td class="nobreak">
                    <i title="Revert migrated inclusion."
                      ng-click="revert(refset, member)"
                      class="noul material-icons md-18">arrow_back</i>
                    <button class="btn btn-xs inactive"
                      ng-show="!member.conceptActive" uib-tooltip="Inactive">I</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              ng-show="stagedInclusions.length == 0 && (paging['stagedInclusions'].typeFilter || paging['stagedInclusions'].filter)"
              class="alert alert-warning">No results</div>
            <div
              ng-show="stagedInclusions.length == 0 && !paging['stagedInclusions'].typeFilter && !paging['stagedInclusions'].filter"
              class="alert alert-warning">No migrated inclusions</div>

          </div>

        </div>

      </div>

      <!-- Exclusions-->
      <div class="row">

        <!-- Show this whole section if there are any valid or staged exclusions -->
        <div
          ng-show="validExclusions.length > 0 || stagedExclusions.length > 0 || paging['validExclusions'].filter || paging['validExclusions'].typeFilter || paging['stagedExclusions'].filter || paging['stagedExclusions'].typeFilter">

          <div class="col-md-6 col-xs-6">

            <h5
              uib-tooltip="Concepts that are in migrated refset.  User can choose to continue their exclusion.">
              <b>Valid Exclusions<span
                  ng-show="pagedValidExclusions.length > 0">
                  ({{pagedValidExclusions.totalCount}})</span></b>
            </h5>

            <span style="display: block;">
              <uib-pagination items-per-page="pageSize" max-size="5"
                boundary-links="true" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"
                ng-show="pagedValidExclusions.totalCount > pageSize || paging['validExclusions'].filter"
                total-items="pagedValidExclusions.totalCount"
                ng-model="paging['validExclusions'].page"
                ng-change="getPagedValidExclusions()"></uib-pagination>

              <input class="input-filter" placeholder="Search"
                ng-show="pagedValidExclusions.totalCount > pageSize || paging['validExclusions'].filter"
                type="text" ng-model="paging['validExclusions'].filter"
                ng-model-options="{ debounce: 300 }"
                ng-change="getPagedValidExclusions()">

              <button class="btn btn-xs btn-warning"
                ng-show="paging['validExclusions'].filter"
                ng-click="paging['validExclusions'].filter = ''; getPagedValidExclusions()"
                title="Click to clear filter text">Clear</button>
            </span>

            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-4 col-xs-4"><span
                      ng-click="setSortField('validExclusions','conceptId', null)">
                      Id</span> <span
                      ng-bind="getSortIndicator('validExclusions','conceptId',null)"></span></th>
                  <th class="col-md-7 col-xs-7"><span
                      ng-click="setSortField('validExclusions','conceptName', null)">
                      Name</span> <span
                      ng-bind="getSortIndicator('validExclusions','conceptName',null)"></span></th>
                  <th class="col-md-1 col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in pagedValidExclusions">
                  <td style="word-break: break-word;">{{member.conceptId}}</td>
                  <td>{{member.conceptName}}</td>
                  <td>
                    <i title="Add exclusion to migration refset."
                      ng-click="exclude(stagedRefset, member, true)"
                      class="noul material-icons md-18">arrow_forward</i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              ng-show="validExclusions.length == 0 && (paging['validExclusions'].typeFilter || paging['validExclusions'].filter)"
              class="alert alert-warning">No results</div>
            <div
              ng-show="validExclusions.length == 0 && !paging['validExclusions'].typeFilter && !paging['validExclusions'].filter"
              class="alert alert-warning">No valid exclusions</div>

          </div>

          <div class="col-md-6 col-xs-6">

            <h5
              uib-tooltip="Exclusions migrated from excluded new members or prior valid inclusions.">
              <b>Migrated Exclusions<span
                  ng-show="pagedStagedExclusions.length > 0">
                  ({{pagedStagedExclusions.totalCount}})</span></b>
            </h5>

            <span style="display: block;">
              <uib-pagination items-per-page="pageSize" max-size="5"
                boundary-links="true" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"
                ng-show="pagedStagedExclusions.totalCount > pageSize || paging['stagedExclusions'].filter"
                total-items="pagedStagedExclusions.totalCount"
                ng-model="paging['stagedExclusions'].page"
                ng-change="getPagedStagedExclusions()"></uib-pagination>

              <input class="input-filter" placeholder="Search"
                ng-show="pagedStagedExclusions.totalCount > pageSize || paging['stagedExclusions'].filter"
                type="text" ng-model="paging['stagedExclusions'].filter"
                ng-model-options="{ debounce: 300 }"
                ng-change="getPagedStagedExclusions()">

              <button class="btn btn-xs btn-warning"
                ng-show="paging['stagedExclusions'].filter"
                ng-click="paging['stagedExclusions'].filter = ''; getPagedStagedExclusions()"
                title="Click to clear filter text">Clear</button>
            </span>

            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-4 col-xs-4"><span
                      ng-click="setSortField('stagedExclusions','conceptId', null)">
                      Id</span> <span
                      ng-bind="getSortIndicator('stagedExclusions','conceptId',null)"></span></th>
                  <th class="col-md-7 col-xs-7"><span
                      ng-click="setSortField('stagedExclusions','conceptName', null)">
                      Name</span> <span
                      ng-bind="getSortIndicator('stagedExclusions','conceptName',null)"></span></th>
                  <th class="col-md-1 col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in pagedStagedExclusions">
                  <td style="word-break: break-word;">{{member.conceptId}}</td>
                  <td>{{member.conceptName}}</td>
                  <td>
                    <i title="Revert staged exclusion."
                      ng-click="revert(refset, member)"
                      class="noul material-icons md-18">arrow_back</i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              ng-show="stagedExclusions.length == 0 && (paging['stagedExclusions'].typeFilter || paging['stagedExclusions'].filter)"
              class="alert alert-warning">No results</div>
            <div
              ng-show="stagedExclusions.length == 0 && !paging['stagedExclusions'].typeFilter && !paging['stagedExclusions'].filter"
              class="alert alert-warning">No migrated exclusions</div>

          </div>
        </div>
      </div>

    </div>

    <!-- R1C2 old not new -->
    <div ng-show="refset.type == 'INTENSIONAL'" class="col-md-5 col-xs-12">

      <!-- show if there are old regular members -->
      <div
        ng-show="oldRegularMembers.length > 0 || membersInCommon.length > 0 || paging['oldRegularMembers'].typeFilter || paging['oldRegularMembers'].filter">
        <h5
          uib-tooltip="Concepts that were in the refset, but are no longer members in migrated refset.">
          <b>Old Members ({{oldRegularMembers.totalCount}})</b>
        </h5>
        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="oldRegularMembers.totalCount > pageSize || paging['oldRegularMembers'].filter"
            total-items="oldRegularMembers.totalCount"
            ng-model="paging['oldRegularMembers'].page"
            ng-change="getOldRegularMembers()"></uib-pagination>

          <input class="input-filter" placeholder="Search"
            ng-show="oldRegularMembers.totalCount > pageSize || paging['oldRegularMembers'].filter"
            type="text" ng-model="paging['oldRegularMembers'].filter"
            ng-model-options="{ debounce: 300 }"
            ng-change="getOldRegularMembers()">

          <button class="btn btn-xs btn-warning"
            ng-show="paging['oldRegularMembers'].filter"
            ng-click="paging['oldRegularMembers'].filter = ''; getOldRegularMembers()"
            title="Click to clear filter text">Clear</button>
        </span>

        <table class="table">
          <thead>
            <tr>
              <th class="col-md-4 col-xs-4"><span
                  ng-click="setSortField('oldRegularMembers','conceptId', null)">
                  Id</span> <span
                  ng-bind="getSortIndicator('oldRegularMembers','conceptId',null)"></span></th>
              <th class="col-md-7 col-xs-7"><span
                  ng-click="setSortField('oldRegularMembers','conceptName', null)">
                  Name</span> <span
                  ng-bind="getSortIndicator('oldRegularMembers','conceptName',null)"></span></th>
              <th class="col-md-1 col-xs-1"><select
                title="Filter by status" style="width: 20px;"
                ng-model="paging['oldRegularMembers'].typeFilter"
                ng-options="item for item in statusTypes"
                ng-change="getOldRegularMembers()">
                  <option value="">All</option>
              </select></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="member in oldRegularMembers"
              ng-class="getMemberStyle(member)">
              <td style="word-break: break-word;">{{member.conceptId}}</td>
              <td>{{member.conceptName}}</td>
              <td class="nobreak">
                <button class="btn btn-xs inactive"
                  ng-show="!member.conceptActive" uib-tooltip="Inactive">I</button>
                <a ng-show="member.memberType == 'MEMBER'"
                  ng-click="include(stagedRefset, member, true)">
                  <i title="Include old member."
                    class="noul material-icons md-18">add_circle_outline</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          ng-show="oldRegularMembers.length == 0 && (paging['oldRegularMembers'].typeFilter || paging['oldRegularMembers'].filter)"
          class="alert alert-warning">No results</div>
        <div
          ng-show="oldRegularMembers.length == 0 && !paging['oldRegularMembers'].typeFilter && !paging['oldRegularMembers'].filter"
          class="alert alert-warning">No old members</div>
      </div>
    </div>
  </div>

  <hr style="width: 100%" />

  <div class="row">


    <!-- R3C1 Invalid inclusions/exclusions -->
    <div class="col-md-7 col-xs-12">
      <div class="row">

        <!-- R3C1.a - invalid inclusions -->
        <div class="col-md-6 col-xs-6">

          <div ng-show="invalidInclusions.length > 0">
            <h5
              uib-tooltip="Concepts that were inclusions in the refset, but now are regular members of the migrated refset.">
              <b>Invalid Inclusions<span
                  ng-show="pagedInvalidInclusions.length > 0">
                  ({{pagedInvalidInclusions.totalCount}})</span></b>
            </h5>

            <span style="display: block;">
              <uib-pagination items-per-page="pageSize" max-size="5"
                boundary-links="true" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"
                ng-show="pagedInvalidInclusions.totalCount > pageSize || paging['invalidInclusions'].filter"
                total-items="pagedInvalidInclusions.totalCount"
                ng-model="paging['invalidInclusions'].page"
                ng-change="getPagedInvalidInclusions()"></uib-pagination>

              <input class="input-filter" placeholder="Search"
                ng-show="pagedInvalidInclusions.totalCount > pageSize || paging['invalidInclusions'].filter"
                type="text" ng-model="paging['invalidInclusions'].filter"
                ng-model-options="{ debounce: 300 }"
                ng-change="getPagedInvalidInclusions()">

              <button class="btn btn-xs btn-warning"
                ng-show="paging['invalidInclusions'].filter"
                ng-click="paging['invalidInclusions'].filter = ''; getPagedInvalidInclusions()"
                title="Click to clear filter text">Clear</button>
            </span>


            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-4 col-xs-4"><span
                      ng-click="setSortField('invalidInclusions','conceptId', null)">
                      Id</span> <span
                      ng-bind="getSortIndicator('invalidInclusions','conceptId',null)"></span></th>
                  <th class="col-md-8 col-xs-8"><span
                      ng-click="setSortField('invalidInclusions','conceptName', null)">
                      Name</span> <span
                      ng-bind="getSortIndicator('invalidInclusions','conceptName',null)"></span></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in pagedInvalidInclusions">
                  <td style="word-break: break-word;">{{member.conceptId}}</td>
                  <td>{{member.conceptName}}</td>
                </tr>
              </tbody>
            </table>
            <!-- only shows if there are entries, so no spans needed -->

          </div>
        </div>

        <!-- R3C1.b - invalid exclusions -->
        <div class="col-md-6 col-xs-6">

          <div ng-show="invalidExclusions.length > 0">
            <h5
              uib-tooltip="Concepts that were exclusions in the refset, but now are regular members of the migrated refset.">
              <b>Invalid Exclusions<span
                  ng-show="pagedInvalidExclusions.length > 0">
                  ({{pagedInvalidExclusions.totalCount}})</span></b>
            </h5>

            <span style="display: block;">
              <uib-pagination items-per-page="pageSize" max-size="5"
                boundary-links="true" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"
                ng-show="pagedInvalidExclusions.totalCount > pageSize || paging['invalidExclusions'].filter"
                total-items="pagedInvalidExclusions.totalCount"
                ng-model="paging['invalidExclusions'].page"
                ng-change="getPagedInvalidExclusions()"></uib-pagination>

              <input class="input-filter" placeholder="Search"
                ng-show="pagedInvalidExclusions.totalCount > pageSize || paging['invalidExclusions'].filter"
                type="text" ng-model="paging['invalidExclusions'].filter"
                ng-model-options="{ debounce: 300 }"
                ng-change="getPagedInvalidExclusions()">

              <button class="btn btn-xs btn-warning"
                ng-show="paging['invalidExclusions'].filter"
                ng-click="paging['invalidExclusions'].filter = ''; getPagedInvalidExclusions()"
                title="Click to clear filter text">Clear</button>
            </span>


            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-4 col-xs-4"><span
                      ng-click="setSortField('invalidExclusions','conceptId', null)">
                      Id</span> <span
                      ng-bind="getSortIndicator('invalidExclusions','conceptId',null)"></span></th>
                  <th class="col-md-8 col-xs-8"><span
                      ng-click="setSortField('invalidExclusions','conceptName', null)">
                      Name</span> <span
                      ng-bind="getSortIndicator('invalidExclusions','conceptName',null)"></span></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in pagedInvalidExclusions">
                  <td style="word-break: break-word;">{{member.conceptId}}</td>
                  <td>{{member.conceptName}}</td>
                </tr>
              </tbody>
            </table>
            <!-- only shows if there are entries, so no spans needed -->

          </div>
        </div>

      </div>

    </div>

    <!-- No R3C2 -->
    <div class="col-md-5 col-xs-12">&nbsp;</div>

  </div>


  <!-- end modal-body -->
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="refset.staged"
    ng-click="beginMigration(newTerminology, newVersion);">Migrate</button>

  <button ng-show="refset.staged" class="btn btn-primary"
    ng-click="saveForLater(refset);">Save for later</button>

  <button class="btn btn-primary"
    confirm="Are you sure you want to finish migration?"
    ng-disabled="!refset.staged || stagedRefset.lookupInProgress || refset.lookupInProgress"
    ng-click="finish(refset); ">Finish</button>

  <button confirm="Are you sure you want to cancel migration?"
    class="btn btn-warning"
    ng-disabled="!refset.staged || stagedRefset.lookupInProgress || refset.lookupInProgress"
    title="Cancel migration" ng-click="cancel(refset);">Cancel</button>

  <button class="btn btn-warning"
    ng-show="!refset.staged && !stagedRefset.lookupInProgress && !refset.lookupInProgress"
    title="Close" ng-click="close(refset);">Close</button>
</div>