<div class="modal-header">
  <h4>Migration</h4>

  <div>


    <!-- Migration - choose terminology/version -->
    <table  class="table">
      <tbody>
        <tr>
          <td>
            <h5>Current Terminology:</h5>
          </td>
          <td>{{refset.terminology}}</td>
          <td>
            <h5>Current Version:</h5>
          </td>
          <td>{{refset.version}}</td>
        </tr>
        <tr>
          <td>
            <h5>New Terminology:</h5>
          </td>
          <td>
            <select ng-model="refset.newTerminology"
              ng-change="terminologySelected(refset.terminology)"
              ng-options="item for item in metadata.terminologies"></select> 
          </td>
          <td>
            <h5>New Version:</h5>
          </td>
          <td>   
            <select ng-model="refset.newVersion"
              ng-options="item for item in versions"></select>
            <button class="btn btn-primary" ng-disabled="refset.stagingType != null"
              ng-click="beginMigration(refset.newTerminology, refset.newVersion);">Migrate</button>            
          </td>
        </tr>        
      </tbody>
    </table>
    <uib-progressbar animate="false" ng-show="stagedRefset.lookupInProgress == true" value="lookupProgress" type="success"><b>{{lookupProgress}}%</b></uib-progressbar>      
  </div>
</div>

<div class="modal-body">


  <div class="row">

    <!-- Errors table -->
    <div class="col-md-8 col-md-12" ng-show="errors.length > 0">
      <table>
        <tr ng-show="errors.length > 0">
          <td>&nbsp;</td>
          <td>
            <div class="alert alert-danger alert-error"
              ng-repeat="error in errors">
              {{error}}
              <!-- DO NOT SUPPORT clearing error for now <div
              style="cursor: pointer; display: inline; float: right; width: 3%;">
              <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
            </div> -->
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-md-8 col-xs-12">

      <div class="row">
        <div class="col-md-12 col-xs-12">

          <h5 ng-show="refset.stagingType != null && (membersInCommon.length > 0 || paging['membersInCommon'].typeFilter != '')">
            <b>Members In Common</b>
          </h5>
          <span ng-show="membersInCommon.length == 0 && paging['membersInCommon'].typeFilter == ''"
            class="alert alert-warning"> Origin and staged refsets have
            no members in common</span>
          <span style="display: block;">
            <uib-pagination items-per-page="pageSize" max-size="5"
              boundary-links="true" class="pagination-sm"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
              last-text="&raquo;"
              ng-show="membersInCommon.totalCount > pageSize || paging['membersInCommon'].filter"
              total-items="membersInCommon.totalCount"
              ng-model="paging['membersInCommon'].page"
              ng-change="findMembersInCommon()"></uib-pagination>

            <input class="input-filter" placeholder="Enter filter text"
              ng-show="membersInCommon.totalCount > pageSize || paging['membersInCommon'].filter"
              type="text" ng-model="paging['membersInCommon'].filter"
              ng-model-options="{ debounce: 300 }"
              ng-change="findMembersInCommon()">

            <button class="btn btn-xs btn-warning"
              ng-show="paging['membersInCommon'].filter"
              ng-click="paging['membersInCommon'].filter = ''; findMembersInCommon()"
              title="Click to clear filter text">Clear</button>
          </span>

          <table ng-show="membersInCommon.length > 0 || paging['membersInCommon'].typeFilter != ''" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-7 col-xs-7">Concept name</th>
              <th class="col-md-1 col-xs-1"><select
              title="Filter by status" style="width: 60px;"
              ng-model="paging['membersInCommon'].typeFilter"
              ng-options="item for item in statusTypes"
              ng-change="findMembersInCommon()">
                <option value="">All</option>
              </select></th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in membersInCommon">
                <td style="word-break: break-word;">{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td><button class="btn btn-xs retired"
                  ng-show="!member.conceptActive" uib-tooltip="Retired">R</button></td>
                <td><i title="Remove"
              confirm="Are you sure you want to remove the retired member?"
              ng-show="!member.conceptActive && refset.type == 'EXTENSIONAL'"
              ng-click="removeMember(member); $event.stopPropagation()"
              class="noul material-icons md-18">delete</i></td>
              </tr>
            </tbody>
          </table>
          <span ng-show="membersInCommon.length == 0 && paging['membersInCommon'].typeFilter != ''"
            class="alert alert-warning"> No filter results</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5
            ng-show="validInclusions.length > 0 || stagedInclusions.length > 0"
            uib-tooltip="Concepts that are not in migrated refset and user can choose to continue their explicit inclusion.">
            <b>Valid Inclusions</b>
          </h5>

          <table
            ng-show="validInclusions.length > 0 || stagedInclusions.length > 0"
            class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in validInclusions">
                <td style="word-break: break-word;">{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td>
                  <a ng-click="include(stagedRefset, member, true)">
                    <i uib-tooltip="Add inclusion to staged refset."
                      class="noul material-icons md-18">arrow_forward</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>


        </div>

        <div class="col-md-6 col-xs-6">
          <h5
            ng-show="stagedInclusions.length > 0 || validInclusions.length > 0">
            <b>Staged Inclusions</b>
          </h5>

          <table
            ng-show="stagedInclusions.length > 0 || validInclusions.length > 0"
            class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in stagedInclusions">
                <td style="word-break: break-word;">{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td>
                  <a ng-click="revert(refset, member)">
                    <i uib-tooltip="Revert staged inclusion."
                      class="noul material-icons md-18">arrow_back</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="invalidInclusions.length > 0"
            uib-tooltip="Concepts that were inclusions in origin refset, but now are regular members of the migrated refset.">
            <b>Invalid Inclusions</b>
          </h5>

          <table ng-show="invalidInclusions.length > 0" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
            </thead>
            <tbody>
              <tr ng-repeat="member in invalidInclusions">
                <td style="word-break: break-word;">{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5
            ng-show="validExclusions.length > 0 || stagedExclusions.length > 0"
            uib-tooltip="Concepts that are in migrated refset and user can choose to continue their exclusion.">
            <b>Valid Exclusions</b>
          </h5>

          <table
            ng-show="validExclusions.length > 0 || stagedExclusions.length > 0"
            class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-7 col-xs-7">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in validExclusions">
                <td style="word-break: break-word;">{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td>
                  <a ng-click="exclude(refset, member, 'true')">
                    <i uib-tooltip="Add inclusion to staged refset."
                      class="noul material-icons md-18">arrow_forward</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-6 col-xs-6">
          <h5
            ng-show="stagedExclusions.length > 0 || validExclusions.length > 0">
            <b>Staged Exclusions</b>
          </h5>

          <table
            ng-show="stagedExclusions.length > 0 || validExclusions.length > 0"
            class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in stagedExclusions">
                <td style="word-break: break-word;">{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td>
                  <a ng-click="revert(refset, member)">
                    <i uib-tooltip="Revert staged inclusion."
                      class="noul material-icons md-18">arrow_back</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="invalidExclusions.length > 0" 
            uib-tooltip="Concepts that can no longer be excluded, because they are not in migrated refset.">
            <b>Invalid Exclusions</b>
          </h5>

          <table ng-show="invalidExclusions.length > 0" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
            </thead>
            <tbody>
              <tr ng-repeat="member in invalidExclusions">
                <td style="word-break: break-word;">{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- End col-md-8 -->
    </div>

    <div class="col-md-4 col-xs-12">
      <h5 ng-show="newRegularMembers.length > 0 || paging['newRegularMembers'].filter != ''"
            uib-tooltip="New concepts in migrated refset, that were not members in origin refset.">
        <b>New Members</b>
      </h5>
      <span style="display: block;">
        <uib-pagination items-per-page="pageSize" max-size="5"
          boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="newRegularMembers.totalCount > pageSize || paging['newRegularMembers'].filter"
          total-items="newRegularMembers.totalCount"
          ng-model="paging['newRegularMembers'].page"
          ng-change="getNewRegularMembers()"></uib-pagination>

        <input class="input-filter" placeholder="Enter filter text"
          ng-show="newRegularMembers.totalCount > pageSize || paging['newRegularMembers'].filter"
          type="text" ng-model="paging['newRegularMembers'].filter"
          ng-model-options="{ debounce: 300 }" ng-change="getNewRegularMembers()">

        <button class="btn btn-xs btn-warning"
          ng-show="paging['newRegularMembers'].filter"
          ng-click="paging['newRegularMembers'].filter = ''; getNewRegularMembers()"
          title="Click to clear filter text">Clear</button>
      </span>

      <table ng-show="newRegularMembers.length > 0" class="table">
        <thead>
          <th class="col-md-3 col-xs-3">Concept id</th>
          <th class="col-md-8 col-xs-8">Concept name</th>
          <th class="col-md-1 col-xs-1"></th>
        </thead>
        <tbody>
          <tr ng-repeat="member in newRegularMembers"
            ng-class="getMemberStyle(member)">
            <td style="word-break: break-word;">{{member.conceptId}}</td>
            <td>{{member.conceptName}}</td>
            <td>
              <button class="btn btn-xs retired"
                  ng-show="!member.conceptActive" uib-tooltip="Retired">R</button>
              <a ng-click="exclude(refset, member, 'false')">
                <i uib-tooltip="Exclude new member."
                  class="noul material-icons md-18">remove_circle_outline</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>


      <h5 ng-show="oldRegularMembers.length > 0 || paging['oldRegularMembers'].typeFilter != ''"
            uib-tooltip="Concepts that were in origin refset, but are no longer members in migrated refset.">
        <b>Old Members</b>
      </h5>
      <span style="display: block;">
        <uib-pagination items-per-page="pageSize" max-size="5"
          boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="oldRegularMembers.totalCount > pageSize || paging['oldRegularMembers'].filter"
          total-items="oldRegularMembers.totalCount"
          ng-model="paging['oldRegularMembers'].page"
          ng-change="getOldRegularMembers()"></uib-pagination>

        <input class="input-filter" placeholder="Enter filter text"
          ng-show="oldRegularMembers.totalCount > pageSize || paging['oldRegularMembers'].filter"
          type="text" ng-model="paging['oldRegularMembers'].filter"
          ng-model-options="{ debounce: 300 }" ng-change="getOldRegularMembers()">

        <button class="btn btn-xs btn-warning"
          ng-show="paging['oldRegularMembers'].filter"
          ng-click="paging['oldRegularMembers'].filter = ''; getOldRegularMembers()"
          title="Click to clear filter text">Clear</button>
      </span>
      
      <table ng-show="oldRegularMembers.length > 0 || paging['oldRegularMembers'].typeFilter != ''" class="table">
        <thead>
          <th class="col-md-3 col-xs-3">Concept id</th>
          <th class="col-md-7 col-xs-7">Concept name</th>
          <th class="col-md-1 col-xs-1"><select
              title="Filter by status" style="width: 45px;"
              ng-model="paging['oldRegularMembers'].typeFilter"
              ng-options="item for item in statusTypes"
              ng-change="getOldRegularMembers()">
                <option value="">All</option>
            </select></th>
          <th class="col-md-1 col-xs-1"></th>
        </thead>
        <tbody>
          <tr ng-repeat="member in oldRegularMembers"
            ng-class="getMemberStyle(member)">
            <td style="word-break: break-word;">{{member.conceptId}}</td>
            <td>{{member.conceptName}}</td>
            <td><button class="btn btn-xs retired"
                  ng-show="!member.conceptActive" uib-tooltip="Retired">R</button></td>
            <td>             
              <a ng-show="member.memberType == 'MEMBER'"
                ng-click="include(stagedRefset, member, false)">
                <i uib-tooltip="Include old member."
                  class="noul material-icons md-18">add_circle_outline</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <span ng-show="oldRegularMembers.length == 0 && paging['oldRegularMembers'].typeFilter != ''"
            class="alert alert-warning"> No filter results</span>
      <!-- end col-md-4 -->
    </div>

    <!-- end row -->
  </div>

  <!-- end modal-body -->
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="refset.stagingType == null || stagedRefset.lookupInProgress == true"
    ng-click="saveForLater(refset);
    ">Save for later</button>
  <button class="btn btn-primary" ng-disabled="refset.stagingType == null || stagedRefset.lookupInProgress == true"
    ng-click="finish(refset); 
    ">Finish</button>
  <button confirm="Are you sure you want to cancel migration?"
    class="btn btn-warning" ng-show="refset.stagingType != null"
    ng-disabled="refset.stagingType == null || stagedRefset.lookupInProgress == true"
    title="Cancel migration" ng-click="cancel(refset);">Cancel</button>
  <button class="btn btn-warning" ng-show="refset.stagingType == null"
    title="Close" ng-click="close();">Close</button>
</div>