<div class="modal-header">
  <h4>{{type}} {{object.name}} Notes</h4>
</div>

<div class="modal-body">
  <div class="row">
    <!--  Left hand side -->
    <div class="col-md-12 col-xs-12">

      <!-- Errors -->
      <div class="alert alert-danger alert-error" ng-repeat="error in errors">
        {{error}}
        <div style="cursor: pointer; display: inline; float: right; width: 3%;">
          <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
        </div>
      </div>

      <span ng-show="object.notes.length > 0">

        <!-- <span style="display: block;">
          <ul style="margin: 5px" class="pager uib-pagination-sm"
            ng-show="search && (searchResults.length > 0 || paging['search'].page > 1)">
            <li class="previous" ng-show="paging['search'].page > 1"
              ng-click="getPreviousPage()"><a>&larr; Previous</a></li>
            <span class="panel-title"> Page {{paging['search'].page}}</span>
            <li ng-show="searchResults.length > 0" class="next"
              ng-click="getNextPage()"><a>Next &rarr;</a></li>
          </ul>
        </span> -->

        <table ng-show="object.notes.length > 0" class="table">
          <thead class="table-select-row">
            <th class="col-md-10 col-xs-10">{{type}} Notes</th>
            <th class="col-md-2 col-xs-2"></th>            
          </thead>
          <tbody>
            <tr ng-repeat="note in object.notes">
              <td>{{note.value}}</td>
              <td><a class="toolicon" title="Remove"
                  ng-click="removeNote(object, note); $event.stopPropagation()">
                  <i title="Remove note" class="noul material-icons md-18">delete</i>
                </a></td>
            </tr>
          </tbody>
        </table>
  </span>
      <textarea rows="4" cols="40" ng-model="newNote"
          placeholder="Add new note content here."></textarea>
    </div>


  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!newNote"
    ng-click="submitNote(object, newNote);" title=" Add new note to {{type}}">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>