<div class="modal-header">
  <h4>{{type}}</h4>

  <div>

    <h5 ng-show="type == 'Redefinition'">
      <b>Origin Definition:</b>{{refset.definition}}
    </h5>
    <span ng-show="type == 'Redefinition'">
      <!-- <form ng-submit="beginRedefinition(newDefinition)"> -->
      <h5>
        <b>New Definition:</b> <input ng-model="newDefinition" size="80">
        <button class="btn btn-primary"
          ng-click="beginRedefinition(newDefinition); 
    ">Redefine</button>
      </h5>
      <!-- </form> -->
    </span>
    
    <h5 ng-show="type == 'Migration'">
      <b>Origin Terminology & Version:</b>{{refset.terminology}}  {{refset.version}}
    </h5>
    <span ng-show="type == 'Migration'">
      <h5>
        <b>New Terminology:</b> 
        <select ng-model="refset.newTerminology"
          ng-change="terminologySelected(refset.terminology)"
          ng-options="item for item in metadata.terminologies"></select>
        <b>New Version:</b>
        <select ng-model="refset.newVersion"
          ng-options="item for item in versions"></select>
        <button class="btn btn-primary"
          ng-click="beginMigration(refset.newTerminology, refset.newVersion); 
    ">Migrate</button>
      </h5>
      <!-- </form> -->
    </span>
  </div>
</div>

<div class="modal-body">

  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="row">
      <div class="col-md-12 col-xs-12">
        <h5 ng-show="refset.stagingType != null && membersInCommon.length > 0">
          <b>Members In Common</b>
        </h5>
        <span ng-show="membersInCommon.length == 0" class="alert alert-warning">
          Origin and staged refsets have no members in common</span>
        <span style="display: block;">
          <pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="membersInCommon.totalCount > pageSize || paging['membersInCommon'].filter"
            total-items="membersInCommon.totalCount"
            ng-model="paging['membersInCommon'].page"
            ng-change="findMembersInCommon()"></pagination>
        </span>

        <table ng-show="membersInCommon.length > 0" class="table">
          <thead>
            <th class="col-md-4 col-xs-4">Concept id</th>
            <th class="col-md-8 col-xs-8">Concept name</th>
          </thead>
          <tbody>
            <tr ng-repeat="concept in membersInCommon">
              <td>{{concept.conceptId}}</td>
              <td>{{concept.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="validInclusions.length > 0 || stagedInclusions.length > 0">
            <b>Valid Inclusions</b>
            <div style="float: right;">
              <a class="toolicon" title="Add all valid inclusions"
                ng-show="validInclusions.length > 0"
                ng-click="includeAll(refset, validInclusions, 'true', 'true')">
                <i title="Add all valid inclusions" class="noul material-icons md-24">arrow_forward</i>
              </a>              
            </div>
          </h5>

          <table ng-show="validInclusions.length > 0 || stagedInclusions.length > 0" class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="concept in validInclusions">
                <td>{{concept.conceptId}}</td>
                <td>{{concept.name}}</td>
                <td><a ng-click="include(refset, concept, 'true', 'true')">
                    <i tooltip="Add inclusion to staged refset."
                      class="noul material-icons md-18">arrow_forward</i>
                  </a></td>
              </tr>
            </tbody>
          </table>

 
        </div>

        <div class="col-md-6 col-xs-6">
          <h5 ng-show="stagedInclusions.length > 0 || validInclusions.length > 0">
            <b>Staged Inclusions</b>
            <div style="float: right;">
              <a class="toolicon" title="Revert all staged inclusions"
                ng-show="stagedInclusions.length > 0"
                ng-click="revertAll(refset, stagedInclusions)">
                <i title="Revert all staged inclusions" class="noul material-icons md-24">arrow_back</i>
              </a>              
            </div>
          </h5>

          <table ng-show="stagedInclusions.length > 0 || validInclusions.length > 0" class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="concept in stagedInclusions">
                <td>{{concept.conceptId}}</td>
                <td>{{concept.name}}</td>
                <td><a ng-click="revert(refset, concept)">
                    <i tooltip="Revert staged inclusion."
                      class="noul material-icons md-18">arrow_back</i>
                  </a></td>
              </tr>
            </tbody>
          </table>



        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="invalidInclusions.length > 0">
            <b>Invalid Inclusions</b>
          </h5>

          <table ng-show="invalidInclusions.length > 0" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
            </thead>
            <tbody>
              <tr ng-repeat="concept in invalidInclusions">
                <td>{{concept.conceptId}}</td>
                <td>{{concept.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="validExclusions.length > 0 || stagedExclusions.length > 0">
            <b>Valid Exclusions</b>
            <div style="float: right;">
              <a class="toolicon" title="Exclude all valid exclusions"
                ng-show="validExclusions.length > 0"
                ng-click="excludeAll(refset, validExclusions, 'true', 'true')">
                <i title="Exclude all valid exclusions" class="noul material-icons md-24">arrow_forward</i>
              </a>              
            </div>
          </h5>

          <table ng-show="validExclusions.length > 0 || stagedExclusions.length > 0" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-7 col-xs-7">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="concept in validExclusions">
                <td>{{concept.conceptId}}</td>
                <td>{{concept.name}}</td>
                <td><a ng-click="exclude(refset, concept, 'true', 'true')">
                    <i tooltip="Add inclusion to staged refset."
                      class="noul material-icons md-18">arrow_forward</i>
                  </a></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="stagedExclusions.length > 0 || validExclusions.length > 0">
            <b>Staged Exclusions</b>
            <div style="float: right;">
              <a class="toolicon" title="Revert all staged exclusions"
                ng-show="stagedExclusions.length > 0"
                ng-click="revertAll(refset, stagedExclusions)">
                <i title="Revert all staged exclusions" class="noul material-icons md-24">arrow_back</i>
              </a>              
            </div>
          </h5>

          <table ng-show="stagedExclusions.length > 0 || validExclusions.length > 0" class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="concept in stagedExclusions">
                <td>{{concept.conceptId}}</td>
                <td>{{concept.name}}</td>
                <td><a ng-click="revert(refset, concept)">
                    <i tooltip="Revert staged inclusion."
                      class="noul material-icons md-18">arrow_back</i>
                  </a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="invalidExclusions.length > 0">
            <b>Invalid Exclusions</b>
          </h5>

          <table ng-show="invalidExclusions.length > 0" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
            </thead>
            <tbody>
              <tr ng-repeat="concept in invalidExclusions">
                <td>{{concept.conceptId}}</td>
                <td>{{concept.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>







    <div class="col-md-4 col-xs-12">
      <h5 ng-show="newRegularMembers.length > 0">
        <b>New Members</b>
        <div style="float: right;">
              <a class="toolicon" title="Exlude all new members"
                ng-show="newRegularMembers.length > 0"
                ng-click="excludeAll(refset, newRegularMembers, 'false', 'true')">
                <i title="Exclude all new members" class="noul material-icons md-24">remove_circle_outline</i>
              </a>              
            </div>
      </h5>
      <span style="display: block;">
      <pagination items-per-page="pageSize" max-size="5" boundary-links="true"
        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
        first-text="&laquo;" last-text="&raquo;"
        ng-show="newRegularMembers.totalCount > pageSize || paging['newRegularMembers'].filter"
        total-items="newRegularMembers.totalCount" ng-model="paging['newRegularMembers'].page"
        ng-change="getNewRegularMembers()"></pagination>
        </span> 

      <table ng-show="newRegularMembers.length > 0" class="table">
        <thead>
          <th class="col-md-3 col-xs-3">Concept id</th>
          <th class="col-md-8 col-xs-8">Concept name</th>
          <th class="col-md-1 col-xs-1"></th>
        </thead>
        <tbody>
          <tr ng-repeat="concept in newRegularMembers" 
              ng-class="getMemberStyle(concept)">
            <td>{{concept.conceptId}}</td>
            <td>{{concept.name}}</td>
            <td><a ng-click="exclude(refset, concept, 'false', 'true')">
              <i tooltip="Exclude new member."
                class="noul material-icons md-18">remove_circle_outline</i>
            </a></td>
          </tr>
        </tbody>
      </table>


      <h5 ng-show="oldRegularMembers.length > 0">
        <b>Old Members</b>
        <div style="float: right;">
              <a class="toolicon" title="Add all old members"
                ng-show="oldRegularMembers.length > 0"
                ng-click="includeAll(refset, oldRegularMembers, 'false', 'true')">
                <i title="Add all old members" class="noul material-icons md-24">add_circle_outline</i>
              </a>              
            </div>
      </h5>
      <span style="display: block;">
      <pagination items-per-page="pageSize" max-size="5" boundary-links="true"
        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
        first-text="&laquo;" last-text="&raquo;"
        ng-show="oldRegularMembers.totalCount > pageSize || paging['oldRegularMembers'].filter"
        total-items="oldRegularMembers.totalCount" ng-model="paging['oldRegularMembers'].page"
        ng-change="getOldRegularMembers()"></pagination>
        </span> 

      <table ng-show="oldRegularMembers.length > 0" class="table">
        <thead>
          <th class="col-md-3 col-xs-3">Concept id</th>
          <th class="col-md-8 col-xs-8">Concept name</th>
          <th class="col-md-1 col-xs-1"></th>
        </thead>
        <tbody>
          <tr ng-repeat="concept in oldRegularMembers" 
            ng-class="getMemberStyle(concept)">
            <td>{{concept.conceptId}}</td>
            <td>{{concept.name}}</td>
            <td><a ng-show="concept.memberType == 'MEMBER'"
                   ng-click="include(refset, concept, 'false', 'true')">
              <i tooltip="Include old member."
                class="noul material-icons md-18">add_circle_outline</i>
            </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="refset.stagingType == null" ng-click="saveForLater(refset);
    ">Save for later</button>
  <button class="btn btn-primary" ng-disabled="refset.stagingType == null" ng-click="finish(refset); 
    ">Finish</button>
  <button class="btn btn-warning" ng-show="refset.stagingType != null" 
    title="Cancel redefinition" ng-click="cancel(refset);">Cancel</button>
  <button class="btn btn-warning" ng-show="refset.stagingType == null" 
    title="Close" ng-click="close();">Close</button>
</div>