<div class="modal-header">
  <h4>Migration</h4>

  <div>


    <!-- Migration - choose terminology/version -->
    <table>
      <tbody>
        <tr>
          <td>
            <h5>Terminology, Version:</h5>
          </td>
          <td>{{refset.terminology}}, {{refset.version}}</td>
        </tr>
        <tr>
          <td>
            <h5><b>New Terminology:</b></h5>
          </td>
          <td><select ng-model="refset.newTerminology"
            ng-change="terminologySelected(refset.terminology)"
            ng-options="item for item in metadata.terminologies"></select> <b>New
              Version:</b> <select ng-model="refset.newVersion"
            ng-options="item for item in versions"></select>
            {{refset.lookupInProgress}}
            <button class="btn btn-primary"
              ng-click="beginMigration(refset.newTerminology, refset.newVersion);">Migrate</button>
            <button class="btn btn-primary" ng-show="refset.lookupInProgress == true"
              ng-click="refreshLookupProgress(refset);">Refresh</button>
            <uib-progressbar animate="false" ng-show="refset.lookupInProgress == true" value="lookupProgress" type="success"><b>{{lookupProgress}}%</b></uib-progressbar> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-body">


  <div class="row">

    <!-- Errors table -->
    <div class="col-md-8 col-md-12" ng-show="errors.length > 0">
      <table>
        <tr ng-show="errors.length > 0">
          <td>&nbsp;</td>
          <td>
            <div class="alert alert-danger alert-error"
              ng-repeat="error in errors">
              {{error}}
              <!-- DO NOT SUPPORT clearing error for now <div
              style="cursor: pointer; display: inline; float: right; width: 3%;">
              <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
            </div> -->
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-md-8 col-xs-12">

      <div class="row">
        <div class="col-md-12 col-xs-12">

          <h5 ng-show="refset.stagingType != null">
            <b>Members In Common</b>
          </h5>
          <span ng-show="membersInCommon.length == 0"
            class="alert alert-warning"> Origin and staged refsets have
            no members in common</span>
          <span style="display: block;">
            <uib-pagination items-per-page="pageSize" max-size="5"
              boundary-links="true" class="pagination-sm"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
              last-text="&raquo;"
              ng-show="membersInCommon.totalCount > pageSize || paging['membersInCommon'].filter"
              total-items="membersInCommon.totalCount"
              ng-model="paging['membersInCommon'].page"
              ng-change="findMembersInCommon()"></uib-pagination>
          </span>

          <table ng-show="membersInCommon.length > 0" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
            </thead>
            <tbody>
              <tr ng-repeat="member in membersInCommon">
                <td>{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5
            ng-show="validInclusions.length > 0 || stagedInclusions.length > 0">
            <b>Valid Inclusions</b>
          </h5>

          <table
            ng-show="validInclusions.length > 0 || stagedInclusions.length > 0"
            class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in validInclusions">
                <td>{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td><a ng-click="include(member, true)">
                    <i uib-tooltip="Add inclusion to staged refset."
                      class="noul material-icons md-18">arrow_forward</i>
                  </a></td>
              </tr>
            </tbody>
          </table>


        </div>

        <div class="col-md-6 col-xs-6">
          <h5
            ng-show="stagedInclusions.length > 0 || validInclusions.length > 0">
            <b>Staged Inclusions</b>
          </h5>

          <table
            ng-show="stagedInclusions.length > 0 || validInclusions.length > 0"
            class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in stagedInclusions">
                <td>{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td><a ng-click="revert(refset, member)">
                    <i uib-tooltip="Revert staged inclusion."
                      class="noul material-icons md-18">arrow_back</i>
                  </a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="invalidInclusions.length > 0">
            <b>Invalid Inclusions</b>
          </h5>

          <table ng-show="invalidInclusions.length > 0" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
            </thead>
            <tbody>
              <tr ng-repeat="member in invalidInclusions">
                <td>{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5
            ng-show="validExclusions.length > 0 || stagedExclusions.length > 0">
            <b>Valid Exclusions</b>
          </h5>

          <table
            ng-show="validExclusions.length > 0 || stagedExclusions.length > 0"
            class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-7 col-xs-7">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in validExclusions">
                <td>{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td><a ng-click="exclude(refset, member, 'true')">
                    <i uib-tooltip="Add inclusion to staged refset."
                      class="noul material-icons md-18">arrow_forward</i>
                  </a></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-6 col-xs-6">
          <h5
            ng-show="stagedExclusions.length > 0 || validExclusions.length > 0">
            <b>Staged Exclusions</b>
          </h5>

          <table
            ng-show="stagedExclusions.length > 0 || validExclusions.length > 0"
            class="table">
            <thead>
              <th class="col-md-3 col-xs-3">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
              <th class="col-md-1 col-xs-1"></th>
            </thead>
            <tbody>
              <tr ng-repeat="member in stagedExclusions">
                <td>{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
                <td><a ng-click="revert(refset, member)">
                    <i uib-tooltip="Revert staged inclusion."
                      class="noul material-icons md-18">arrow_back</i>
                  </a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 ng-show="invalidExclusions.length > 0">
            <b>Invalid Exclusions</b>
          </h5>

          <table ng-show="invalidExclusions.length > 0" class="table">
            <thead>
              <th class="col-md-4 col-xs-4">Concept id</th>
              <th class="col-md-8 col-xs-8">Concept name</th>
            </thead>
            <tbody>
              <tr ng-repeat="member in invalidExclusions">
                <td>{{member.conceptId}}</td>
                <td>{{member.conceptName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- End col-md-8 -->
    </div>

    <div class="col-md-4 col-xs-12">
      <h5 ng-show="newRegularMembers.length > 0">
        <b>New Members</b>
      </h5>
      <span style="display: block;">
        <uib-pagination items-per-page="pageSize" max-size="5"
          boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="newRegularMembers.totalCount > pageSize || paging['newRegularMembers'].filter"
          total-items="newRegularMembers.totalCount"
          ng-model="paging['newRegularMembers'].page"
          ng-change="getNewRegularMembers()"></uib-pagination>
      </span>

      <table ng-show="newRegularMembers.length > 0" class="table">
        <thead>
          <th class="col-md-3 col-xs-3">Concept id</th>
          <th class="col-md-8 col-xs-8">Concept name</th>
          <th class="col-md-1 col-xs-1"></th>
        </thead>
        <tbody>
          <tr ng-repeat="member in newRegularMembers"
            ng-class="getMemberStyle(member)">
            <td>{{member.conceptId}}</td>
            <td>{{member.conceptName}}</td>
            <td><a ng-click="exclude(refset, member, 'false')">
                <i uib-tooltip="Exclude new member."
                  class="noul material-icons md-18">remove_circle_outline</i>
              </a></td>
          </tr>
        </tbody>
      </table>


      <h5 ng-show="oldRegularMembers.length > 0">
        <b>Old Members</b>
      </h5>
      <span style="display: block;">
        <uib-pagination items-per-page="pageSize" max-size="5"
          boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          ng-show="oldRegularMembers.totalCount > pageSize || paging['oldRegularMembers'].filter"
          total-items="oldRegularMembers.totalCount"
          ng-model="paging['oldRegularMembers'].page"
          ng-change="getOldRegularMembers()"></uib-pagination>
      </span>

      <table ng-show="oldRegularMembers.length > 0" class="table">
        <thead>
          <th class="col-md-3 col-xs-3">Concept id</th>
          <th class="col-md-8 col-xs-8">Concept name</th>
          <th class="col-md-1 col-xs-1"></th>
        </thead>
        <tbody>
          <tr ng-repeat="member in oldRegularMembers"
            ng-class="getMemberStyle(member)">
            <td>{{member.conceptId}}</td>
            <td>{{member.conceptName}}</td>
            <td><a ng-show="member.memberType == 'MEMBER'"
                ng-click="include(member, false)">
                <i uib-tooltip="Include old member."
                  class="noul material-icons md-18">add_circle_outline</i>
              </a></td>
          </tr>
        </tbody>
      </table>

      <!-- end col-md-4 -->
    </div>

    <!-- end row -->
  </div>

  <!-- end modal-body -->
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="refset.stagingType == null"
    ng-click="saveForLater(refset);
    ">Save for later</button>
  <button class="btn btn-primary" ng-disabled="refset.stagingType == null"
    ng-click="finish(refset); 
    ">Finish</button>
  <button class="btn btn-warning" ng-show="refset.stagingType != null"
    title="Cancel redefinition" ng-click="cancel(refset);">Cancel</button>
  <button class="btn btn-warning" ng-show="refset.stagingType == null"
    title="Close" ng-click="close();">Close</button>
</div>