
<!-- R1 -->
<div class="row">
  <!-- R1C1 -->
  <div class="col-md-6 col-xs-12">

    <div>
      <span ng-show="value == 'AVAILABLE'"
        style="float: right; margin-left: 3px;">
        <button ng-click="openAddRefsetModal(true); $event.stopPropagation()"
          title="Add local set" class="btn btn-xs btn-primary">Add
          Local Set</button>
      </span>
      <span class="info-text" ng-show="refsets.totalCount > 10"
        style="float: right; margin-top: 4px">
        Page size: <select ng-model="paging['refset'].pageSize"
          title="Page Size" ng-change="paging['refset'].page = 0; getRefsets()"
          ng-options="item.value as item.name for item in pageSizes">
        </select>
      </span>
      <uib-pagination items-per-page="paging['refset'].pageSize" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="refsets.totalCount > paging['refset'].pageSize"
        total-items="refsets.totalCount" ng-model="paging['refset'].page"
        ng-change="getRefsets()"></uib-pagination>

      <!-- Mobile friendly line-break -->
      <span class="visible-xs">
        <br class="visible-xs-inline" />
      </span>

      <input placeholder="Search" type="text" ng-model="paging['refset'].filter"
        ng-show="refsets.totalCount > 0 || paging['refset'].filter || paging['refset'].typefilter"
        ng-model-options="{ debounce: 300 }" ng-change="getRefsets()"
        title="{{paging['refset'].filter}}" list="filter{{value}}">
      <datalist id="filter{{value}}">
        <option ng-repeat="filter in filters | orderBy:'key'"
          value="{{filter.value}}">{{filter.key}}:{{filter.value}}</option>
      </datalist>

      <button class="btn btn-xs btn-warning" ng-show="paging['refset'].filter"
        ng-click="paging['refset'].filter = ''; clearUrlParams(); getRefsets()"
        title="Click to clear filter text">Clear</button>

      <!-- No need to show for BETA, there should be only one -->
      <button type="button" class="btn btn-xs btn-primary"
        ng-show="refsets.totalCount > 0 && (value == 'RELEASE' || value == 'PUBLISHED')"
        ng-model="showLatest" ng-change="getRefsets()" uib-btn-checkbox
        btn-checkbox-true="true" btn-checkbox-false="false">
        <span ng-show="showLatest"
          title="Showing only most recent, click to toggle">Latest</span>
        <span ng-hide="showLatest"
          title="Showing only most recent, click to toggle">All</span>
      </button>



    </div>

    <!-- Basic Refset info -->

    <table class="table">
      <thead class="table-select-row">
        <tr>
          <th class="col-md-2 col-xs-2"><span
              ng-click="setSortField('refset','terminologyId')">
              Refset Id
              <span ng-bind="getSortIndicator('refset','terminologyId')"></span>
            </span></th>
          <th class="col-md-4 col-xs-4"><span
              ng-click="setSortField('refset','name')">
              Name
              <span ng-bind="getSortIndicator('refset','name')"></span>
            </span> / <span ng-show="isDirectory() || value == 'RELEASE'">
              <span ng-click="setSortField('refset','effectiveTime')">
                Effective Time
                <span ng-bind="getSortIndicator('refset','effectiveTime')"></span>
              </span>
            </span> <span ng-show="!isDirectory() && value != 'RELEASE'">
              <span ng-click="setSortField('refset','lastModified')">
                Last Modified
                <span ng-bind="getSortIndicator('refset','lastModified')"></span>
              </span>
            </span></th>

          <!-- PUBLISHED/BETA -->
          <th ng-show="isDirectory()" class="col-md-2 col-xs-2"><span
              ng-click="setSortField('refset','moduleId')">
              Module
              <span ng-bind="getSortIndicator('refset','moduleId')"></span>
            </span> / <span title="Organization"
              ng-click="setSortField('refset','organization')">
              Org.
              <span ng-bind="getSortIndicator('refset','organization')"></span>
            </span></th>
          <th ng-show="isDirectory()" class="col-md-3 col-xs-3"><span
              ng-click="setSortField('refset','terminology')">
              Terminology
              <span ng-bind="getSortIndicator('refset','terminology')"></span>
            </span> / <span ng-click="setSortField('refset','domain')">
              Domain
              <span ng-bind="getSortIndicator('refset','domain')"></span>
            </span></th>

          <!-- NOT PUBLISHED/BETA -->
          <th ng-show="!isDirectory()" class="col-md-3 col-xs-3"><span
              title="Module" ng-click="setSortField('refset','moduleId')">
              Mod.
              <span ng-bind="getSortIndicator('refset','moduleId')"></span>
            </span> / <span title="Terminology"
              ng-click="setSortField('refset','terminology')">
              Term.
              <span ng-bind="getSortIndicator('refset','terminology')"></span>
            </span> / <span ng-click="setSortField('refset','domain')">
              Domain
              <span ng-bind="getSortIndicator('refset','domain')"></span>
            </span> <span ng-show="projects.role == 'ADMIN' || value == 'RELEASE'">
              /
              <span ng-click="setSortField('refset','workflowStatus')">
                Status</span>
              <span ng-bind="getSortIndicator('refset','workflowStatus')"></span>
            </span></th>

          <th class="col-md-1 col-xs-1"><select title="Filter by type"
            style="width: 80px;" ng-model="paging['refset'].typeFilter"
            ng-options="item for item in refsetTypes" ng-change="getRefsets()">
              <option value="">All</option>
          </select></th>

          <!-- Actions header -->

          <!-- PUBLISHED/BETA : no actions row -->

          <!-- not PUBLISHED/BETA -->
          <th class="col-md-2 col-xs-2" ng-show="!isDirectory()"><span
              ng-show="value == 'AVAILABLE'" style="float: right;">
              <button ng-click="openAddRefsetModal(false);" title="Add refset"
                class="btn btn-xs btn-primary">Add Refset</button>
            </span></th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="refset in refsets" ng-click="selectRefset(refset);"
          ng-class="{selected: refset.id == selected.refset.id}">
          <td style="word-break: break-word;">{{refset.terminologyId}}</td>
          <td>
            {{refset.name}}
            <span ng-show="refset.effectiveTime">
              <br />{{toSimpleDate(refset.effectiveTime)}}
            </span>
            <span ng-show="!refset.effectiveTime">
              <br />{{toDate(refset.lastModified)}}
              <span ng-show="projects.role == 'ADMIN'">
                <br />{{refset.lastModifiedBy}}
              </span>
            </span>
          </td>

          <!-- PUBLISHED/BETA -->
          <td ng-show="isDirectory()">
            <span style="word-break: break-word;" ng-show="refset.moduleId != 0">
              {{refset.moduleId}}</span>
            <span style="word-break: break-word;" ng-show="refset.moduleId == 0"
              class="md-grey">
              <small>no module id</small>
            </span>
            <span flag-icon obj="refset"></span>
            <!-- Mobile friendly line-break -->
            <br class="visible-xs-inline" />
            <span> {{refset.organization}} </span>
          </td>
          <td ng-show="isDirectory()">
            <span>{{getTerminologyName(refset.terminology)}}
              {{refset.version}} </span>
            <br />
            <span ng-show="refset.domain">{{refset.domain}} </span>
            <span ng-show="!refset.domain" class="md-grey">
              <small>no domain specified</small>
            </span>
          </td>

          <!-- not PUBLISHED/BETA -->
          <td ng-show="!isDirectory()">
            <span style="word-break: break-word;" ng-show="refset.moduleId != 0">
              {{refset.moduleId}}</span>
            <span style="word-break: break-word;" ng-show="refset.moduleId == 0"
              class="md-grey">
              <small>no module id</small>
            </span>
            <span flag-icon obj="refset"></span>
            <br />
            <span>{{getTerminologyName(refset.terminology)}}
              {{refset.version}} </span>
            <br />
            <span ng-show="refset.domain">{{refset.domain}} </span>
            <span ng-show="!refset.domain" class="md-grey">
              <small>no domain specified</small>
            </span>
            <span ng-show="projects.role == 'ADMIN' || value == 'RELEASE'">
              <br />{{refset.workflowStatus}}
            </span>
          </td>


          <td>
            <span refset-type-icon refset="refset"></span>
          </td>

          <!-- AVAILABLE actions -->
          <td class="nobreak" ng-show="value == 'AVAILABLE'">
            <i ng-click="openEditRefsetModal(refset); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i title="Remove" ng-show="!refset.staged && projects.role == 'ADMIN'"
              confirm="Are you sure you want to remove the refset ({{refset.name}})?"
              ng-click="removeRefset(refset); $event.stopPropagation()"
              class="noul material-icons md-18">delete</i>

            <!-- Assign -->
            <i ng-show="isAllowed('ASSIGN', refset)"
              ng-click="openAssignRefsetModal(refset,'ASSIGN'); $event.stopPropagation()"
              title="Assign" class="noul material-icons md-18">assignment_ind</i>


            <!-- As admin/reviewer, unassign completely and return back to pool-->
            <i
              confirm="Are you sure you want to unassign the refset ({{refset.name}})?"
              ng-show="isAllowed('UNASSIGN', refset)"
              ng-click="unassign(refset,user.userName); $event.stopPropagation()"
              title="Unassign" class="noul material-icons md-18">assignment_return</i>


            <!-- ASSIGNED actions -->
          <td class="nobreak" ng-show="value == 'ASSIGNED'">
            <i ng-show="projects.role != 'ADMIN'"
              ng-click="openEditRefsetModal(refset); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i ng-show="!refset.staged"
              ng-click="removeRefset(refset); $event.stopPropagation()"
              title="Remove" class="noul material-icons md-18">delete</i>
            <i ng-click="unassign(refset, user.userName);" title="Unassign"
              class="noul material-icons md-18">assignment_return</i>
            <i ng-show="isAllowed('FEEDBACK', refset)"
              ng-click="openAssignRefsetModal(refset,'FEEDBACK'); $event.stopPropagation()"
              title="Feedback" class="noul material-icons md-18">assignment_returned</i>
            <i ng-show="isAllowed('FINISH', refset)"
              ng-click="performWorkflowAction(refset, 'FINISH', user.userName)"
              title="Finish" class="noul material-icons md-18">done</i>
            <i ng-show="isAllowed('PREPARE_FOR_PUBLICATION', refset)"
              ng-click="performWorkflowAction(refset, 'PREPARE_FOR_PUBLICATION', user.userName)"
              title="Mark ready for publication"
              class="noul material-icons md-18">open_in_new</i>

            <!-- Cancel buttons if migration in progress -->
            <span ng-show="refset.stagingType == 'IMPORT'">
              <br />
              <button class="btn btn-xs btn-warning" ng-disabled="cancelling"
                ng-click="cancelAction(refset); "
                title="Click to cancel failed import">Cancel Import</button>
            </span>
            <span ng-show="refset.stagingType == 'MIGRATION'">
              <br />
              <button class="btn btn-xs btn-warning" ng-disabled="cancelling"
                ng-click="cancelAction(refset)"
                title="Click to cancel migration">Cancel Migration</button>
            </span>
            <!-- Refresh/start buttons if lookup in progress -->
            <span
              ng-show="refset.lookupInProgress && refsetLookupProgress[refset.id] == -1">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="startLookup(refset)" title="Click to restart lookup">Restart
                Lookup</button>
            </span>
            <span
              ng-show="refset.lookupInProgress && refsetLookupProgress[refset.id] > -1 && refsetLookupProgress[refset.id] < 100">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="refreshLookupProgress(refset)"
                title="Click to refresh lookup progress">
                Refresh
                <span ng-show="refsetLookupProgress[refset.id]">
                  {{refsetLookupProgress[refset.id]}}%</span>
              </button>
            </span>
          </td>

          <!-- RELEASE actions -->
          <td class="nobreak" ng-show="value == 'RELEASE'">
            <i
              ng-show="refset.workflowStatus != 'PUBLISHED' && refset.workflowStatus != 'BETA'"
              ng-click="openEditRefsetModal(refset); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i
              confirm="Are you sure you want to remove the refset ({{refset.name}})?"
              ng-show="projects.role == 'ADMIN' && !refset.staged && !refset.inPublicationProcess && (refset.workflowStatus == 'PUBLISHED' || refset.workflowStatus == 'READY_FOR_PUBLICATION')"
              ng-click="removeRefset(refset); $event.stopPropagation()"
              title="Remove" class="noul material-icons md-18">delete</i>
            <!-- TODO -->
            <i ng-show="isAllowed('ASSIGN', refset)"
              ng-click="openAssignRefsetModal(refset,'ASSIGN'); $event.stopPropagation()"
              title="Assign" class="noul material-icons md-18">assignment_ind</i>
            <i ng-show="isAllowed('FEEDBACK', refset)"
              ng-click="openAssignRefsetModal(refset,'FEEDBACK'); $event.stopPropagation()"
              title="Feedback" class="noul material-icons md-18">assignment_returned</i>
            <!-- only if READY_FOR_PUBLICATION -->
            <i
              ng-show="refset.workflowStatus == 'READY_FOR_PUBLICATION' && !refset.inPublicationProcess"
              ng-click="openReleaseProcessModal(refset); $event.stopPropagation()"
              title="Start release process" class="noul material-icons md-18">open_in_new</i>
            <i
              ng-show="refset.workflowStatus == 'READY_FOR_PUBLICATION' && 
                        refset.inPublicationProcess"
              ng-click="openReleaseProcessModal(refset); $event.stopPropagation()"
              title="Continue release processing"
              class="noul material-icons md-18">open_in_new</i>
            <i
              ng-show="refset.workflowStatus == 'BETA' && 
                        refset.inPublicationProcess"
              ng-click="openReleaseProcessModalForStaged(refset); $event.stopPropagation()"
              title="Continue release processing"
              class="noul material-icons md-18">open_in_new</i>
            <span
              ng-show="refset.workflowStatus == 'READY_FOR_PUBLICATION' && 
                        refset.inPublicationProcess">
              <br />
              <button class="btn btn-xs btn-warning" ng-disabled="cancelling"
                ng-click="cancelAction(refset); $event.stopPropagation()"
                title="Click to cancel release process">Cancel Release</button>
            </span>
            <span ng-show="refset.workflowStatus == 'BETA'">
              <br />
              <button class="btn btn-xs btn-warning" ng-disabled="cancelling"
                ng-click="cancelActionForStaged(refset); $event.stopPropagation()"
                title="Click to cancel release process">Cancel Release</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <span ng-show="refsets.totalCount == 0" style="display: block;"
      class="alert alert-warning">No refsets.</span>

    <!-- End R1C1 -->
  </div>

  <!-- R1C2 -->
  <div class="col-md-6 col-xs-12">

    <!-- Details, Releases, Members -->
    <span ng-show="!selected.refset && refsets.length > 0"
      class="alert alert-warning">Select a refset to see details</span>

    <div class="col-md-12 col-xs-12" ng-show="selected.refset">

      <!-- Refset Details -->
      <h4>{{selected.refset.name}}</h4>
      <table class="table">
        <tbody>

          <!-- Actions only for PUBLISHED/BETA, otherwise they are inline in the table -->
          <tr
            ng-show="(isDirectory() && selected.refset.feedbackEmail) || (userProjectsInfo.anyRole && selected.refset.type != 'EXTERNAL')">
            <td>
              <b>Actions</b>
            </td>
            <td class="nobreak">
              <i ng-show="selected.refset.feedbackEmail"
                ng-click="openFeedbackModal(selected.refset);"
                title="Submit feedback" class="noul material-icons md-18">speaker_notes</i>
              <i ng-show="!selected.refset.feedbackEmail"
                ng-click="openFeedbackModal(selected.refset);"
                title="Feedback email not configured"
                class="md-grey material-icons md-18">speaker_notes</i>
              <i
                ng-show="userProjectsInfo.anyRole && selected.refset.type != 'EXTERNAL'"
                ng-click="openCloneRefsetModal(selected.refset);"
                title="Clone" class="noul material-icons md-18">content_copy</i>
              <!-- Convert refset -->
              <i ng-show="selected.refset.type == 'INTENSIONAL'"
                ng-click="convertRefset(selected.refset);"
                title="Convert to extensional" class="noul material-icons md-18">exit_to_app</i>
              <i ng-show="selected.refset.localSet"
                ng-click="openEditRefsetModal(selected.refset, true);"
                title="Convert Local Set to Refset"
                class="noul material-icons md-18">exit_to_app</i>
              <i ng-show="selected.refset.workflowStatus != 'BETA' && selected.refset.workflowStatus != 'PUBLISHED'"
                ng-click="showDelta(selected.refset, true); "
                title="Show delta"
                class="noul material-icons md-18">change_history</i>
            </td>
          </tr>

          <tr>
            <td>
              <b>Description</b>
            </td>
            <td>{{selected.refset.description}}</td>
          </tr>
          <tr ng-show="!isDirectory()">
            <td>
              <b>Notes</b>
            </td>
            <td>
              <div ng-show="selected.refset.notes.length > 0" class="truncate">
                <span ng-bind-html="getLatestNote(selected.refset)"></span>
                <span ng-show="selected.refset.notes.length > 1">
                  <br />{{selected.refset.notes.length-1}} more...
                </span>
              </div>
              <div>
                <i ng-show="selected.refset.notes.length > 0"
                  ng-click="openNotesModal(selected.refset, 'Refset'); $event.stopPropagation()"
                  title="Edit refset notes" class="noul material-icons md-18">assignment</i>
                <i ng-show="selected.refset.notes.length == 0"
                  title="Add refset note (no notes yet)"
                  ng-click="openNotesModal(selected.refset, 'Refset'); $event.stopPropagation()"
                  class="md-grey material-icons md-18">assignment</i>
                <i ng-click="openLogModal()" title="Retrieve log"
                  class="noul material-icons md-18">event_note</i>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <b>Refset Id</b>
            </td>
            <td>{{selected.refset.terminologyId}}</td>
          </tr>
          <tr ng-show="selected.refset.moduleId != 0">
            <td>
              <b>Module Id</b>
            </td>
            <td>
              {{selected.refset.moduleId}}
              <span flag-icon obj="selected.refset"></span>
            </td>
          </tr>
          <tr>
            <td>
              <b>Namespace</b>
            </td>
            <td>{{selected.refset.namespace}}</td>
          </tr>
          <tr>
            <td>
              <b>Organization</b>
            </td>
            <td>{{selected.refset.organization}}</td>
          </tr>
          <tr ng-show="selected.refset.domain">
            <td>
              <b>Domain</b>
            </td>
            <td>{{selected.refset.domain}}</td>
          </tr>
          <tr ng-show="selected.refset.effectiveTime">
            <td>
              <b>Effective Time</b>
            </td>
            <td>{{toSimpleDate(selected.refset.effectiveTime)}}</td>
          </tr>
          <tr>
            <td>
              <b>Terminology</b>
            </td>
            <td>
              {{getTerminologyName(selected.refset.terminology)}}
              {{selected.refset.version}}
              <i
                ng-click="openMigrationModal(selected.refset, 'Migration'); $event.stopPropagation()"
                ng-show="selected.refset.stagingType == null && value == 'ASSIGNED'"
                title="Migration" class="noul material-icons md-18">find_replace</i>

              <i
                ng-click="openMigrationModal(selected.refset, 'Migration'); $event.stopPropagation()"
                ng-show="selected.refset.stagingType == 'MIGRATION' && value == 'ASSIGNED'"
                title="Resume migration" class="noul material-icons md-18">play_arrow</i>

            </td>
          </tr>
          <tr ng-show="value == 'PUBLISHED'">
            <td>
              <b>Url</b>
            </td>
            <td>
              <a href="{{link}}" target="_blank">{{link}}</a>
            </td>
          </tr>
          <tr ng-show="selected.refset.type == 'INTENSIONAL'">
            <td>
              <b>Definition</b>
            </td>
            <td>
              <!-- For ADMIN -->
              <i ng-show="projects.role == 'ADMIN'"
                uib-tooltip="Switch to AUTHOR or REVIWER for more actions"
                tooltip-placement="left-top"
                class="md-grey material-icons md-18">info</i>

              <!-- edit/view/optimize definition -->
              <i ng-show="value != 'ASSIGNED'"
                ng-click="openDefinitionClausesModal(selected.refset, value);$event.stopPropagation()"
                title="View definition, assign refset to edit"
                class="noul material-icons md-18">list</i>
              <i ng-show="value == 'AVAILABLE'"
                title="Assign refset to edit definition"
                class="md-grey material-icons md-18">edit</i>
              <i ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN'"
                ng-click="openDefinitionClausesModal(selected.refset, value);$event.stopPropagation()"
                title="Edit definition" class="noul material-icons md-18">edit</i>
              <i ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN'"
                confirm="Remove redundant definition clauses, and invalid inclusions/exclusions."
                ng-click="optimizeDefinition(selected.refset);$event.stopPropagation()"
                title="Optimize definition" class="noul material-icons md-18">compare_arrows</i>

              <!-- Export -->
              <i
                ng-click="openImportExportModal(selected.refset, 'Export', 'Definition');$event.stopPropagation()"
                title="Export definition" class="noul material-icons md-18">file_download</i>
              <!-- Import -->
              <i ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN'"
                confirm="The refset already has a definition, importing will override it. Do you want to continue?"
                confirm-if="selected.refset.definitionClauses.length>0"
                ng-click="openImportExportModal(selected.refset, 'Import', 'Definition');$event.stopPropagation()"
                title="Import definition" class="noul material-icons md-18">file_upload</i>
              <i ng-show="value == 'AVAILABLE' && projects.role != 'ADMIN'"
                title="To import a definition, assign the refset"
                class="md-grey material-icons md-18">file_upload</i>


              <div style="max-height: 200px; overflow-y: scroll;">
                <table class="table">
                  <tbody>
                    <tr ng-repeat="clause in getOrderedDefinitionClauses()">
                      <td>
                        <div definition-clause clause="clause"
                          allow-negation=true mode="view"></div>
                      <td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr ng-show="selected.refset.type == 'EXTERNAL'">
            <td>
              <b>External Url</b>
            </td>
            <td>
              <a href="{{selected.refset.externalUrl}}">{{selected.refset.externalUrl}}</a>
            </td>
          </tr>
          <tr ng-show="refsetReleaseInfo && !refsetReleaseInfo.planned">
            <td ng-show="refsetReleaseInfo.published">
              <b>RELEASED</b>
            </td>
            <td
              ng-show="refsetReleaseInfo && !refsetReleaseInfo.published && !refsetReleaseInfo.planned">
              <b>BETA</b>
            </td>
            <td>{{refsetReleaseInfo.name}}
          </tr>
          <tr ng-show="!refsetReleaseInfo">
            <td>Not yet released</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- release info -->
    <div class="col-md-12 col-xs-12">
      <span
        ng-show="selected.refset && refsetReleaseInfo && !refsetReleaseInfo.artifacts"
        class="alert alert-warning">Release has no associated artifacts</span>
      <div class="col-md-12 col-xs-12">
        <table
          ng-show="selected.refset && refsetReleaseInfo && refsetReleaseInfo.artifacts && refsetReleaseInfo.artifacts.length>0"
          class="table">
          <thead>
            <tr>
              <th class="col-md-6 col-xs-6">Release File</th>
              <th class="col-md-6 col-xs-6">Timestamp</th>
              <th style="width: 1%; word-wrap: nowrap"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="artifact in refsetReleaseInfo.artifacts | orderBy:'artifact.name'">
              <td style="word-break: break-word;">{{artifact.name}}</td>
              <td>{{toShortDate(artifact.timestamp)}}</td>
              <td>
                <i ng-click="exportReleaseArtifact(artifact)"
                  title="Export {{artifact.name}}"
                  class="noul material-icons md-18">file_download</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End R1C2 -->
  </div>

  <!-- End R1 -->
</div>

<hr ng-show="selected.refset"
  style="width: 100%; color: lightgrey; height: 1px; background-color: lightgrey;" />

<!-- R2 -->
<div class="row">

  <!-- R2C1 -->
  <div class="col-md-6 col-xs-12">


    <div class="col-md-12 col-xs-12">
      <h4 ng-show="selected.refset">
        Refset Members
        <span ng-show="selected.refset.members.totalCount>0">
          ({{selected.refset.members.totalCount}})</span>

        <span style="float: right;">
          <i ng-show="projects.role == 'ADMIN'"
            uib-tooltip="Switch to AUTHOR or REVIWER for more actions"
            tooltip-placement="left-top" class="md-grey material-icons md-18">info</i>

          <!-- Export -->
          <i
            ng-click="openImportExportModal(selected.refset, 'Export', 'Refset Members'); "
            title="Export refset members" class="noul material-icons md-18">file_download</i>
          <!-- Import -->
          <i
            ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN' && selected.refset.type == 'EXTENSIONAL'"
            ng-click="openImportExportModal(selected.refset, 'Import', 'Refset Members'); "
            title="Import refset members" class="noul material-icons md-18">file_upload</i>
          <i
            ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN' && selected.refset.type != 'EXTENSIONAL'"
            title="Import only suppored for extensional refset"
            class="md-grey material-icons md-18">file_upload</i>

          <!-- Add member list -->
          <i
            ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN' && selected.refset.type == 'EXTENSIONAL'"
            ng-click="openAddRefsetMemberListModal();"
            title="Add/remove refset member list"
            class="noul material-icons md-18">playlist_add</i>

          <!-- Add member -->
          <i ng-show="value == 'AVAILABLE'"
            title="Add members - only when refset is assigned"
            class="md-grey material-icons md-18">add</i>
          <i
            ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN' && selected.refset.type == 'EXTENSIONAL'"
            ng-click="openAddMemberModal(selected.refset);"
            title="Add member(s)" class="noul material-icons md-18">add</i>
          <i
            ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN' && selected.refset.type == 'INTENSIONAL'"
            ng-click="openAddMemberModal(selected.refset);"
            title="Add inclusion(s)" class="noul material-icons md-18">add</i>


          <!-- Remove all members -->
          <i
            ng-show="value == 'ASSIGNED' && projects.role != 'ADMIN' && selected.refset.type == 'EXTENSIONAL' && selected.refset.members.length > 0"
            confirm="Are you sure you want to remove all the members of the refset ({{selected.refset.name}})?"
            ng-click="removeAllRefsetMembers(selected.refset); "
            title="Remove all members" class="noul material-icons md-18">delete</i>

          <!-- Lookup names -->
          <i ng-click="startLookup(selected.refset); $event.stopPropagation()"
            ng-show="(requiresNameLookup && !selected.refset.lookupInProgress) || projects.role == 'ADMIN'"
            title="Restart name lookup" class="noul material-icons md-18">play_arrow</i>
        </span>
      </h4>

      <div>
        <div>
          <span class="info-text"
            ng-show="selected.refset.members.totalCount > 10"
            style="float: right; margin-top: 4px">
            Page size: <select ng-model="paging['member'].pageSize"
              title="Page Size"
              ng-change="paging['member'].page = 1; getMembers(selected.refset)"
              ng-options="item.value as item.name for item in pageSizes">
            </select>
          </span>

          <uib-pagination items-per-page="paging['member'].pageSize"
            max-size="5" boundary-links="true" class="pagination-sm"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;"
            ng-show="selected.refset.members.totalCount > paging['member'].pageSize"
            total-items="selected.refset.members.totalCount"
            ng-model="paging['member'].page"
            ng-change="getMembers(selected.refset)"></uib-pagination>

          <input placeholder="Search" type="text"
            ng-show="selected.refset.members.totalCount > 0 || paging['member'].filter || withNotesOnly"
            ng-model="paging['member'].filter"
            ng-model-options="{ debounce: 300 }"
            ng-change="getMembers(selected.refset)">

          <span class="info-text nobreak"
            ng-show="selected.refset.members.totalCount > 0 || withNotesOnly">
            <span uib-tooltip="Members with notes">Notes:</span>
            <input type="checkbox" ng-model="withNotesOnly"
              ng-change="getMembers(selected.refset)">
          </span>

          <button class="btn btn-xs btn-warning"
            ng-show="paging['member'].filter || withNotesOnly"
            ng-click="paging['member'].filter = ''; withNotesOnly = false; getMembers(selected.refset)"
            title="Click to clear filter text">Clear</button>

        </div>

        <table ng-show="selected.refset" class="table">
          <thead class="table-select-row">
            <tr>
              <th class="col-md-3 col-xs-3"
                ng-click="setSortField('member','conceptId', selected.refset)">Concept
                Id<span ng-bind="getSortIndicator('member','conceptId')"></span>
              </th>
              <th class="col-md-5 col-xs-5"
                ng-click="setSortField('member','conceptName', selected.refset)">Name<span
                  ng-bind="getSortIndicator('member','conceptName')"></span>
              </th>
              <th ng-show="!isDirectory() && value != 'RELEASE'"
                class="col-md-2 col-xs-2"
                ng-click="setSortField('member','lastModified', selected.refset)">Last
                Modified<span
                  ng-bind="getSortIndicator('member','lastModified')"></span>
              </th>
              <th ng-show="isDirectory() || value == 'RELEASE'"
                class="col-md-2 col-xs-2"
                ng-click="setSortField('member','effectiveTime', selected.refset)">Effective
                Time<span ng-bind="getSortIndicator('member','effectiveTime')"></span>
              </th>
              <th class="col-md-2 col-xs-2"><select
                title="Filter by member type" style="width: 80px;"
                ng-model="paging['member'].typeFilter"
                ng-options="item for item in memberTypes"
                ng-change="getMembers(selected.refset)">
                  <option value="">All</option>
              </select></th>
              <th ng-show="value == 'ASSIGNED'">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="member in selected.refset.members"
              ng-click="selectMember(member);"
              ng-class="{selected : member.id == selected.member.id}">
              <td>{{member.conceptId}}</td>
              <td ng-class="getMemberStyle(member)">
                {{member.conceptName}}
                <span name-info name="member.conceptName"> </span>
              </td>
              <td ng-show="!isDirectory() && value != 'RELEASE'">
                {{toDate(member.lastModified)}}<br />{{member.lastModifiedBy}}
              </td>
              <td ng-show="isDirectory() || value == 'RELEASE'">{{toSimpleDate(member.effectiveTime)}}</td>
              <td>
                <button class="btn btn-xs btn-primary"
                  ng-show="member.memberType == 'MEMBER'" uib-tooltip="Member">M</button>
                <button class="btn btn-xs btn-danger"
                  ng-show="member.memberType == 'EXCLUSION'"
                  uib-tooltip="Exclusion">X</button>
                <button class="btn btn-xs btn-success"
                  ng-show="member.memberType == 'INCLUSION'"
                  uib-tooltip="Inclusion">I</button>
                <button class="btn btn-xs inactiv"
                  ng-show="!member.conceptActive" uib-tooltip="Inactive">I</button>
              </td>
              <!-- ASSIGNED actions -->
              <td class="nobreak" ng-show="value == 'ASSIGNED'">
                <i
                  confirm="Are you sure you want to remove the inclusion ({{member.conceptName}})?"
                  ng-show="selected.refset.type == 'INTENSIONAL' && projects.role != 'ADMIN' && member.memberType =='INCLUSION'"
                  ng-click="removeRefsetInclusion(selected.refset,member); $event.stopPropagation()"
                  title="Remove inclusion" class="noul material-icons md-18">delete</i>

                <i
                  confirm="Are you sure you want to remove the member ({{member.conceptName}})?"
                  ng-show="selected.refset.type == 'EXTENSIONAL' && projects.role != 'ADMIN'"
                  ng-click="removeRefsetMember(selected.refset,member); $event.stopPropagation()"
                  title="Remove" class="noul material-icons md-18">delete</i>
                <i
                  ng-show="selected.refset.type == 'INTENSIONAL' && projects.role != 'ADMIN' && member.memberType == 'EXCLUSION'"
                  ng-click="removeRefsetExclusion(selected.refset,member);  $event.stopPropagation()"
                  title="Remove exclusion" class="noul material-icons md-18">delete</i>

                <i
                  ng-show="selected.refset.type == 'INTENSIONAL' && projects.role != 'ADMIN' && member.memberType == 'MEMBER'"
                  ng-click="addRefsetExclusion(selected.refset, member); $event.stopPropagation()"
                  title="Add exclusion" class="noul material-icons md-18">remove_circle_outline</i>

                <i
                  ng-click="openNotesModal(member, 'Member'); $event.stopPropagation()"
                  ng-show="member.notes.length > 0" title="Edit member notes"
                  class="noul material-icons md-18">assignment</i>
                <i
                  ng-click="openNotesModal(member, 'Member'); $event.stopPropagation()"
                  ng-show="member.notes.length == 0"
                  title="Add member notes (no notes yet)"
                  class="md-grey material-icons md-18">assignment</i>

                <!-- replace inactive member -->
                <i ng-click="replace(selected.refset, member)"
                  ng-show="!member.conceptActive"
                  title="Add replacement concepts to refset"
                  class="noul material-icons md-18">rotate_right</i>
              </td>
            </tr>
          </tbody>
        </table>
        <span
          ng-show="selected.refset && selected.refset.members.totalCount == 0 && !paging['member'].filter && !withNotesOnly && !paging['member'].typeFilter">
          <br />
          <span ng-show="value !='AVAILABLE'" class="alert alert-warning">Refset
            members found</span>
          <span ng-show="value =='AVAILABLE'" class="alert alert-warning">No
            members, assign refset to edit</span>
        </span>
        <span
          ng-show="(paging['member'].filter || withNotesOnly || paging['member'].typeFilter) && selected.refset.members.totalCount == 0">
          <br />
          <span class="alert alert-warning"> No refset members matching
            filter </span>
        </span>

      </div>
    </div>
    <!-- End R2C1 -->
  </div>

  <!-- R2C2 -->
  <div class="col-md-6 col-xs-12">


    <div ng-show="selected.member" concept-info data="selected" value="value"
      role="projects.role" handle-workflow="handleWorkflow(selected.refset)"></div>


    <!-- End R2C2 -->
  </div>

  <!-- End R2 -->
</div>
