
<!-- R1 -->
<div class="row">
  <!-- R1C1 -->
  <div class="col-md-6 col-xs-12">

    <span style="display: block;">
      <uib-pagination items-per-page="pageSize" max-size="5"
        boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-show="refsets.totalCount > pageSize || paging['refset'].filter"
        total-items="refsets.totalCount" ng-model="paging['refset'].page"
        ng-change="getRefsets()"></uib-pagination>

      <input class="input-filter" placeholder="Enter filter text"
        ng-show="refsets.totalCount > pageSize || paging['refset'].filter"
        type="text" ng-model="paging['refset'].filter"
        ng-model-options="{ debounce: 300 }" ng-change="getRefsets()">

      <button class="btn btn-xs btn-warning" ng-show="paging['refset'].filter"
        ng-click="paging['refset'].filter = ''; getRefsets()"
        title="Click to clear filter text">Clear</button>

      <button type="button" class="btn btn-xs btn-primary"
        ng-show="refsets.totalCount > 0 &&
        (value == 'RELEASE' || value == 'BETA' || value == 'PUBLISHED')"
        ng-model="showLatest" ng-change="getRefsets()" uib-btn-checkbox
        btn-checkbox-true="true" btn-checkbox-false="false">
        <span ng-show="showLatest" title="Click to show all">Latest</span>
        <span ng-hide="showLatest" title="Click to show only most recent">All</span>
      </button>

      <!-- Admins shouldn't add projects -->
      <h4
        ng-show="value == 'AVAILABLE' && refsets.totalCount == 0 && projects.role != 'ADMIN'">
        <div style="float: right;">
          <button ng-click="openAddRefsetModal(); $event.stopPropagation()"
            title="Add refset" class="btn btn-xs btn-primary">Add
            Refset</button>
        </div>
      </h4>
    </span>

    <!-- Basic Refset info -->
    <span ng-show="refsets.totalCount == 0" style="display: block;"
      class="alert alert-warning">No refsets.</span>

    <table ng-show="refsets.totalCount > 0" class="table">
      <thead class="table-select-row">
        <th class="col-md-2 col-xs-2"
          ng-click="setSortField('refset','terminologyId', null)">Refset Id<span
            ng-bind="getSortIndicator('refset','terminologyId')"></span>
        </th>
        <th class="col-md-4 col-xs-4"><span
            ng-click="setSortField('refset','name', null)">
            Name
            <span ng-bind="getSortIndicator('refset','name',null)"></span>
          </span> / <span
            ng-show="value == 'PUBLISHED' || value == 'BETA' || value == 'RELEASE'">
            <span ng-click="setSortField('refset','effectiveTime', null)">
              Effective Time
              <span ng-bind="getSortIndicator('refset','effectiveTime',null)"></span>
            </span>
          </span> <span
            ng-show="value != 'PUBLISHED' && value != 'BETA' && value != 'RELEASE'">
            <span ng-click="setSortField('refset','lastModified', null)">
              Last Modified
              <span ng-bind="getSortIndicator('refset','lastModified',null)"></span>
            </span>
          </span></th>
        <th class="col-md-3 col-xs-3"
          ng-click="setSortField('refset','moduleId', null)">Module<span
            ng-bind="getSortIndicator('refset','moduleId',null)"></span></th>
        <th class="col-md-1 col-xs-1"
          ng-click="setSortField('refset','type', null)">Type<span
            ng-bind="getSortIndicator('refset','type',null)"></span></th>
        <!-- Actions header -->
        <th class="col-md-2 col-xs-2"
          ng-show="value == 'AVAILABLE' && projects.role != 'ADMIN'">Actions
          <span style="float: right;">
            <i ng-click="openAddRefsetModal(); $event.stopPropagation()"
              title="Add refset" class="noul material-icons md-18">add</i>
          </span>
        </th>
        <th class="col-md-2 col-xs-2"
          ng-show="userProjectsInfo.anyRole && (value == 'PUBLISHED' || value == 'BETA')">Actions
        </th>

      </thead>
      <tbody>
        <tr ng-repeat="refset in refsets" ng-click="selectRefset(refset);"
          ng-class="{selected: refset.id == selected.refset.id}">
          <td style="word-break: break-word;">{{refset.terminologyId}}</td>
          <td>
            {{refset.name}}
            <span ng-show="refset.effectiveTime">
              <br />{{toShortDate(refset.effectiveTime)}}
            </span>
            <span ng-show="!refset.effectiveTime">
              <br />{{toDate(refset.lastModified)}}
            </span>
          </td>
          <td>
            {{refset.moduleId}}
            <!-- Mobile friendly line-break -->
            <br class="visible-xs-inline" />
            <span flag-icon obj="refset"></span>
            <!-- Mobile friendly line-break -->
            <br class="visible-xs-inline" /> {{refset.organization}}
            <span ng-show="value != 'PUBLISHED' && value != 'BETA'">
              <br />{{refset.workflowStatus}}
            </span>
          </td>
          <td>
            <span refset-type-icon refset="refset"></span>
          </td>

          <!-- PUBLISHED/BETA actions -->
          <td class="nobreak" ng-show="value == 'PUBLISHED' || value == 'BETA'">
            <i ng-click="openFeedbackModal(refset); $event.stopPropagation()"
              title="Submit feedback" class="noul material-icons md-18">speaker_notes</i>
            <i ng-click="openCloneRefsetModal(refset); $event.stopPropagation()"
              ng-show="userProjectsInfo.anyRole && refset.type != 'EXTERNAL'"
              title="Clone" class="noul material-icons md-18">content_copy</i>
          </td>

          <!-- AVAILABLE actions -->
          <td class="nobreak" ng-show="value == 'AVAILABLE'">
            <i ng-click="openEditRefsetModal(refset); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i title="Remove"
              confirm="Are you sure you want to remove the refset ({{refset.name}})?"
              ng-click="removeRefset(refset); $event.stopPropagation()"
              class="noul material-icons md-18">delete</i>
            <i
              ng-click="openAssignRefsetModal(refset,'ASSIGN'); $event.stopPropagation()"
              title="Assign" class="noul material-icons md-18">assignment_ind</i>
            <i ng-show="refset.type != 'EXTERNAL'"
              ng-show="projects.role != 'ADMIN'"
              ng-click="openCloneRefsetModal(refset); $event.stopPropagation()"
              title="Clone" class="noul material-icons md-18">content_copy</i>
            <!-- ASSIGNED_ALL actions -->
          <td class="nobreak" ng-show="value == 'ASSIGNED_ALL'">

            <i
              confirm="Are you sure you want to remove the refset ({{refset.name}})?"
              ng-click="removeRefset(refset); $event.stopPropagation()"
              title="Remove" class="noul material-icons md-18">delete</i>

            <span ng-repeat="author in refsetAuthorsMap[refset.id]">
              <!-- Only unassign if there are no reviewers -->
              <i confirm="Are you sure you want to unassign the refset?"
                ng-show="!refsetReviewersMap[refset.id]"
                uib-tooltip="Unassign author: {{author.userName}}"
                ng-click="unassign(refset, author.userName);"
                class="noul material-icons md-18">assignment_return</i>
              <i ng-show="refsetReviewersMap[refset.id]"
                uib-tooltip="Author: {{author.userName}}, unassign reviewer first"
                class="md-grey material-icons md-18">assignment_return</i>
            </span>
            <span ng-repeat="reviewer in refsetReviewersMap[refset.id]">
              <i uib-tooltip="Unassign reviewer: {{reviewer.userName}}"
                ng-click="unassign(refset, reviewer.userName);"
                class="noul material-icons md-18">assignment_return</i>
            </span>

          </td>

          <!-- ASSIGNED actions -->
          <td class="nobreak" ng-show="value == 'ASSIGNED'">
            <i ng-click="openEditRefsetModal(refset); $event.stopPropagation()"
              title="Edit" class="noul material-icons md-18">edit</i>
            <i
              confirm="Are you sure you want to remove the refset ({{refset.name}})?"
              ng-click="removeRefset(refset);" title="Remove"
              class="noul material-icons md-18">delete</i>
            <i confirm="Are you sure you want to unassign the refset?"
              ng-click="unassign(refset, user.userName);" title="Unassign"
              class="noul material-icons md-18">assignment_return</i>
            <i ng-show="projects.role == 'REVIEWER'"
              ng-click="openAssignRefsetModal(refset,'REASSIGN'); $event.stopPropagation()"
              title="Reassign" class="noul material-icons md-18">assignment_ind</i>
            <i confirm="Are you sure you want to finalize editing/review?"
              ng-show="refset.workflowStatus.indexOf('IN_PROGRESS') != -1 || refset.workflowStatus=='REVIEW_NEW'"
              ng-click="performWorkflowAction(refset, 'FINISH', user.userName)"
              title="Finish" class="noul material-icons md-18">done</i>
            <i ng-show="refset.workflowStatus == 'REVIEW_DONE'"
              ng-click="performWorkflowAction(refset, 'FINISH', user.userName)"
              title="Mark ready for publication"
              class="noul material-icons md-18">open_in_new</i>

            <!-- Cancel buttons if migration in progress -->
            <span ng-show="refset.stagingType == 'IMPORT'">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="cancelAction(refset)"
                uib-tooltip="Click to cancel failed import">Cancel
                Import</button>
            </span>
            <span ng-show="refset.stagingType == 'MIGRATION'">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="cancelAction(refset)"
                uib-tooltip="Click to cancel migration">Cancel
                Migration</button>
            </span>

            <!-- Refresh/start buttons if lookup in progress -->
            <span
              ng-show="refset.lookupInProgress && refsetLookupProgress[refset.id] == -1">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="startLookup(refset)"
                uib-tooltip="Click to restart lookup">Restart Lookup</button>
            </span>
            <span
              ng-show="refset.lookupInProgress && refsetLookupProgress[refset.id] > -1 && refsetLookupProgress[refset.id] < 100">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="refreshLookupProgress(refset)"
                uib-tooltip="Click to refresh lookup progress">
                Refresh
                <span ng-show="refsetLookupProgress[refset.id]">
                  {{refsetLookupProgress[refset.id]}}%</span>
              </button>
            </span>
          </td>

          <!-- RELEASE actions -->
          <td class="nobreak" ng-show="value == 'RELEASE'">

            <i
              confirm="Are you sure you want to remove the refset ({{refset.name}})?"
              ng-show="refset.workflowStatus == 'PUBLISHED' || refset.workflowStatus == 'READY_FOR_PUBLICATION'"
              ng-click="removeRefset(refset);" title="Remove"
              class="noul material-icons md-18">delete</i>

            <i ng-show="refset.workflowStatus == 'READY_FOR_PUBLICATION'"
              ng-click="openAssignRefsetModal(refset,'ASSIGN','AUTHOR'); $event.stopPropagation()"
              title="Assign" class="noul material-icons md-18">assignment_ind</i>

            <!-- only if READY_FOR_PUBLICATION -->

            <i
              ng-show="refset.workflowStatus == 'READY_FOR_PUBLICATION' && !refset.inPublicationProcess"
              ng-click="openReleaseProcessModal(refset); $event.stopPropagation()"
              title="Start release process" class="noul material-icons md-18">open_in_new</i>
            <i
              ng-show="refset.workflowStatus == 'READY_FOR_PUBLICATION' && refset.inPublicationProcess"
              ng-click="openReleaseProcessModal(refset); $event.stopPropagation()"
              title="Continue release processing"
              class="noul material-icons md-18">open_in_new</i>

            <span ng-show="refset.stagingType == 'BETA'">
              <br />
              <button class="btn btn-xs btn-warning"
                ng-click="cancelAction(refset)"
                uib-tooltip="Click to cancel release process">Cancel
                Release</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- End R1C1 -->
  </div>

  <!-- R1C2 -->
  <div class="col-md-6 col-xs-12">

    <!-- Details, Releases, Members -->
    <span ng-show="!selected.refset && refsets.length > 0"
      class="alert alert-warning">Select a refset to see details</span>

    <div class="col-md-12 col-xs-12" ng-show="selected.refset">

      <!-- Refset Details -->
      <h4>{{selected.refset.name}}</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <b>Description</b>
            </td>
            <td>{{selected.refset.description}}</td>
          </tr>
          <tr ng-show="value != 'PUBLISHED' && value != 'BETA'">
            <td>
              <b>Notes</b>
            </td>
            <td>
              <div ng-show="selected.refset.notes.length > 0" class="truncate">
                <span ng-bind-html="getLatestNote(selected.refset)"></span>
                <span ng-show="selected.refset.notes.length > 1">
                  <br />{{selected.refset.notes.length-1}} more...
                </span>
              </div>
              <div>
                <i ng-show="selected.refset.notes.length > 0"
                  ng-click="openNotesModal(selected.refset, 'Refset'); $event.stopPropagation()"
                  title="Edit refset notes" class="noul material-icons md-18">assignment</i>
                <i ng-show="selected.refset.notes.length == 0"
                  title="Add refset note"
                  ng-click="openNotesModal(selected.refset, 'Refset'); $event.stopPropagation()"
                  class="md-grey material-icons md-18">assignment</i>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <b>Refset Id</b>
            </td>
            <td>{{selected.refset.terminologyId}}</td>
          </tr>
          <tr>
            <td>
              <b>Module Id</b>
            </td>
            <td>
              {{selected.refset.moduleId}}
              <span flag-icon obj="selected.refset"></span>
            </td>
          </tr>
          <tr>
            <td>
              <b>Namespace</b>
            </td>
            <td>{{selected.refset.namespace}}</td>
          </tr>
          <tr>
            <td>
              <b>Organization</b>
            </td>
            <td>{{selected.refset.organization}}</td>
          </tr>
          <tr ng-show="selected.refset.effectiveTime">
            <td>
              <b>Effective Time</b>
            </td>
            <td>{{toShortDate(selected.refset.effectiveTime)}}</td>
          </tr>
          <tr>
            <td>
              <b>Terminology</b>
            </td>
            <td>
              {{selected.refset.terminology}} {{selected.refset.version}}


              <i
                ng-click="openMigrationModal(selected.refset, 'Migration'); $event.stopPropagation()"
                ng-show="selected.refset.stagingType == null && value == 'ASSIGNED'"
                title="Migration" class="noul material-icons md-18">find_replace</i>

              <i
                ng-click="openMigrationModal(selected.refset, 'Migration'); $event.stopPropagation()"
                ng-show="selected.refset.stagingType == 'MIGRATION' && value == 'ASSIGNED'"
                title="Resume migration" class="noul material-icons md-18">play_arrow</i>

            </td>
          </tr>
          <tr>
            <td>
              <b>Version</b>
            </td>
            <td>{{selected.refset.version}}</td>
          </tr>
          <tr ng-show="selected.refset.type == 'INTENSIONAL'">
            <td>
              <b>Definition</b>
            </td>
            <td>
              <!-- edit/view/optimize definition -->
              <i ng-show="value != 'ASSIGNED'"
                ng-click="openDefinitionClausesModal(selected.refset, value);$event.stopPropagation()"
                title="View definition, assign refset to edit"
                class="noul material-icons md-18">list</i>
              <i ng-show="value == 'ASSIGNED'"
                ng-click="openDefinitionClausesModal(selected.refset, value);$event.stopPropagation()"
                title="Edit definition" class="noul material-icons md-18">edit</i>
              <i ng-show="value == 'ASSIGNED'"
                confirm="Remove redundant definition clauses, and invalid inclusions/exclusions."
                ng-click="optimizeDefinition(selected.refset);$event.stopPropagation()"
                title="Optimize definition" class="noul material-icons md-18">compare_arrows</i>
              <!-- Export -->
              <i
                ng-click="openImportExportModal(selected.refset, 'Export', 'Definition');$event.stopPropagation()"
                title="Export definition" class="noul material-icons md-18">file_download</i>
              <!-- Import -->
              <i ng-show="value == 'ASSIGNED'"
                confirm="The refset already has a definition, importing will override it. Do you want to continue?"
                confirm-if="selected.refset.definitionClauses.length>0"
                ng-click="openImportExportModal(selected.refset, 'Import', 'Definition');$event.stopPropagation()"
                title="Import definition" class="noul material-icons md-18">file_upload</i>
              <i ng-show="value == 'AVAILABLE'"
                title="Assign refset to edit definition"
                class="md-grey material-icons md-18">file_upload</i>
              <div style="max-height: 200px; overflow-y: scroll;">
                <table class="table">
                  <tbody>
                    <tr ng-repeat="clause in selected.refset.definitionClauses">
                      <td>
                        <div definition-clause clause="clause" mode="view"></div>
                      <td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr ng-show="selected.refset.type == 'EXTERNAL'">
            <td>
              <b>External Url</b>
            </td>
            <td>{{selected.refset.externalUrl}}</td>
          </tr>
          <tr ng-show="refsetReleaseInfo && !refsetReleaseInfo.planned">
            <td ng-show="refsetReleaseInfo.published">
              <b>RELEASED</b>
            </td>
            <td
              ng-show="refsetReleaseInfo && !refsetReleaseInfo.published && !refsetReleaseInfo.planned">
              <b>BETA</b>
            </td>
            <td>{{refsetReleaseInfo.name}}
          </tr>
          <tr ng-show="!refsetReleaseInfo">
            <td>Not yet released</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- release info -->
    <div class="col-md-12 col-xs-12">
      <span
        ng-show="selected.refset && refsetReleaseInfo && !refsetReleaseInfo.artifacts"
        class="alert alert-warning">Release has no associated artifacts</span>
      <div class="col-md-12 col-xs-12">
        <table
          ng-show="selected.refset && refsetReleaseInfo && refsetReleaseInfo.artifacts"
          class="table">
          <thead>
            <th class="col-md-6 col-xs-6">Release File</th>
            <th class="col-md-6 col-xs-6">Timestamp</th>
            <th style="width: 1%; word-wrap: nowrap"></th>
          </thead>
          <tbody>
            <tr
              ng-repeat="artifact in refsetReleaseInfo.artifacts | orderBy:'artifact.name'">
              <td>{{artifact.name}}</td>
              <td>{{toShortDate(artifact.timestamp)}}</td>
              <td>
                <i ng-click="exportReleaseArtifact(artifact)"
                  title="Export {{artifact.name}}"
                  class="noul material-icons md-18">file_download</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End R1C2 -->
  </div>

  <!-- End R1 -->
</div>

<hr ng-show="selected.refset"
  style="width: 100%; color: lightgrey; height: 1px; background-color: lightgrey;" />

<!-- R2 -->
<div class="row">

  <!-- R2C1 -->
  <div class="col-md-6 col-xs-12">

    <div ng-show="selected.member" concept-info data="selected" value="value"
      handle-workflow="handleWorkflow(selected.refset)"></div>

    <!-- End R2C1 -->
  </div>

  <!-- R2C2 -->
  <div class="col-md-6 col-xs-12">

    <div class="col-md-12 col-xs-12">
      <h4 ng-show="selected.refset">
        Refset Members
        <span ng-show="selected.refset.members.totalCount>0">
          ({{selected.refset.members.totalCount}})</span>

        <div style="float: right;">
          <!-- Export -->
          <i
            ng-click="openImportExportModal(selected.refset, 'Export', 'Refset Members'); $event.stopPropagation()"
            title="Export refset members" class="noul material-icons md-18">file_download</i>
          <!-- Import -->
          <i
            ng-show="value == 'ASSIGNED' && selected.refset.type == 'EXTENSIONAL'"
            ng-click="openImportExportModal(selected.refset, 'Import', 'Refset Members'); $event.stopPropagation()"
            title="Import refset members" class="noul material-icons md-18">file_upload</i>
          <i
            ng-show="value == 'AVAILABLE' && selected.refset.type == 'EXTENSIONAL'"
            title="Assign refset to make changes to members"
            class="md-grey material-icons md-18">file_upload</i>
            
          <!-- Add member list -->  
          <i
            ng-show="value == 'ASSIGNED' && selected.refset.type == 'EXTENSIONAL'"
            ng-click="openAddRefsetMemberListModal(); $event.stopPropagation()"
            title="Add/remove refset member list" class="noul material-icons md-18">playlist_add</i>
            
          <!-- Add member -->

          <i ng-show="value == 'ASSIGNED'"
            ng-click="openAddMemberModal(selected.refset); $event.stopPropagation()"
            title="Add refset member" class="noul material-icons md-18">add</i>
          <i ng-show="value == 'AVAILABLE'"
            title="Assign refset to make changes to members"
            class="md-grey material-icons md-18">add</i>
          <!-- Remove all members -->
          <i
            confirm="Are you sure you want to remove all the members of the refset ({{selected.refset.name}})?"
            ng-show="value == 'ASSIGNED' && selected.refset.type == 'EXTENSIONAL' && selected.refset.members.length > 0"
            ng-click="removeAllRefsetMembers(selected.refset); "
            title="Remove all members" class="noul material-icons md-18">delete</i>
        </div>
      </h4>
      <span
        ng-show="selected.refset && !paging['member'].filter && !paging['member'].typeFilter && selected.refset.members.totalCount == 0">
        <br />
        <span ng-show="value !='AVAILABLE'" class="alert alert-warning">Refset
          has no members</span>
        <span ng-show="value =='AVAILABLE'" class="alert alert-warning">No
          members, assign refset to edit</span>
      </span>

      <span>
        <span style="display: block;">
          <uib-pagination items-per-page="pageSize" max-size="5"
            boundary-links="true" class="pagination-xs" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            ng-show="selected.refset.members.totalCount > pageSize"
            total-items="selected.refset.members.totalCount"
            ng-model="paging['member'].page"
            ng-change="getMembers(selected.refset)"></uib-pagination>

          <input class="input-filter" placeholder="Enter filter text"
            ng-show="selected.refset.members.totalCount > pageSize || paging['member'].filter"
            type="text" ng-model="paging['member'].filter"
            ng-model-options="{ debounce: 300 }"
            ng-change="getMembers(selected.refset)">

          <button class="btn btn-xs btn-warning"
            ng-show="paging['member'].filter"
            ng-click="paging['member'].filter = ''; getMembers(selected.refset)"
            title="Click to clear filter text">Clear</button>

        </span>

        <table
          ng-show="selected.refset.members.totalCount > 0 || paging['member'].filter || paging['member'].typeFilter"
          class="table">
          <thead class="table-select-row">
            <th class="col-md-3 col-xs-3"
              ng-click="setSortField('member','conceptId', selected.refset)">Concept
              Id<span ng-bind="getSortIndicator('member','conceptId')"></span>
            </th>
            <th class="col-md-5 col-xs-5"
              ng-click="setSortField('member','conceptName', selected.refset)">Name<span
                ng-bind="getSortIndicator('member','conceptName')"></span>
            </th>
            <th ng-show="value != 'PUBLISHED' && value != 'BETA'"
              class="col-md-2 col-xs-2"
              ng-click="setSortField('member','lastModified', selected.refset)">Last
              Modified<span ng-bind="getSortIndicator('member','lastModified')"></span>
            </th>
            <th ng-show="value == 'PUBLISHED' || value == 'BETA'"
              class="col-md-2 col-xs-2"
              ng-click="setSortField('member','effectiveTime', selected.refset)">Effective
              Time<span ng-bind="getSortIndicator('member','effectiveTime')"></span>
            </th>
            <th class="col-md-2 col-xs-2"><select
              title="Filter by member type" style="width: 80px;"
              ng-model="paging['member'].typeFilter"
              ng-options="item for item in memberTypes"
              ng-change="getMembers(selected.refset)">
                <option value="">All</option>
            </select></th>
            <th ng-show="value == 'ASSIGNED' || value == 'ASSIGNED_ALL'">Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="member in selected.refset.members"
              ng-click="selectMember(member);"
              ng-class="{selected : member.id == selected.member.id}">
              <td>{{member.conceptId}}</td>
              <td ng-class="getMemberStyle(member)">{{member.conceptName}}</td>
              <td
                ng-show="value != 'PUBLISHED' && value != 'BETA' && value != 'RELEASE'">{{toDate(member.lastModified)}}</td>
              <td
                ng-show="value == 'PUBLISHED' || value == 'BETA' || value == 'RELEASE'">{{toShortDate(member.effectiveTime)}}</td>
              <td>
                <button class="btn btn-xs btn-primary"
                  ng-show="member.memberType == 'MEMBER'" uib-tooltip="Member">M</button>
                <button class="btn btn-xs btn-danger"
                  ng-show="member.memberType == 'EXCLUSION'"
                  uib-tooltip="Exclusion">X</button>
                <button class="btn btn-xs btn-success"
                  ng-show="member.memberType == 'INCLUSION'"
                  uib-tooltip="Inclusion">I</button>
                <button class="btn btn-xs retired"
                  ng-show="!member.conceptActive" uib-tooltip="Retired">R</button>
              </td>
              <!-- ASSIGNED actions -->
              <td class="nobreak"
                ng-show="value == 'ASSIGNED' || value == 'ASSIGNED_ALL'">

                <i
                  confirm="Are you sure you want to remove the inclusion ({{member.conceptName}})?"
                  ng-show="selected.refset.type == 'INTENSIONAL' && member.memberType =='INCLUSION'"
                  ng-click="removeRefsetInclusion(selected.refset,member); $event.stopPropagation()"
                  title="Remove inclusion" class="noul material-icons md-18">delete</i>

                <i
                  confirm="Are you sure you want to remove the member ({{member.conceptName}})?"
                  ng-show="selected.refset.type == 'EXTENSIONAL'"
                  ng-click="removeRefsetMember(selected.refset,member); $event.stopPropagation()"
                  title="Remove" class="noul material-icons md-18">delete</i>

                <i
                  ng-show="selected.refset.type == 'INTENSIONAL' && member.memberType == 'EXCLUSION'"
                  ng-click="removeRefsetExclusion(selected.refset,member);  $event.stopPropagation()"
                  title="Remove exclusion" class="noul material-icons md-18">delete</i>

                <i
                  ng-show="selected.refset.type == 'INTENSIONAL' && member.memberType == 'MEMBER'"
                  ng-click="addRefsetExclusion(selected.refset, member); $event.stopPropagation()"
                  title="Add exclusion" class="noul material-icons md-18">remove_circle_outline</i>

                <i
                  ng-click="openNotesModal(member, 'Member'); $event.stopPropagation()"
                  ng-show="member.notes.length > 0" title="Edit member Notes"
                  class="noul material-icons md-18">assignment</i>

                <i
                  ng-click="openNotesModal(member, 'Member'); $event.stopPropagation()"
                  ng-show="member.notes.length == 0" title="Add member notes"
                  class="md-grey material-icons md-18">assignment</i>
              </td>
            </tr>
          </tbody>
        </table>
        <span
          ng-show="paging['member'].filter && selected.refset.members.totalCount == 0"
          class="alert alert-warning">
          <br />No refset members matching filter
        </span>

      </span>
    </div>

    <!-- End R2C2 -->
  </div>

  <!-- End R2 -->
</div>
