<div class="modal-header">
  <h4 style="display: inline">Release Refset</h4>
  <span style="float: right">
    <i class="noul glyphicon glyphicon-remove" ng-click="close()"> </i>
  </span>
</div>

<div class="modal-body">
  <div
    ng-show="refset.inPublicationProcess && !validationResult && refset.stagingType != 'BETA' && stagedRefset.workflowStatus != 'BETA'"
    class="alert alert-success">Release of {{releaseInfo.name}} has been
    started.</div>

  <div
    ng-show="validationResult && refset.stagingType != 'BETA' &&
    validationResult.warnings.length == 0 &&
    validationResult.errors.length == 0"
    class="alert alert-success">Validation passed with no errors or
    warnings.</div>

  <div
    ng-show="refset.stagingType == 'BETA' || stagedRefset.workflowStatus == 'BETA'"
    class="alert alert-success">BETA release is complete and can be viewed
    in the "Releases" section.</div>
  <div
    ng-show="refset.stagingType == 'BETA' || stagedRefset.workflowStatus == 'BETA'"
    class="alert alert-success">
    Click "Finish" to finalize publication. <br> <br>Click "Close" to
    review the BETA release (the release can be resumed from the RELEASES
    section).
  </div>

  <div ng-show="validationResult && refset.stagingType != 'BETA'">
    <h4 ng-show="validationResult.warnings.length > 0">Warnings</h4>
    <table class="table">
      <tr ng-repeat="warning in validationResult.warnings">
        <td class="alert alert-warning">{{warning}}</td>
      </tr>
    </table>
    <h4 ng-show="validationResult.errors.length > 0">Errors</h4>
    <table class="table">
      <tr ng-repeat="error in validationResult.errors">
        <td class="alert alert-danger alert-error">{{error}}</td>
      </tr>
    </table>
  </div>
  <div ng-show="!refset.inPublicationProcess">
    <table class="table">
      <tr>
        <td>
          <b>Id</b>
        </td>
        <td>{{refset.terminologyId}}</td>
      </tr>
      <tr>
        <td>
          <b>Name</b>
        </td>
        <td>{{refset.name}}</td>
      </tr>
      <tr>
        <td>
          <b>Description</b>
        </td>
        <td>{{refset.description}}</td>
      </tr>
      <tr>
        <td>
          <b>Definition</b>
        </td>
        <td>{{refset.definition}}</td>
      </tr>
      <tr>
        <td>
          <b>Type</b>
        </td>
        <td>
          <span refset-type-icon refset="refset"></span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Workflow Status</b>
        </td>
        <td>{{refset.workflowStatus}}</td>
      </tr>
      <tr>
        <td>
          <b>Release Date</b>
        </td>
        <td>
          <p class="input-group">
            <span class="input-group-btn">
              <input style="width: 150px" type="text" class="form-control"
                uib-datepicker-popup="yyyyMMdd" ng-model="refset.effectiveTime"
                is-open="status.opened" datepicker-options="dateOptions"
                date-disabled="disabled(date, mode)" ng-required="true"
                close-text="Close" placeholder="YYYYMMDD" />
              <button type="button" class="btn btn-xs btn-default"
                ng-click="open($event)">
                <i title="Calendar" class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <b>I/O Handler</b>
        </td>
        <td>
          <span ng-show="ioHandlers.length>
              1">
            <select ng-model="selectedIoHandler"
              ng-options="item.name for item in ioHandlers"></select>
          </span>
          <span ng-show="ioHandlers.length == 1">{{ioHandlers[0].name}}</span>
        </td>
      </tr>
      <!-- Errors -->
      <tr ng-show="errors.length > 0">
        <td colspan="2'">
          <div class="alert alert-danger alert-error">
            {{errors[0]}}
            <div style="display: inline; float: right;">
              <i ng-show="errors[1]"
                title="{{error.expand ? 'Show' : 'Hide'}} long error"
                class="noul material-icons md-18"
                ng-click="error.expand = !error.expand;">attach_file</i>
            </div>
            <p ng-show="errors[1] && error.expand">
              <br />{{errors[1]}}
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">

  <button class="btn btn-xs btn-primary" ng-show="!refset.inPublicationProcess"
    ng-click="beginRefsetRelease(refset)">Release</button>
  <button class="btn btn-xs btn-primary"
    ng-show="refset.inPublicationProcess && !validationResult && refset.stagingType != 'BETA' && stagedRefset.workflowStatus != 'BETA'"
    ng-click="validateRefsetRelease(refset)">Validate</button>
  <button class="btn btn-xs btn-primary"
    ng-show="validationResult && validationResult.errors.length==0 && refset.stagingType != 'BETA'"
    ng-click="betaRefsetRelease(refset)">Beta</button>
  <button class="btn btn-xs btn-primary"
    ng-show="refset.stagingType == 'BETA' || stagedRefset.workflowStatus == 'BETA'"
    ng-click="finishRefsetRelease(refset)">Finish</button>
  <button confirm="Are you sure you want to cancel the refset release?"
    class="btn btn-xs btn-warning" ng-show="refset.inPublicationProcess && releaseSuccessfullyStarted==true"
    ng-click="cancel()">Cancel</button>
  <button class="btn" ng-click="close()">Close</button>
</div>