<div class="modal-header">
  <h4>Release</h4>
</div>

<div class="modal-body">
  <div>
    <table class="table">
      <tr>
        <td><b>Id</b></td>
        <td>{{refset.terminologyId}}</td>
      </tr>
      <tr>
        <td><b>Name</b></td>
        <td>{{refset.name}}</td>
      </tr>
      <tr>
        <td><b>Description</b></td>
        <td>{{refset.description}}</td>
      </tr>
      <tr>
        <td><b>Definition</b></td>
        <td>{{refset.definition}}</td>
      </tr>
      <tr>
        <td><b>Type</b></td>
        <td><span refset-type-icon refset="refset"></span></td>
      </tr>
      <tr>
        <td><b>Workflow Status</b></td>
        <td>{{refset.workflowStatus}}</td>
      </tr>      
      <tr>
        <td><b>Release Version</b></td>
        <td><select ng-model="releaseVersion"
          ng-options="item for item in versions"></select></td>
      </tr>
      <tr>
        <td><b>I/O Handler</b></td>
        <td><span ng-show="ioHandlers.length>
              1">
            <select ng-model="selectedIoHandler"
              ng-options="item.name for item in ioHandlers"></select>
          </span> <span ng-show="ioHandlers.length == 1">{{ioHandlers[0].name}}</span>
        </td>
      </tr>
      <!-- Errors -->
      <tr ng-show="errors.length > 0">
        <td>&nbsp;</td>
        <td><div class="alert alert-danger alert-error" ng-repeat="error in errors">
            {{error}}
            <!-- DO NOT SUPPORT clearing error <div
              style="cursor: pointer; display: inline; float: right; width: 3%;">
              <i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
            </div> -->
          </div></td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-show="releaseInfo.length == 0" ng-click="validateRefsetRelease(refset) 
    ">Validate</button>
  <button class="btn btn-primary" ng-show="releaseInfo.length > 0" ng-click="beginRefsetRelease(refset, effectiveTime) 
    ">Release</button>
  <button class="btn btn-warning" ng-click="cancel(refset)">Cancel</button>
</div>