<div class="modal-header">
  <h4>Release</h4>
</div>

<div class="modal-body">
  <div>
    <table class="table">
      <tr>
        <td><b>Id</b></td>
        <td>{{refset.terminologyId}}</td>
      </tr>
      <tr>
        <td><b>Name</b></td>
        <td>{{refset.name}}</td>
      </tr>
      <tr>
        <td><b>Description</b></td>
        <td>{{refset.description}}</td>
      </tr>
      <tr>
        <td><b>Definition</b></td>
        <td>{{refset.definition}}</td>
      </tr>
      <tr>
        <td><b>Type</b></td>
        <td><a ng-show="refset.type == 'EXTERNAL'" ng-click=""
            style="text-decoration: none">
            <i tooltip="Reference to an external refset stored elsewhere."
              class="material-icons md-18">forward</i>
          </a> <a ng-show="refset.type == 'EXTENSIONAL'" ng-click=""
            style="text-decoration: none">
            <i ng-show="refset.type == 'EXTENSIONAL'"
              tooltip="Extensional refset, defined as an explicit list of members."
              class="material-icons md-18">list</i>
          </a> <a ng-show="refset.type == 'INTENSIONAL'" ng-click=""
            style="text-decoration: none">
            <i ng-show="refset.type == 'INTENSIONAL'"
              tooltip="Intenional refset, defined as a definition with includes/excludes."
              class="material-icons md-18">settings-square</i>
          </a></td>
      </tr>
      <tr>
        <td><b>Workflow Status</b></td>
        <td>{{refset.workflowStatus}}</td>
      </tr>
      <tr>
        <td>I/O Handler</td>
        <td><span ng-show="ioHandlers.length>
              1">
            <select ng-model="selectedIoHandler"
              ng-options="item.name for item in ioHandlers"></select>
          </span> <span ng-show="ioHandlers.length == 1">{{ioHandlers[0].name}}</span>
        </td>
      </tr>
      <!-- Errors -->
      <tr ng-show="errors.length > 0">
        <td>&nbsp;</td>
        <td><div class="alert alert-danger alert-error"
            ng-repeat="error in errors">{{error}}</div></td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="release(refset) 
    ">Release</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>