<div class="modal-header">
  <h4>Replacement Concepts</h4>
</div>

<div class="modal-body">
  <p ng-show="refset.type == 'INTENSIONAL'">Select inactive concept and/or
    replacement concepts to be included.</p>
  <p ng-show="refset.type == 'EXTENSIONAL'">Select replacement concepts to
    be included.</p>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-1 col-xs-1"></th>
        <th class="col-md-3 col-xs-3"></th>
        <th class="col-md-5 col-xs-5"></th>
        <th class="col-md-3 col-xs-3"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="refset.type == 'INTENSIONAL'">
        <td>
          <input type="checkbox" ng-model="selection.ids[member.conceptId]">
        </td>
        <td style="word-break: break-word;">{{member.conceptId}}</td>
        <td>{{member.conceptName}}</td>
        <td>
          <button class="btn btn-xs inactive" ng-show="!member.conceptActive"
            uib-tooltip="Inactive">I</button>
        </td>
      </tr>
      <tr ng-repeat="concept in concepts"
        ng-class="{disabled : invalid.ids[concept.terminologyId]}">
        <td>
          <input type="checkbox" ng-show="!invalid.ids[concept.terminologyId]"
            ng-model="selection.ids[concept.terminologyId]">
          <i ng-show="invalid.ids[concept.terminologyId]"
            uib-tooltip="Replacement concept is already a member of the refset."
            class="noul material-icons md-18">info</i>
        </td>
        <td>{{concept.terminologyId}}</td>
        <td>{{concept.name}}</td>
        <td>{{concept.definitionStatusId}}</td>

      </tr>
    </tbody>
  </table>


  <!-- Errors -->
  <table>
    <!-- Errors and warnings-->
    <tr
      ng-show="errors.length == 1 || (errors.length == 2 && errors[1].length>100)">
      <td colspan="2">
        <div class="alert alert-danger alert-error">
          {{errors[0]}}
          <div style="display: inline; float: right;">
            <i ng-show="errors[1]"
              title="{{error.expand ? 'Show' : 'Hide'}} long eror"
              class="noul material-icons md-18"
              ng-click="error.expand = !error.expand;">attach_file</i>
          </div>
          <p ng-show="errors[1] && error.expand">
            <br />{{errors[1]}}
          </p>
        </div>
      </td>
    </tr>
    <tr
      ng-show="errors.length>2 || (errors.length == 2 && errors[1].length<101)">
      <td colspan="2">
        <div class="alert alert-danger alert-error" ng-repeat="error in errors">{{error}}</div>
      </td>
    </tr>
    <tr class="alert alert-warning" ng-repeat="warning in warnings">
      <td colspan="2">
        <div class="alert alert-warning">{{warning}}</div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="selection.ids.length == 1"
    ng-click="submitAdd()">Submit</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>