<!-- Controlled by DirectoryCtrl (in directoryController.js)  -->

<div class="row">

  <div class="col-md-12 col-xs-12">

    <h4>Refsets</h4>

    <uib-accordion> <uib-accordion-group is-open="accordionState['PUBLISHED']">
    <uib-accordion-heading ng-click="setAccordion('PUBLISHED');">
    <h5 class="section-header" ng-click="setAccordion('PUBLISHED');">Published</h5>
    </uib-accordion-heading>
    <div refset-table value="PUBLISHED" projects="projects" metadata="metadata"></div>
    </uib-accordion-group> <uib-accordion-group is-open="accordionState['PREVIEW']"> <uib-accordion-heading>
    <h5 class="section-header" ng-click="setAccordion('PREVIEW');">Preview</h5>
    </uib-accordion-heading>
    <div refset-table value="PREVIEW" projects="projects" metadata="metadata"></div>
    </uib-accordion-group> </uib-accordion>

    <h4>Translations</h4>

    <uib-accordion> <uib-accordion-group is-open="accordionState['TRANSLATION_PUBLISHED']">
    <uib-accordion-heading>
    <h5 class="section-header" ng-click="setAccordion('TRANSLATION_PUBLISHED');">Published</h5>
    </uib-accordion-heading>
    <div translation-table value="PUBLISHED" projects="projects"
      metadata="metadata"></div>
    </uib-accordion-group> <uib-accordion-group is-open="accordionState['TRANSLATION_PREVIEW']"> <uib-accordion-heading>
    <h5 class="section-header" ng-click="setAccordion('TRANSLATION_PREVIEW');">Preview</h5>
    </uib-accordion-heading>
    <div translation-table value="PREVIEW" projects="projects"
      metadata="metadata"></div>
    </uib-accordion-group> </uib-accordion>


  </div>
</div>



