<!-- Controlled by AdminCtrl (in adminController.js)  -->
<div class="row">

  <!-- Content -->
  <div class="col-md-12 col-xs-12">
  <h4>Application Administration</h4>
    <accordion ng-show="user.applicationRole == 'ADMIN'" > 
    <accordion-group heading="Application Administration" 
    is-open="false">
     <!-- Projects --> <accordion-heading>
    <h5>
      <span tooltip-placement="right" tooltip="List of the projects.">
        Projects </span>
    </h5>
    </accordion-heading>
    <div class="col-md-12 col-xs-12">
      <h4>
        <div style="float: right;">
          <a title="Create new project" ng-click="openNewProjectModal(lproject)">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
      </h4>
      <table class="table">
        <thead>
          <th class="col-md-2 col-xs-2">Id</th>
          <th class="col-md-8 col-xs-8">Name</th>
          <th class="col-md-1 col-xs-1">&nbsp;</th>
          <th class="col-md-1 col-xs-1">&nbsp;</th>
        </thead>
        <tbody>
          <tr ng-repeat="project in projects" ng-click="setProject(project)">
            <td ng-class="{selected: project.id === selectedProject.id}">{{project.id}}</td>
            <td><a ng-click="project.isExpanded = !project.isExpanded">
                [ <i
                  ng-class="{'glyphicon-minus': project.isExpanded, 'glyphicon-plus': !project.isExpanded}"></i>
                ]
              </a>{{project.name}}
              <div collapse="!project.isExpanded">{{project.description}}</div></td>

            <td><a title="Edit"
                ng-click="openEditProjectModal(project); $event.stopPropagation()">
                <i class="glyphicon glyphicon-pencil"></i>
              </a></td>

            <td><a title="Remove"
                ng-click="remove('project',project,projects); $event.stopPropagation()">
                <i class="glyphicon glyphicon-remove"></i>
              </a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--  end Projects -->
    </accordion-group>
    <accordion-group> <!-- Users --> <accordion-heading>
    <h5>
      <span tooltip-placement="right" tooltip="List of the users and their application roles.">
        Users </span>
    </h5>
    </accordion-heading>
    <div class="col-md-12 col-xs-12">
      <h4>
        <div style="float: right;">
          <a title="Create new user" ng-click="openNewUserModal(luser)">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
      </h4>
      <table class="table">
        <thead>
          <th class="col-md-2 col-xs-2">Username</th>
          <th class="col-md-3 col-xs-3">Name</th>
          <th class="col-md-3 col-xs-3">Email</th>
          <th class="col-md-2 col-xs-2">Application Role</th>
          <th class="col-md-1 col-xs-1">&nbsp;</th>
          <th class="col-md-1 col-xs-1">&nbsp;</th>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.userName}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.applicationRole}}</td>
            
            <td><a title="Edit"
                ng-click="openEditUserModal(user); $event.stopPropagation()">
                <i class="glyphicon glyphicon-pencil"></i>
              </a></td>

            <td><a title="Remove"
                ng-click="remove('user',user,users); $event.stopPropagation()">
                <i class="glyphicon glyphicon-remove"></i>
              </a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--  end Users -->
    </accordion-group>
    </accordion>

    <h4>User & Project Management</h4>
    <div class="col-md-6 col-xs-12">
      <table class="table">
        <h5>Project List</h5>
        <thead>
          <th class="col-md-1 col-xs-1">Id</th>
          <th class="col-md-5 col-xs-5">Name</th> 
          <th class="col-md-6 col-xs-6">Description</th>         
        </thead>
        <tbody>
          <tr ng-repeat="project in projects" ng-click="setProject(project)">
            <td ng-class="{selected: project.id === selectedProject.id}">{{project.id}}</td>
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="col-md-6 col-xs-12">
      <h5>Project User Selection & Role Assignment</h5> 
      Select User:<br> <select ng-model="selectedUser" 
        ng-options="item.name for item in users"></select><br>  
      Select Project Role:<br> <select ng-model="selectedProjectRole" 
        ng-options="item for item in projectRoles"></select><br>  
      <button class="btn btn-sm btn-primary" type="submit"
         ng-click="assignUserToProject(selectedProject.id, selectedUser.userName, selectedProjectRole)">Assign User/Role</button>
    </div>
    
    <div class="col-md-6 col-xs-12">
      <h5>Project Users</h5>
      <table class="table">
        <thead>
          <th class="col-md-5 col-xs-5">Name</th> 
          <th class="col-md-5 col-xs-5">UserName</th> 
          <th class="col-md-2 col-xs-2">Project Role</th> 
          <th class="col-md-1 col-xs-1">&nbsp;</th>       
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in selectedProject.projectRoleMap.entry">
            <td>{{value.key.name}}</td>
            <td>{{value.key.userName}}</td>
            <td>{{value.value}}</td>
            <td><a title="Unassign"
                ng-click="unassignUserFromProject(selectedProject.id, value.key.userName);">
                <i class="glyphicon glyphicon-remove"></i>
              </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>