@import url("//hello.myfonts.net/count/2f4f94");

@font-face {
	font-family: 'Museo-300';
	src: url('../fonts/2F4F94_0_0.eot');
	src: url('../fonts/2F4F94_0_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/2F4F94_0_0.woff2') format('woff2'),
		url('../fonts/2F4F94_0_0.woff') format('woff'),
		url('../fonts/2F4F94_0_0.ttf') format('truetype');
}

body {
	padding-bottom: 100px;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #00a6e5;
}

.intro-text {
	max-width: 450px;
}

.login-field {
	margin: 5px;
}

.alert {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.top-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 10000;
	cursor: wait;
	background-color: #FFFFFF;
}

.pagination {
	display: inline;
	/* override from inline-block to allow multiple items per line */
	padding-left: 0;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	border-radius: 4px;
}

.highlighted {
	background: yellow
}

/* Angular UI Tree overrides */
.angular-ui-tree-handle {
	font-weight: normal; /* originally 700 */
	cursor: auto; /* originally move */
}

.glyphicon-leaf {
	opacity: 0.5;
}

/* Material Design Icons */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

/* Makes table section headers medium blue background */
.section-header {
	background-color: #bee4f2;
	padding: 5px;
}

/* Makes font size in table smaller than default */
/* TODO: renaming this table-small-font breaks all the other table styling */
.table {
	font-size: 12px;
}

/* Shades the background of the selected project cell */
.selected {
	background-color: #e9e9e9;
}

.header-footer-title {
	font-size: 16px;
	color: white;
	font-family: Museo-300, sans-serif;
	display: inline;
}

.header-footer-text {
	font-size: 12px;
	color: white;
	font-family: Museo-300, sans-serif;
	display: inline;
}

.header-footer-link {
	cursor: pointer;
}

.header-footer-bg {
	background-color: #474747;
}

.nobreak {
	display: inline-block;
	white-space: nowrap;
}

.table-select-row {
	cursor: pointer;
}
